<!-- <div class="modal fade" id="locating-manage-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content rounded-0"> -->
      <div class="modal-header p-4">
        <h5 class="modal-title ml-4">
          <strong i18n="@@locatingManageModalHeader">Gérer les zones favorites</strong>
        </h5>
        <button type="button" class="close rounded" (click)="activeModal.close();">
          <span aria-hidden="true"><i class="fa fars-close"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body-container m-auto p-5">
          <h5 class="mb-3" i18n="@@locatingManageModalListOfFavoriteAreasTitle" >Liste des zones favorites</h5>
          <ul class="p-2 px-3 border" dragula="ZONES" [dragulaModel]="editingSessionFavoriteZones" (dragulaModelChange)="dragEnd($event)">
            <li class="py-1" *ngFor="let zone of editingSessionFavoriteZones; index as indexZone;">
              <input type="text" #inputNameZone [id]="zone.id" [readonly]="edit !== (zone.id)" [class]="(edit === (zone.id)) ? 'form-control mr-2' : 'form-control-plaintext'"
                [value]="zone.title"  i18n-placeholder="@@locatingManageModalFavoriteAreaNamePlaceholder" placeholder="Renommer la zone"/>
              <button type="button" class="btn btn-danger mr-2"
                (click)="locateOnMap(zone.bbox ? zone.bbox : null, zone.id, zone.user ? zone.user : null)" [hidden]="edit">
                <i class="fars fars-center-geoloc"></i></button>
              <button type="button" class="btn btn-danger moving-item" [hidden]="edit"><i class="fars fars-deplacer lg"></i>
              </button>
              <button type="button" class="btn btn-link"
                (click)="(edit === (zone.id)) ? save(inputNameZone.value, zone.id, zone.user ? zone.user : null) : (edit = zone.id)">
                <i [class]="(edit === (zone.id)) ? 'fars fars-sauvegarder' : 'fars fars-editer'"></i>
              </button>
              <button type="button" class="btn btn-link"
                (click)="(edit === (zone.id)) ? cancel(inputNameZone, zone) : delete(zone)">
                <i [class]="(edit === (zone.id)) ? 'fars fars-close' : 'fars fars-supprimer'"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    <!-- </div>
  </div>
</div> -->

<alk-alert-confirm-prompt-modal
  [type]="'confirm'"
  [title]="'Supprimer la zone favorite ?'"
  [description]="'Cette suppression sera définitive.'"
  [buttonValidationColor]="'danger'"
  [buttonValidationText]="'Supprimer'"
></alk-alert-confirm-prompt-modal>
