
<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <b i18n="@@printingPdfModalHeader" >Imprimer au format PDF</b>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="closeModal(true)" [disabled]="mapService.impressionEnCours">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-body-container m-auto">
    <form class="my-3">
      <h5><b i18n="@@printingPdfModalMapTitleLabel">Titre de la carte</b></h5>
      <input [(ngModel)]="mapService.mapTitlePrint" [ngModelOptions]="{standalone: true}" type="text" class="form-control pl-1 my-3" i18n-placeholder="@@printingPdfModalMapTitlePlaceholder" placeholder="Titre" >
      <h5><b i18n="@@printingPdfModalContualCommentLabel">Commentaire contextuel</b></h5>
      <textarea [(ngModel)]="mapService.mapCommentPrint" [ngModelOptions]="{standalone: true}" type="text" rows="4" class="form-control pl-1 my-3" i18n-placeholder="@@printingPdfModalContualCommentPlaceholder" placeholder="Commentaire"></textarea>
      <h5 class="required"><b i18n="@@printingPdfModalImageFormatLabel" >Format de l'image</b></h5>
      <div class="format-select d-flex flex-row my-4 text-left">
        <div [class]="(mapService.imageFormat === 'A4') ? 'format card m-2 selected' : 'format card m-2'" (click)="selectImageFormat('A4')">
          <div class="card-body py-2">
            <h6 class="card-title m-0" i18n="@@printingPdfModalImageFormatLabelA4" >A4</h6>
          </div>
        </div>
        <div [class]="(mapService.imageFormat === 'A3') ? 'format card m-2 selected' : 'format card m-2'" (click)="selectImageFormat('A3')">
          <div class="card-body py-2">
            <h6 class="card-title m-0" i18n="@@printingPdfModalImageFormatLabelA3" >A3</h6>
          </div>
        </div>
      </div>
      <h5 class="required"><b i18n="@@printingPdfModalPresentationTemplateLabel" >Modèle de présentation</b></h5>
      <div id="carousel-modeles" class="carousel slide my-4" data-ride="carousel" data-interval="false">
        <div class="modele-select carousel-inner mx-auto">
          <div class="carousel-item" [class.active]="itemFirst" *ngFor="let item of mapService.carrouselItems; index as i; first as itemFirst">
            <div class="row text-center">
              <div class="col-3 modele" *ngFor="let option of item, index as indexOption" [class.selected]="option.selected" (click)="selectModele(i, indexOption)">
                <img [src]="option['img']" alt="">
                <p><small>{{ option['text'] }}</small></p>
              </div>
            </div>
          </div>
        </div>
        <a *ngIf="mapService.carrouselItems && mapService.carrouselItems.length > 1" class="carousel-control-prev" href="#carousel-modeles" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa fars-chevron-gauche"></i></span>
          <span class="sr-only" i18n="@@printingPdfModalPaginationPreviousLink" >Précédent</span>
        </a>
        <a *ngIf="mapService.carrouselItems && mapService.carrouselItems.length > 1" class="carousel-control-next" href="#carousel-modeles" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa fars-chevron-droite"></i></span>
          <span class="sr-only" i18n="@@printingPdfModalPaginationNextLink" >Suivant</span>
        </a>
      </div>
      <h5 *ngIf="mapService.drawnFeaturePrint" class="text-success">
        <b><i class="fa fars-select"></i> <ng-container i18n="@@printingPdfModalCroppedArea" >Zone recadrée</ng-container>.</b>
      </h5>
    </form>
    <div class="text-right my-4">
      <button class="btn btn-recadrage" (click)="startSelectExportArea()" [disabled]="mapService.selectedCarrouselOption.indexCarrousel == null || !mapService.imageFormat" >
        <b><i class="fa fa-lg fars-crop mr-3"></i><span i18n="@@printingPdfModalCropExportedAreaButton" >Recadrer la zone exportée</span></b>
      </button>
      <button class="btn btn-modal px-3 py-2" (click)="prepareImpressionRequest()" [disabled]="mapService.impressionEnCours || mapService.selectedCarrouselOption.indexCarrousel == null || !mapService.imageFormat">
        <div *ngIf="mapService.impressionEnCours" class="spinner-border text-primary"></div>
        <ng-container i18n="@@printingPdfModalPrintButton" >Imprimer</ng-container>
      </button>
    </div>
    <!-- <div *ngIf="mapService.impressionEnCours" class="text-center">
      <h2>Génération en cours ...</h2>
      <div class="spinner-border text-primary"></div>
    </div> -->
  </div>
</div>
