<div id="fondcarte" class="map-footer-item dropdown" *ngIf="baseLayerGroup && baseLayerGroup.length > 0" ngbDropdown placement="top-right">
  <a class="dropdown-toggle"  id="dropdownFondCarte" ngbDropdownToggle>
    <ng-container i18n="@@baseMapDropDownButton">Fond de carte</ng-container> <i class="fas fars-chevron-bas"></i>
  </a>
  <div class="dropdown-menu" ngbDropdownMenu>
    <form>
      <div class="form-slider-container" >
        <label for="sliderOpacity" i18n="@@baseMapDropDownVisibilityLabel" >Visibilité du fond de carte</label>
        <mv-slider [value]="visibleBaseLayer ? visibleBaseLayer.getOpacity() : null" [enabled]="visibleBaseLayer !== null && visibleBaseLayer.getVisible()" [min]="0" [step]="0.05" [max]="1" tooltip="hide" (change)="changeVisibilityPercent($event)"></mv-slider>
      </div>
      <div class="pt-3">
        <div class="form-group">
          <div class="form-check">
            <!-- Modifier la sélection radio pour que ce soit une image à la place de l'input radio -->
            <input class="form-check-input" type="radio" name="baseLayer"
                id="baseLayer_none" [value]="true"
                [checked]="visibleBaseLayer === null"
                (click)="chooseActiveBaseLayer(null)"
            />
            <label class="form-check-label" for="baseLayer_none" i18n="@@baseMapDropDownNoneBaseMapLayer" >Aucun Fond de carte</label>
          </div>
        </div>
        <div class="form-group" *ngFor="let baseLayer of baseLayerGroup">
          <div class="form-check d-flex">
            <!-- Modifier la sélection radio pour que ce soit une image à la place de l'input radio -->
            <input class="form-check-input " type="radio" name="baseLayer"
                [attr.id]="baseLayer.get('layerIdx')" [value]="true"
                [checked]="baseLayer.getVisible()"
                (click)="chooseActiveBaseLayer(baseLayer)"
            />
            <label class="form-check-label" [attr.for]="baseLayer.get('layerIdx')" >
              <img *ngIf="baseLayer.get('imagebaseLayer')" [src]="baseLayer.get('imagebaseLayer')" alt="" class="float-left imageLegend mr-2" />
              <span class="d-flex flex-grow-1 pl-0" >{{ baseLayer.get('name') }}</span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
