.slider.slider-horizontal .slider-track {
  height: 7px;
}
.slider-handle {
  width: 15px;
  height: 15px;
  background: #fff;
  box-shadow: 0 0 2px 1px #aeaeae;
}
.slider-selection {
  background: #40b96a;
}

.slider .tooltip.in {
  opacity: 1;
}
.slider .tooltip-inner {
  white-space: nowrap;
  max-width: none;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #40b96a;
  border-radius: 0.25rem;
}

.LegendImg {
  max-height: 20px;
  max-width: 30px;
}