
<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <strong i18n="@@printingImageModalHeader">Imprimer au format image</strong>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close();" [disabled]="mapService.impressionEnCours">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body my-3">
  <div class="modal-body-container m-auto">
    <h5><strong i18n="@@printingImageModalFileFormatLabel" >Format du fichier</strong></h5>
    <div class="format-select d-flex flex-row my-4 text-left">
      <div [class]="(fileFormat === 'png') ? 'format card m-2 selected' : 'format card m-2'" (click)="selectFileFormat('png')">
        <div class="card-body py-2">
          <h6 class="card-title m-0" i18n="@@printingImageModalFileFormatPng" >PNG</h6>
        </div>
      </div>
      <div [class]="(fileFormat === 'jpg') ? 'format card m-2 selected' : 'format card m-2'" (click)="selectFileFormat('jpg')">
        <div class="card-body py-2">
          <h6 class="card-title m-0" i18n="@@printingImageModalFileFormatJpg">JPG</h6>
        </div>
      </div>
    </div>
    <h5 *ngIf="mapService.drawnFeaturePrint" class="text-success">
      <b><i class="fa fars-select"></i> <ng-container i18n="@@printingImageModalCroppedAreaLabel" >Zone recadrée</ng-container>.</b>
    </h5>
    <div class="text-right mt-4">
      <button class="btn btn-recadrage" (click)="startSelectExportArea()">
        <strong><i class="fa fa-lg fars-crop mr-3"></i><span i18n="@@printingImageModalCropExportedAreaButton" >Recadrer la zone exportée</span></strong>
      </button>
      <button class="btn btn-modal px-3 py-2" (click)="prepareImpressionRequest()" [disabled]="mapService.impressionEnCours">
        <div *ngIf="mapService.impressionEnCours" class="spinner-border text-primary"></div>
        <ng-container i18n="@@printingImageModalPrintButton" >Imprimer</ng-container>
      </button>
    </div>
  </div>
</div>
