<div class="exporter-pdf-initial modal-content rounded-0">
  <div class="modal-header p-4">
    <h5 class="modal-title ml-4" id="exampleModalLabel">
      <strong i18n="@@printingExportModalHeader" >Exporter</strong>
    </h5>
    <button type="button" class="close rounded" data-dismiss="modal" (click)="closeModal(true);" [disabled]="mapService.impressionEnCours">
      <span aria-hidden="true"><i class="fa fars-close"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body-container m-auto">
      <form class="my-3">
        <h5><strong i18n="@@printingExportModalMapTitleLabel">Titre de la carte</strong></h5>
        <input [(ngModel)]="mapService.mapTitlePrint" [ngModelOptions]="{standalone: true}" type="text" class="form-control pl-1 my-3" i18n-placeholder="@@printingExportModalMapTitlePlaceholder" placeholder="Titre" >
        <h5><strong i18n="@@printingExportModalMapSubTitleLabel">Sous-titre de la carte</strong></h5>
        <input [(ngModel)]="mapService.mapSubtitlePrint" [ngModelOptions]="{standalone: true}" type="text" class="form-control pl-1 my-3" i18n-placeholder="@@printingExportModalMapSubTitlePlaceholder" placeholder="Sous-titre">
        <div class="row">
          <div class="col-8">
            <h5><strong i18n="@@printingExportModalContextualCommentLabel" >Commentaire contextuel</strong></h5>
            <textarea [(ngModel)]="mapService.mapCommentPrint" [ngModelOptions]="{standalone: true}" type="text" rows="5" class="form-control pl-1 my-3" i18n-placeholder="@@printingExportModalCommentPlaceholder" placeholder="Commentaire" ></textarea>
          </div>
          <div class="col-4">
            <div class="format-select row mb-3 text-left">
              <div class="col-6 p-0">
                <div class="h-100 d-flex flex-column justify-content-between">
                  <h5 class="ml-2"><strong i18n="@@printingExportModalOrientationLabel" >Orientation</strong></h5>
                  <div class="format card text-center mx-2" [class.selected]="mapService.orientation === 'landscape'" (click)="selectOrientation('landscape')">
                    <div class="card-body d-flex justify-content-center flex-column p-2">
                      <img [src]="'assets/img/exportPaysage.png'" alt="">
                      <small class="mt-2" i18n="@@printingExportModalOrientationLandscapeLabel" >Paysage</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 p-0">
                <div class="format card text-center mx-2" [class.selected]="mapService.orientation === 'portrait'" (click)="selectOrientation('portrait')">
                  <div class="card-body d-flex justify-content-center flex-column p-2">
                    <img [src]="'assets/img/exportPortrait.png'" alt="">
                    <small class="mt-2" i18n="@@printingExportModalOrientationPortraitLabel" >Portrait</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h5><strong i18n="@@printingExportModalImageFormatLabel" >Format de l'image</strong></h5>
            <div class="format-select d-flex flex-row my-4 text-left">
              <div class="format card m-2" [class.selected]="mapService.imageFormat === 'A3'" (click)="selectImageFormat('A3')">
                <div class="card-body py-2">
                  <h6 class="card-title m-0" i18n="@@printingExportModalImageFormatLabelA3">A3</h6>
                </div>
              </div>
              <div class="format card m-2" [class.selected]="mapService.imageFormat === 'A4'" (click)="selectImageFormat('A4')">
                <div class="card-body py-2">
                  <h6 class="card-title m-0" i18n="@@printingExportModalImageFormatLabelA4">A4</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5">
            <h5><strong i18n="@@printingExportModalFileFormatLabel" >Format du fichier</strong></h5>
            <div class="format-select d-flex flex-row my-4 text-left">
              <div class="format card m-2" [class.selected]="mapService.fileFormat === 'pdf'" (click)="selectFileFormat('pdf')">
                <div class="card-body py-2">
                  <h6 class="card-title m-0" i18n="@@printingExportModalFileFormatLabelPdf">PDF</h6>
                </div>
              </div>
              <div class="format card m-2" [class.selected]="mapService.fileFormat === 'jpg'" (click)="selectFileFormat('jpg')">
                <div class="card-body py-2">
                  <h6 class="card-title m-0" i18n="@@printingExportModalFileFormatLabelJpg" >JPG</h6>
                </div>
              </div>
              <div class="format card m-2" [class.selected]="mapService.fileFormat === 'png'" (click)="selectFileFormat('png')">
                <div class="card-body py-2">
                  <h6 class="card-title m-0" i18n="@@printingExportModalFileFormatLabelPng">PNG</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <h5><strong i18n="@@printingExportModalNumberOfPagesLabel" >Nombre de pages</strong></h5>
            <div class="format-select d-flex flex-row my-4 text-left">
              <div class="format card m-2" [class.selected]="mapService.pageNumber === 1" (click)="selectPageNumber(1)">
                <div class="card-body py-2">
                  <h6 class="card-title m-0">1</h6>
                </div>
              </div>
              <div class="format card m-2" [class.selected]="mapService.pageNumber === 2" (click)="selectPageNumber(2)">
                <div class="card-body py-2">
                  <h6 class="card-title m-0">2</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h5 i18n="@@printingExportModalChoosingContentToDisplayLabel"><strong>Choix du contenu à afficher</strong> (Par défaut, l’export inclut la carte et ses données)</h5>
        <div class="d-inline-flex flex-column mt-3">
          <div id="export-pdf-checkbox" class="flex-grow-1 mx-3">
            <label class="customcheck">
              <ng-container i18n="@@printingExportModalScaleCheckboxLabel" >Échelle</ng-container>
              <input [(ngModel)]="mapService.scalingCheckbox" [ngModelOptions]="{standalone: true}" type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
            <label class="customcheck">
              <ng-container i18n="@@printingExportModalMiniMapCheckboxLabel" >Mini-carte</ng-container>
              <input [(ngModel)]="mapService.keyMapCheckbox" [ngModelOptions]="{standalone: true}" type="checkbox">
              <span class="checkmark"></span>
            </label>
            <div class="d-flex mb-1">
              <label class="customcheck my-auto">
                <ng-container i18n="@@printingExportModalMentionCheckboxLabel" >Mention</ng-container>
                <input [(ngModel)]="mapService.mentionCheckbox" [ngModelOptions]="{standalone: true}" type="checkbox">
                <span class="checkmark"></span>
              </label>
              <input [(ngModel)]="mapService.mentionText" [ngModelOptions]="{standalone: true}" type="text" class="form-control d-inline-block w-100 ml-2 py-0" i18n-placeholder="@@printingExportModalMentionTextPlaceholder" placeholder="Document de travail">
            </div>
            <div class="d-flex">
              <label class="customcheck">
                  <ng-container i18n="@@printingExportModalCaptionCheckboxLabel" >Légende</ng-container>
                <input [(ngModel)]="mapService.legendCheckbox" [ngModelOptions]="{standalone: true}" type="checkbox">
                <span class="checkmark"></span>
              </label>
              <a class="ml-2" (click)="openLegendModal()"><small><strong i18n="@@printingExportModalCustomLink">Personnaliser</strong></small></a>
            </div>
          </div>
        </div>
        <h5 *ngIf="mapService.drawnFeaturePrint" class="text-success">
          <b><i class="fa fars-select"></i> <ng-container i18n="@@printingExportModalCroppedAreaLabel" >Zone recadrée</ng-container>.</b>
        </h5>
      </form>
      <div class="text-right my-4">
        <button class="btn btn-recadrage" (click)="startSelectExportArea()">
          <b><i class="fa fa-lg fars-crop mr-3"></i><span i18n="@@printingExportModalCropExportedArea">Recadrer la zone exportée</span></b>
        </button>
        <button class="btn btn-modal px-3 py-2" (click)="prepareExportRequest()" [disabled]="mapService.impressionEnCours">
          <div *ngIf="mapService.impressionEnCours" class="spinner-border text-primary"></div>
          <ng-container i18n="@@printingExportModalExportButton">Exporter</ng-container>
        </button>
      </div>
      <!-- <div *ngIf="mapService.impressionEnCours" class="text-center">
        <h2>Génération en cours ...</h2>
        <div class="spinner-border text-primary"></div>
      </div> -->
    </div>
  </div>
</div>

<!-- Traduction -->
<input type="hidden" #printingExportMentionText i18n-value="@@printingExportModalMentionText" value="Document de Travail"/>

