<div #ficheInfoPopup id="fiche-info-popup" class="popover" [class.d-none]="!ficheVisible"
  [class.bs-popover-left]="popoverLeft" [class.bs-popover-right]="!popoverLeft"
  [style.top]="popoverTop ? '0px' : 'calc( 30px - '+ficheInfoPopupOffsetHeight+'px )' "
  [style.margin-top]="popoverTop ? '-28px' : '0px' "
  [style.margin-left]="popoverLeft ? 'calc( 0px - 8px - 355px )' : ''" [style]="{'align-items': 'strech'}"
  style="width: 355px; max-width: 355px; max-height: 40vh;">
  <!-- [style.margin-left]="!popoverLeft ? '9px' : 'calc( 0px - 8px - 355px )'" -->
  <ng-container *ngIf="resultsOfInterrogation">
    <div class="arrow" [style.top]=" popoverTop ? '16px' : 'unset' " [style.bottom]=" popoverTop ? 'unset' : '16px' ">
    </div>
    <div id="fiche-info-title" #ficheInfoTitle class="popover-header">
      <div class="d-flex align-items-center">
        <h5 class="flex-grow-1" i18n="@@interrogatingTooltipModalTitle">Information</h5>
      </div>
    </div>
    <div id="fiche-info-content" class="popover-body table-responsive p-0" [style.max-height]="'calc( 40vh - 49px )'">
      <table #ficheInfoTable class="table table-sm table-hover table-striped info-bulle">
        <ng-container *ngFor="let layerResults of resultsOfInterrogation.layersResults; let indexLayerResults = index;">
          <tbody [class.mt-2]="indexLayerResults > 0">
            <tr>
              <th scope="colgroup" colspan="2">
                <div class="btn-group">
                  <button type="button" class="btn btn-link" [disabled]="layerResults.nbResults < 2"
                    (click)="prevFeature(layerResults.layerName)" i18n-title="@@interrogatingTooltipModalPrevious"
                    title="précédent">
                    <i class="fa fa-fw fa-arrow-left"></i>
                  </button>
                  <div class="input-group-prepend">
                    <div class="align-self-center">{{ (layerResultIndex[layerResults.layerName].index + 1) }} / {{
                      layerResults.nbResults }}</div>
                  </div>
                  <button type="button" class="btn btn-link" [disabled]="layerResults.nbResults < 2"
                    (click)="nextFeature(layerResults.layerName)" i18n-title="@@interrogatingTooltipModalNExt"
                    title="suivant">
                    <i class="fa fa-fw fa-arrow-right"></i>
                  </button>
                </div>
                <span class="ml-2">{{ layerResults.layerName }}</span>
              </th>
            </tr>
            <tr *ngFor="let layerQueryField of layerResults.layerQueryFields"
              [attr.data-updateSize]="updateTooltipTableSize(ficheInfoPopup.offsetHeight, ficheInfoTable.offsetHeight)">
              <ng-container *ngIf="layerQueryField && layerQueryField.FieldType" [ngSwitch]="layerQueryField.FieldType">
                <ng-container *ngSwitchCase="'TXT'">
                  <th scope="row" [innerText]="layerQueryField.FieldAlias"></th>
                  <td class="fiche-modified">{{
                    layerResults.data[layerResultIndex[layerResults.layerName].index][layerQueryField.FieldName] }}</td>
                </ng-container>
                <ng-container *ngSwitchCase="'URL'">
                  <th scope="row" [innerText]="layerQueryField.FieldAlias"></th>
                  <td class="fiche-modify">
                    <a [href]="getLayerQueryField(layerResults.layer, layerResults.data[layerResultIndex[layerResults.layerName].index], layerQueryField)"
                      target="_blank">
                      {{ layerResults.data[layerResultIndex[layerResults.layerName].index][layerQueryField.FieldName]
                      }}</a>
                  </td>
                </ng-container>
                <ng-container *ngSwitchCase="'IMG'">
                  <th scope="row" [innerText]="layerQueryField.FieldAlias"></th>
                  <td class="fiche-modify">
                    <a [href]="getLayerQueryField(layerResults.layer, layerResults.data[layerResultIndex[layerResults.layerName].index], layerQueryField)"
                      target="_blank">
                      {{ layerResults.data[layerResultIndex[layerResults.layerName].index][layerQueryField.FieldName] }}
                      <i class="fa fa-external-link"></i></a>
                  </td>
                </ng-container>
              </ng-container>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
  </ng-container>
</div>