#wms-timer {
    width: 645px;
    #progressbar {
        display: inline-block;
        width: 40%;
    }
}

#wms-timer.hours-minutes {
    width: 705px;
}

#sidebar-opened-timer {
    box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);
    z-index: 100;
    position: absolute;
    right: 100%;
    z-index: 1;
}

.sidebar-timer-btn {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    display: block;
    height: 100%;
    text-align: center;
    button {
        height: 143px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding: 0px 5px;
        font-size: 0.7rem;
    }
    button.rounded-left {
        border-radius: 0;
        border-top-left-radius: 2px !important;
        border-bottom-left-radius: 2px !important;
    }
}
