<div *ngIf="selectedLayer" id="sidebar-closed-timer" class="sidebar-timer-btn" [ngbCollapse]="!isCollapsed"
  [hidden]="!isCollapsed">
  <button i18n-title="wmsTimerOpenButtonTitle" title="Ouvrir le lecteur WMS" class="btn btn-collapse"
    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="sidebar-visualisation">
    <i class="fas fars-chevron-gauche fa-lg"></i>
  </button>
</div>

<div class="p-l-0 p-r-0" id="sidebar-timer" [ngbCollapse]="isCollapsed">
  <div id="sidebar-opened-timer" class="sidebar-timer-btn">
    <button class="btn btn-collapse rounded-left" (click)="stop(); isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="sidebar-timer">
      <i class="fas fars-chevron-droite fa-lg"></i>
    </button>
  </div>
  <div id="wms-timer" class="d-flex flex-column shadow-sm"
    [class.hours-minutes]="['minutes', 'hours'].includes(wmstimeStepUnits)">
    <div class="p-2">
      <select class="custom-select" [(ngModel)]="selectedLayer" (change)="changeSelectedLayer()">
        <option *ngFor="let layer of wmsLayers" [value]="layer">
          <span>{{ layer.get('name') }}</span>
        </option>
      </select>
    </div>
    <div class="d-flex flex-row justify-content-between p-2">
      <span class="mx-3"> {{ startDateToModify }} </span>
      <mv-slider id="time-slider" [range]="wmstimeMode"
        [value]="wmstimeMode ? [minDateRange, maxDateRange] : maxDateRange" [min]="0" [step]="1"
        [max]="dateRanges.length ? (dateRanges.length - 1) : 10" tooltip="hide" [enabled]="true"></mv-slider>
      <span class="mx-3"> {{ endDate }} </span>
    </div>
    <div class="d-flex justify-content-between border-top px-2 py-1">
      <div>
        <button class="btn" (click)="previous('current')" [hidden]="wmstimeMode" [disabled]="currentDate === startDate">
          <i class="fa fa-backward"></i>
        </button>
        <button class="btn" (click)="play()" [hidden]="isPlaying"><i class="fa fa-play"></i></button>
        <button class="btn" (click)="pause()" [hidden]="!isPlaying"><i class="fa fa-pause"></i></button>
        <button class="btn" (click)="stop()"><i class="fa fa-stop"></i></button>
        <!-- <button class="btn mr-3"><i class="fa fa-pause"></i></button> -->
        <button class="btn" (click)="next('current')" [hidden]="wmstimeMode" [disabled]="currentDate === endDate">
          <i class="fa fa-forward"></i>
        </button>
        <button class="btn" [attr.aria-pressed]="isRepeating" (click)="isRepeating = !isRepeating"><i
            class="fa fa-repeat"></i></button>
      </div>
      <div class="my-auto">
        <button class="btn py-0" [hidden]="!wmstimeMode" (click)="previous(wmstimeMode ? 'start' : 'current')"
          [disabled]="startDateToModify === startDate">
          <i class="fas fars-chevron-gauche fa-lg"></i>
        </button>
        <span> {{ startDate }} </span>
        <button class="btn py-0" [hidden]="!wmstimeMode" (click)="next(wmstimeMode ? 'start' : 'current')"
          [disabled]="startDate === endDate">
          <i class="fas fars-chevron-droite fa-lg"></i>
        </button>
        <span> / </span>
        <button class="btn py-0" [hidden]="!wmstimeMode" (click)="previous('current')"
          [disabled]="startDateToModify === startDate">
          <i class="fas fars-chevron-gauche fa-lg"></i>
        </button>
        <span [class.mr-3]="!wmstimeMode"> {{ currentDate }} </span>
        <button class="btn py-0" [hidden]="!wmstimeMode" (click)="next('current')" [disabled]="startDate === endDate">
          <i class="fas fars-chevron-droite fa-lg"></i>
        </button>
      </div>
    </div>
  </div>
</div>