<ng-container *ngIf="resultsOfInterrogation !== null && !closed">
  <div class="modal-header p-3">
    <h6 class="modal-title mx-2" id="exampleModalLabel">
      <strong i18n="@@resultMobileH6Info">Information</strong>
    </h6>
    <div class="btn-group">
      <button type="button" class="btn btn-link py-0" [disabled]="selectedLayer.nbResults < 2"
        (click)="prevFeature(selectedLayer.layerName)" i18n-title title="précédent">
        <i class="fa fa-fw fa-arrow-left"></i>
      </button>
      <div class="input-group-prepend">
        <div class="align-self-center">{{ (selectedLayer.nbResults === 0) ? 0 :
          (layerResultIndex[selectedLayer.layerName].index + 1) }} / {{ selectedLayer.nbResults }}</div>
      </div>
      <button type="button" class="btn btn-link py-0" [disabled]="selectedLayer.nbResults < 2"
        (click)="nextFeature(selectedLayer.layerName)" i18n-title title="suivant">
        <i class="fa fa-fw fa-arrow-right"></i>
      </button>
    </div>
    <button type="button" class="close rounded" data-dismiss="modal" aria-label="Close" (click)="closeModalBox();">
      <span aria-hidden="true"><i class="fa fars-close"></i></span>
    </button>
  </div>
  <div class="modal-body p-0">
    <select class="custom-select border-0 my-1" [(ngModel)]="selectedLayer">
      <option *ngFor="let layer of resultsOfInterrogation.layersResults" [value]="layer">
        <span>{{ layer.layerName }}</span>
      </option>
    </select>
    <div *ngIf="interrogatingService.currentLayerResults && (selectedLayer && selectedLayer.nbResults > 0)"
      id="interrogation-table">
      <div id="fiche-info-content" class="popover-body table-responsive p-0" [style.max-height]="'calc( 40vh - 49px )'">
        <table #ficheInfoTable class="table table-sm table-hover table-striped info-bulle">
          <tbody>
            <tr>
              <th><span class="ml-2" i18n="@@resultMobileThColLibelles"> Libellés </span></th>
              <th><span class="ml-2" i18n="@@resultMobileThColDonnees"> Données </span></th>
            </tr>
            <tr *ngFor="let layerQueryField of selectedLayer.layerQueryFields">
              <ng-container *ngIf="layerQueryField && layerQueryField.FieldType" [ngSwitch]="layerQueryField.FieldType">
                <ng-container *ngSwitchCase="'TXT'">
                  <th scope="row" [innerText]="layerQueryField.FieldAlias"></th>
                  <td class="fiche-modified">{{
                    selectedLayer.data[layerResultIndex[selectedLayer.layerName].index][layerQueryField.FieldName] }}
                  </td>
                </ng-container>
                <ng-container *ngSwitchCase="'URL'">
                  <th scope="row" [innerText]="layerQueryField.FieldAlias"></th>
                  <td class="fiche-modify">
                    <a [href]="getLayerQueryField(selectedLayer.layer, selectedLayer.data[layerResultIndex[selectedLayer.layerName].index], layerQueryField)"
                      target="_blank">
                      {{ selectedLayer.data[layerResultIndex[selectedLayer.layerName].index][layerQueryField.FieldName]
                      }}</a>
                  </td>
                </ng-container>
                <ng-container *ngSwitchCase="'IMG'">
                  <th scope="row" [innerText]="layerQueryField.FieldAlias"></th>
                  <td class="fiche-modify">
                    <a [href]="getLayerQueryField(selectedLayer.layer, selectedLayer.data[layerResultIndex[selectedLayer.layerName].index], layerQueryField)"
                      target="_blank">
                      {{ selectedLayer.data[layerResultIndex[selectedLayer.layerName].index][layerQueryField.FieldName]
                      }} <i class="fa fa-external-link"></i></a>
                  </td>
                </ng-container>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="selectedLayer && selectedLayer.nbResults === 0" id="interrogation-table">
      <p i18n="@@resultMobileNoneResult">Il n'y a pas de résultat pour cette couche.</p>
    </div>
  </div>
</ng-container>