<div [class]="screenMode === 'mobile' ? 'p-2 bg-white text-center' : null">
  <p *ngIf="isConnected !== null && !isConnected" class="user-connected">
    <strong i18n="@@openingModalSignInMessagePart1">Vous disposez d’un compte personnel ?</strong><br />
    <ng-container i18n="@@openingModalSignInPart2">Connectez-vous pour ouvrir vos cartes personnelles.</ng-container>
    <br />
  </p>
  <p *ngIf="isConnected === null" class="user-connected">
    <strong i18n="@@openingModalSignInMessagePart3">Chargez une carte au format .geojson :</strong><br />
  </p>
  <div *ngIf="isConnected && (savedMaps && savedMaps.length !== 0)" id="modal-body-presentation">
    <ul class="p-2 px-3 border">
      <li class="py-1" *ngFor="let map of savedMaps; index as indexZone;">
        <input type="text" #inputNameMap [id]="map.id" [readonly]="edit !== map.id"
          [class]="(edit === map.id) ? 'form-control pl-2 mr-2' : 'form-control-plaintext pl-2'" [value]="map.title"
          i18n-placeholder="@@openingModalRenameMapPlaceholder" placeholder="Renommer la map" />
        <button type="button" class="btn btn-danger" (click)="changeContext(null, map.id)" [hidden]="edit"><i
            class="fars fars-ouvrir"></i></button>
        <button type="button" class="btn btn-link"
          (click)="(edit === map.id) ? saveMap(inputNameMap.value, map.id) : (edit = map.id)"><i
            [class]="(edit === map.id) ? 'fars fars-sauvegarder' : 'fars fars-editer'"></i></button>
        <button type="button" class="btn btn-link"
          (click)="(edit === map.id) ? cancelMap(inputNameMap, map) : deleteMap(map)"><i
            [class]="(edit === map.id) ? 'fars fars-close' : 'fars fars-supprimer'"></i></button>
      </li>
    </ul>
    <p *ngIf="!isConnected || (isConnected && (savedMaps && savedMaps.length !== 0))" class="user-connected mt-4">
      <strong i18n="@@openingModalChoice">OU</strong>
    </p>
  </div>
  <div id="modal-body-options" class="mt-4 mb-1">
    <label for="file-upload" class="custom-file-upload btn btn-modal px-2 py-2 mb-0 mr-2"
      i18n="@@openingModalInputFileLabel">Charger un fichier...</label>
    <input #fileUpload id="file-upload" type="file" accept=".geojson" />
    <button class="btn btn-modal-grey px-3 py-2 ml-2" [disabled]="!fileUpload.value"
      (click)="changeContext(fileUpload.files[0], {read: null, static: true})" i18n="@@openingModalLoadFileButton">
      Ouvrir ce fichier</button>
  </div>
  <span>{{ fileUpload.value ? fileUpload.value.split('/').pop().split('\\').pop() : '' }}</span>
</div>