input[type="text"] {
    text-overflow: ellipsis;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

li {
    border-bottom: 1px dotted #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
li:last-of-type {
    border-bottom: none;
}
p {
    flex-grow: 1;
    color:  theme-color('secondary');
}