<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <strong i18n="@@savingMessageModalHeader">Sauvegarde effectuée sur le serveur</strong>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body d-flex justify-content-center">
  <div class="modal-body-container m-auto my-3 py-3 text-center">
    <div id="modal-body-presentation" class="my-5">
      <p class="mb-2">
        <strong>
          <ng-container *ngIf="contextLifetime === 0; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate i18n="@@savingMessageModalMessageMapSavedOnServer">
            Votre carte a été sauvegardée sur le serveur. Vous pouvez la retrouver à tout moment à partir de cette URL
          </ng-template>
          <ng-template #elseTemplate i18n="@@savingMessageModalMessageMapSavedOnServerForNDays" >
            Votre carte a été sauvegardée sur le serveur. Elle est accessible à partir de cette URL pendant {{ this.contextLifetime }} jours
          </ng-template>
        </strong>
      </p>
      <div class="input-group align-content-center">
        <input #websiteLink type="text" class="form-control" readonly [value]="currentUrl">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="copyLink(websiteLink);"><i class="fas fars-copier-fichier"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="toast" [class.show]="showToast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body" i18n="@@savingMessageModalCopyToast">
    Le lien a bien été copié.
  </div>
</div>
