<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <strong i18n="@@openingModalHeader" >Ouvrir un fichier</strong>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body d-flex justify-content-center">
  <div class="modal-body-container my-3 py-3 text-center">
    <alk-opening-content-modal [screenMode]="'desktop'"></alk-opening-content-modal>
  </div>
</div>
