<button type="button" (click)="interrogationTooltip()" class="btn btn-block btn-light border p-1 m-0 mt-2" [class.selected]="isTooltipInterrogationEnabled">
  <i class="fa fa-comment-o"></i>
</button>
<span [hidden]="true" i18n="@@interrogatingTooltipToolName">Info-bulles</span>
