<ng-container *ngIf="modalReady">
  <div class="modal-header">
    <h5 *ngIf="!titleIsHtml" class="modal-title ml-4" id="exampleModalLabel">
      <ng-container *ngIf="title; then thenTitleTemplate; else elseTitleTemplate"></ng-container>
      <ng-template #thenTitleTemplate>
        <strong [innerText]="title"></strong>
      </ng-template>
      <ng-template #elseTitleTemplate>
        <ng-container [ngSwitch]="type">
          <strong *ngSwitchCase="'alert'" i18n="@@alertConfirmPromptModalPromptDefaultAlertTitle">
            Attention
          </strong>
          <strong *ngSwitchCase="'confirm'" i18n="@@alertConfirmPromptModalPromptDefaultConfirmTitle">
            Demande de confirmation
          </strong>
          <strong *ngSwitchCase="'prompt'" i18n="@@alertConfirmPromptModalPromptDefaultPromptTitle">
            Demande de confirmation
          </strong>
        </ng-container>
      </ng-template>
    </h5>
    <h5 *ngIf="titleIsHtml" class="modal-title ml-4" id="exampleModalLabel">
      <strong [innerHtml]="title"></strong>
    </h5>
    <button *ngIf="canBeClosed" type="button" class="close rounded" (click)="modalRef.dismiss(null)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="modal-body-container ml-4">
      <p *ngIf="description" class="lead" [innerText]="description"></p>

      <ng-container *ngIf="type === 'prompt'">
        <p i18n="@@alertConfirmPromptModalPromptDescription">Veuillez saisir la valeur <b>{{ promptNeededValue }}</b>
          dans le champs ci-dessous.</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" (keydown.enter)="tryClose($event)" ngbAutofocus
            i18n-placeholder="@@alertConfirmPromptModalPromptPlaceholder"
            placeholder="Saisir {{ promptNeededValue }} pour valider" #promptedValue />
          <div class="input-group-append">
            <span class="input-group-text">
              <span class="fa fa-fw"
                [class]="{'fa-check text-success': isPromptValid(), 'fa-ban text-danger': !isPromptValid()}"></span>
            </span>
          </div>
        </div>
      </ng-container>

      <div class="text-right">
        <button *ngIf="type === 'prompt' || type === 'confirm' " type="button" class="btn btn-default"
          (click)="modalRef.dismiss(false)" i18n="@@alertConfirmPromptModalCancelButton">
          Annuler
        </button>

        <ng-container *ngIf="type === 'prompt'; then thenPrompt; else elseAlertOrConfirm"></ng-container>

        <ng-template #thenPrompt>
          <button type="button" class="btn btn-{{buttonValidationColor}}" [disabled]="!isPromptValid()"
            (click)="modalRef.close(true)">
            <ng-container
              *ngIf="buttonValidationText; then thenPromptButtonValidationTextTemplate; else elsePromptButtonValidationTextTemplate">
            </ng-container>
            <ng-template #thenPromptButtonValidationTextTemplate>
              {{ buttonValidationText }}
            </ng-template>
            <ng-template #elsePromptButtonValidationTextTemplate>
              <ng-container i18n="@@alertConfirmPromptModalPromptDefaultPromptValidationButtonText">
                Confirmer
              </ng-container>
            </ng-template>
          </button>
        </ng-template>
        <ng-template #elseAlertOrConfirm>
          <button type="button" ngbAutofocus class="btn btn-{{buttonValidationColor}}" (click)="modalRef.close(true)">
            <ng-container
              *ngIf="buttonValidationText; then thenAlertOrConfirmButtonValidationTextTemplate; else elseAlertOrConfirmButtonValidationTextTemplate">
            </ng-container>
            <ng-template #thenAlertOrConfirmButtonValidationTextTemplate>
              {{ buttonValidationText }}
            </ng-template>
            <ng-template #elseAlertOrConfirmButtonValidationTextTemplate>
              <ng-container [ngSwitch]="type">
                <ng-container *ngSwitchCase="'alert'"
                  i18n="@@alertConfirmPromptModalPromptDefaultAlertValidationButtonText">
                  Ok
                </ng-container>
                <ng-container *ngSwitchCase="'confirm'"
                  i18n="@@alertConfirmPromptModalPromptDefaultConfirmValidationButtonText">
                  Confirmer
                </ng-container>
              </ng-container>
            </ng-template>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>