<div class="modal-header p-4">
  <span class="modal-title align-self-center ml-2">
    <!-- <i class="fa fars-editer mr-2"></i> -->
    <strong i18n="@@drawingBoxRatioPrintArea">Zone à imprimer</strong>
  </span>
  <div class="list-group d-flex flex-row">
    <div class="list-group-item p-1 m-0" [class.selected]="mode === 'draw'">
      <button class="close my-auto p-0 mx-1" (click)="startDraw()">
        <span aria-hidden="true"><i class="fa fars-editer"></i></span>
      </button>
    </div>
    <div class="list-group-item p-1 m-0" [class.selected]="mode === 'modify'">
      <button class="close my-auto p-0 mx-1" (click)="startModify()"
        [disabled]="!tempFeaturePrint && !mapService.drawnFeaturePrint">
        <span aria-hidden="true"><i class="fa fars-deplacer"></i></span>
      </button>
    </div>
    <div class="list-group-item p-1 m-0">
      <button class="close my-auto p-0 mx-1" (click)="clearLayer()"
        [disabled]="!tempFeaturePrint && !mapService.drawnFeaturePrint">
        <span aria-hidden="true"><i class="fa fars-supprimer"></i></span>
      </button>
    </div>
    <div class="list-group-item p-1 m-0">
      <button class="close my-auto p-0 mx-1" (click)="endEditing(true)"
        [disabled]="tempFeaturePrint && mapService.drawnFeaturePrint">
        <span aria-hidden="true"><i class="fa fars-sauvegarder"></i></span>
      </button>
    </div>
  </div>
  <button type="button" class="close my-auto p-0 mr-2" aria-label="Close" (click)="endEditing(false)">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>