#sidebar-opened-visualisation {
    z-index: 100;
    position: absolute;
    right: 100%;
    z-index: 1;
}

.sidebar-visualisation-btn {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    button {
        min-height: 24px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding: 0px 5px;
        font-size: 0.7rem;
    }
    button.rounded-left {
        border-radius: 0;
        border-top-left-radius: 2px !important;
        border-bottom-left-radius: 2px !important;
    }
}
