<div *ngIf="overviewLayer" id="sidebar-closed-visualisation" class="sidebar-visualisation-btn" [ngbCollapse]="!isCollapsed" [hidden]="!isCollapsed">
  <button i18n-title="mapVisualisationOpenButtonTitle"  title="Ouvrir la mini carte" class="btn btn-collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="sidebar-visualisation">
    <i class="fas fars-chevron-gauche fa-lg"></i>
  </button>
</div>

<div class="p-l-0 p-r-0" id="sidebar-visualisation" [ngbCollapse]="isCollapsed">
  <div *ngIf="!coreService.isApplicationInLiteMode" id="sidebar-opened-visualisation" class="sidebar-visualisation-btn">
    <button class="btn btn-collapse rounded-left" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="sidebar-visualisation">
      <i class="fas fars-chevron-droite fa-lg"></i>
    </button>
  </div>
  <div class="d-flex flex-column shadow-sm">
    <div class="flex-grow-1" class="w-100 h-100" #mapOverview ></div>
  </div>
</div>
