<div class="modal-header" [class.p-4]="screenMode === 'desktop'">
  <h5 class="modal-title ml-4">
    <strong i18n="@@locatingPresetAreaModalHeader">Accéder aux zones prédéfinies</strong>
  </h5>
  <button type="button" class="close rounded" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-body-container" [class.p-5]="screenMode === 'desktop'">
    <div *ngFor="let presetZones of presetZonesArray; index as i; let first = first">
      <hr *ngIf="!first">
      <alk-preset-zones-container [presetZones]="presetZones"></alk-preset-zones-container>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <button class="btn btn-modal" (click)="locateOnMap()" i18n="@@locatingPresetAreaModalLocateButton" >Localiser</button>
    </div>
</div>
