<div *ngIf="presetZone && presetZoneMessage && !presetZonesList">
  <h5 class="mb-3">{{ presetZone.title }}</h5>
  <span i18n="@@presetAreaSelectorMessageNoData">Il n'y a pas de données à afficher pour cette sélection</span>
</div>
<div *ngIf="presetZone && presetZonesList" class="mb-3">
  <h5 class="mb-3">{{ presetZone.title }}</h5>
  <select class="custom-select p-1" [(ngModel)]="selection" (ngModelChange)="select()">
    <option [value]="'noPresetSelected'" hidden selected disabled i18n="@@presetAreaSelectorSelectParamPlaceholder">
      Sélectionnez un paramètre</option>
    <option *ngFor="let zone of presetZonesList.features" [value]="zone">
      <span>{{ zone.properties[presetZone.layerTextField] }}</span>
    </option>
  </select>
</div>