<div class="modal-header p-4">
  <span class="modal-title align-self-center ml-2" id="exampleModalLabel">
    <i class="fa fars-mesurer mr-2"></i>
    <strong i18n="@@measuringModalTitle">Mesurer</strong>
  </span>
  <div *ngIf="screenMode === 'desktop'" class="list-group d-flex flex-row">
    <div class="list-group-item p-1 m-0" [class.selected]="measuringOption === 'length'">
      <button i18n-title="@@measuringModalMeasureDistanceButtonTitle" title="Mesurer une distance" type="button"
        class="close my-auto p-0 mx-1" (click)="setType('length')">
        <span aria-hidden="true"><i class="fa fars-line fa-md"></i></span>
      </button>
    </div>
    <div class="list-group-item p-1 m-0" [class.selected]="measuringOption === 'area'">
      <button i18n-title="@@measuringModalMeasureAreaButtonTitle" title="Mesurer une aire" type="button"
        class="close my-auto p-0 mx-1" (click)="setType('area')">
        <span aria-hidden="true"><i class="fa fars-polygon fa-md"></i></span>
      </button>
    </div>
    <div class="list-group-item p-1 m-0" [class.selected]="measuringOption === 'altimetry'">
      <!-- *ngIf="tools.Altimetry" -->
      <button i18n-title="@@measuringModalMeasureAltimetryButtonTitle" title="Profil altimétrique" type="button"
        class="close my-auto p-0 mx-1" (click)="setType('altimetry')">
        <span aria-hidden="true"><i class="fa fa-area-chart fa-md"></i></span>
      </button>
    </div>
  </div>
  <button type="button" class="close my-auto p-0 mr-2" data-dismiss="modal" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>