
<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <strong i18n="@@sharingModalHeader">Partager</strong>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body my-4">
  <div class="modal-body-container m-auto">
    <alk-sharing-content-modal [screenMode]="'desktop'"></alk-sharing-content-modal>
  </div>
</div>
