<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <strong i18n="@@savingModalHeader">Sauvegarder la carte</strong>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body d-flex justify-content-center">
  <div class="modal-body-container my-3 py-3 text-center">
    <div id="modal-body-presentation">
      <p i18n="@@savingModalBodyPresentation" >Quelque soit l’option que vous choisissez, toutes vos données et préférences seront conservées : annotations, dessins, commentaires, données affichées ou masquées, et niveau de zoom.</p>
      <p class="user-disconnected" *ngIf="isConnected !== null && !isConnected">
        <strong i18n="@@savingModalUserSignInPart1">Vous disposez d’un compte personnel ?</strong><br />
        <ng-container i18n="@@savingModalUserSignInPart2">Connectez-vous pour sauvegarder votre carte directement dans votre espace personnel.</ng-container><br />
      </p>
    </div>
    <div id="modal-body-options" class="my-4">
      <div class="saving-select d-flex flex-row my-4 text-left">
        <div *ngIf="isConnected" class="saving card flex-row m-2 user-connected" [class.selected]="option === 'account'" (click)="selectOption('account')">
          <i class="fa fa-3x fars-profile py-4 pl-4"></i>
          <div class="card-body">
            <h5 class="card-title" i18n="@@savingModalSaveOnAccountTitle">Sur votre compte</h5>
            <p class="card-text" i18n="@@savingModalSaveOnAccountText" >Accessible depuis le menu « Ouvrir » sur la carte.</p>
          </div>
        </div>
        <div class="saving card flex-row m-2" [class.selected]="option === 'server'" (click)="selectOption('server')">
          <i class="fa fa-3x fars-serveur py-4 pl-4"></i>
          <div class="card-body">
            <h5 class="card-title" i18n="@@savingModalSaveOnServerTitle">Sur serveur</h5>
            <p class="card-text" i18n="@@savingModalSaveOnServerText">URL directe, permettant de charger ultérieurement la sauvegarde ou de la partager.</p>
          </div>
        </div>
        <div class="saving card flex-row m-2" [class.selected]="option === 'computer'" (click)="selectOption('computer')">
          <i class="fa fa-3x fars-ordinateur py-4 pl-4"></i>
          <div class="card-body">
            <h5 class="card-title" i18n="@@savingModalSaveOnComputerTitle">Sur votre ordinateur</h5>
            <p class="card-text" i18n="@@savingModalSaveOnComputerText">Téléchargement du fichier .geojson, afin de pouvoir le réutiliser depuis le menu « Ouvrir » sur la carte.</p>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-modal m-2 px-3 py-2" (click)="saveContextAs(option)" i18n="@@savingModalSaveButton" >Enregistrer sous...</button>
      </div>
    </div>
  </div>
</div>
