<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <strong i18n="@@helpingModalModalTitle" >Aide</strong>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="closing()">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-body-container m-auto py-4">
    <div [innerHTML]="helpingContent"></div>
    <form [formGroup]="hideHelpContent">
      <label class="customcheck mt-2" i18n="@@helpingModalDoNotShowAnymoreCheckboxLabel" >Ne plus afficher au chargement
        <input formControlName="checkboxInput" #checkboxInput type="checkbox">
        <span class="checkmark"></span>
      </label>
    </form>
  </div>
</div>
