<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <strong i18n="@@downloadingModalModalTitle">Téléchargement de couches</strong>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body d-flex justify-content-center">
  <div class="modal-body-container my-3 py-3">
    <div id="modal-body-presentation">
      <!--<p *ngIf="page === 1" i18n="@@downloadingModalPage1Order" >
        Pour télécharger une ou plusieurs couches, veuillez sélectionner l'ensemble des couches à l'aide des cases à
        cocher, puis cliquez sur le bouton "suivant".
      </p>-->
      <div *ngIf="page === 2">
        <h5 i18n="@@downloadingModalPage1OrderTitle">Résumé des couches sélectionnées.</h5>
        <p i18n="@@downloadingModalPage2Order">
          Merci de remplir le champs d'adresse mail et d'accepter les conditions
          d'utilisation afin de pouvoir valider la demande.
        </p>
      </div>
      <div *ngIf="page === 3">
        <h5 i18n="@@downloadingModalPage1OrderTitle">Votre demande a été prise en compte.</h5>
        <p i18n="@@downloadingModalPage2Order">
          Un email vous permettant de télécharger les données vous sera adressé prochainement.
        </p>
      </div>
    </div>
    <div id="modal-body-options" class="my-4">

      <div *ngIf="rootLayerGroup && page === 1" id="checking-layers-table" class="my-3 border">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="table-header-checkbox">
                <label class="customcheck">
                  <input type="checkbox" (click)="toggleAll(rootLayerGroup.getLayers().getArray(), 'select')">
                  <span class="checkmark header"
                    [class.checked]="allChecked(rootLayerGroup.getLayers().getArray(), 'select')"
                    i18n-ngbTooltip="@@downloadingModalSelectAllLayerCheckboxTooltip"
                    ngbTooltip="Sélectionner toutes les couches"></span>
                </label>
              </th>
              <th scope="col" i18n="@@downloadingModalDownloadableLayerNames">Noms des couches téléchargeables</th>
              <th scope="col" class="table-header-checkbox"></th>
              <th scope="col" class="global-file-format">
                <select class="form-control custom-select p-1" [(ngModel)]="fileFormat[rootLayerGroup.get('id')]"
                  (change)="changeOptionsSubLayers(rootLayerGroup)"
                  i18n-ngbTooltip="@@downloadingModalSelectFormatTooltip" ngbTooltip="Choix du format">
                  <option *ngFor="let format of formats" [value]="format">{{ format }}</option>
                </select>
              </th>
              <th scope="col" class="global-map-projection">
                <select class="form-control custom-select p-1" [(ngModel)]="mapProjection[rootLayerGroup.get('id')]"
                  (change)="changeOptionsSubLayers(rootLayerGroup)"
                  i18n-ngbTooltip="@@downloadingModalSelectProjectionTooltip" ngbTooltip="Choix de la projection">
                  <option *ngFor="let proj of projections" [value]="proj">{{ proj.label }}</option>
                </select>
              </th>
              <th scope="col" class="table-header-checkbox"></th>
            </tr>
          </thead>
          <tbody>
            <!-- class="w-100 my-3 p-2 border" -->
            <ng-container *ngIf="rootLayerGroup" [ngTemplateOutlet]="recursiveLegendCheckboxes"
              [ngTemplateOutletContext]="{layerGroup: rootLayerGroup.getLayers().getArray(), id: rootLayerGroup.get('id'), level: 1}">
            </ng-container>
            <ng-template #recursiveLegendCheckboxes let-layerGroup="layerGroup" let-id="id" let-level="level">
              <ng-container *ngFor="let layer of layerGroup">
                <tr *ngIf="layer.get('class') === 'LayerGroup' && tablesCollapsed[id]" class="bt-2">
                  <td class="little-td">
                    <label class="inline-block customcheck">
                      <input type="checkbox" (click)="toggleAll(layer.getLayers().getArray(), 'select')"
                        [checked]="allChecked(layer.getLayers().getArray(), 'select')">
                      <span class="checkmark"
                        [class.checked]="allChecked(layer.getLayers().getArray(), 'select')"></span>
                    </label>
                  </td>
                  <td class="layergroup-name">
                    <ng-container *ngFor="let nb of counter(level); let last = last;">
                      <span class="pr-3" *ngIf="!last"></span>
                      <span class="mr-1 text-secondary-light" *ngIf="last">&#8627;</span>
                    </ng-container>
                    <span class="h5 text-secondary-light" [ngbTooltip]="layer.get('name')">{{ layer.get('name')
                      }}</span>
                  </td>
                  <td class="little-td">
                    <label class="inline-block customcheck">
                      <input type="checkbox" (click)="toggleLayersSelection(layer, 'edit');"
                        [checked]="isLayerSelected(layer, 'edit')">
                      <span class="checkmark" [class.checked]="isLayerSelected(layer, 'edit')"
                        i18n-ngbTooltip="@@downloadingModalToggleGroupCustomizationTooltip"
                        ngbTooltip="Activer la personnalisation du groupe"></span>
                    </label>
                  </td>
                  <td class="w-120">
                    <select class="form-control custom-select p-1" [(ngModel)]="fileFormat[layer.get('id')]"
                      (change)="changeOptionsSubLayers(rootLayerGroup)" [disabled]="!isLayerSelected(layer, 'edit')">
                      <option *ngFor="let format of formats" [value]="format">{{ format }}</option>
                    </select>
                  </td>
                  <td class="w-210">
                    <select class="form-control custom-select p-1" [(ngModel)]="mapProjection[layer.get('id')]"
                      (change)="changeOptionsSubLayers(rootLayerGroup)" [disabled]="!isLayerSelected(layer, 'edit')">
                      <option *ngFor="let proj of projections" [value]="proj">{{ proj.label }}</option>
                    </select>
                  </td>
                  <td class="little-td">
                    <i data-toggle="collapse" [attr.data-target]="'#' + layer.get('id')"
                      class="fa fars-chevron-bas mr-2" [class.fars-chevron-bas]="tablesCollapsed[layer.get('id')]"
                      [class.fars-chevron-haut]="!tablesCollapsed[layer.get('id')]"
                      (click)="tablesCollapsed[layer.get('id')] = !tablesCollapsed[layer.get('id')]"></i>
                  </td>
                </tr>
                <ng-container *ngIf="layer.get('class') === 'LayerGroup' && tablesCollapsed[id]"
                  [ngTemplateOutlet]="recursiveLegendCheckboxes"
                  [ngTemplateOutletContext]="{layerGroup: layer.getLayers().getArray(), id: layer.get('id'), level: level +1}">
                </ng-container>
                <tr *ngIf="layer.get('class') !== 'LayerGroup' && tablesCollapsed[id]">
                  <td class="little-td">
                    <label class="customcheck">
                      <input type="checkbox" (click)="toggleLayersSelection(layer, 'select')"
                        [checked]="isLayerSelected(layer, 'select')">
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td class="layer-name">
                    <ng-container *ngFor="let nb of counter(level); let last = last;">
                      <span class="pr-3" *ngIf="true || !last"></span>
                      <span class="mr-1" *ngIf="false && last">&#8627;</span>
                    </ng-container>
                    <span [ngbTooltip]="layer.get('name')">{{ layer.get('name') }}</span>
                  </td>
                  <td class="little-td">
                    <label class="customcheck">
                      <input type="checkbox"
                        (click)="toggleLayersSelection(layer, 'edit'); changeOptionsSubLayers(rootLayerGroup);"
                        [checked]="isLayerSelected(layer, 'edit')">
                      <span class="checkmark" i18n-ngbTooltip="@@downloadingModalToggleLayerCustomizationTooltip"
                        ngbTooltip="Activer la personnalisation de la couche"></span>
                    </label>
                  </td>
                  <td class="w-120">
                    <select class="form-control custom-select p-1" [(ngModel)]="fileFormat[layer.get('layerIdx')]"
                      [disabled]="!isLayerSelected(layer, 'edit')">
                      <option *ngFor="let format of formats" [value]="format">{{ format }}</option>
                    </select>
                  </td>
                  <td class="w-210">
                    <select class="form-control custom-select p-1" [(ngModel)]="mapProjection[layer.get('layerIdx')]"
                      [disabled]="!isLayerSelected(layer, 'edit')">
                      <option *ngFor="let proj of projections" [value]="proj">{{ proj.label }}</option>
                    </select>
                  </td>
                  <td class="little-td"></td>
                </tr>
              </ng-container>
            </ng-template>
          </tbody>
        </table>
      </div>

      <div *ngIf="page === 2" class="mb-3">
        <div id="resuming-layers-table" class="my-3 border">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" i18n="@@downloadingModalTableColDownloadableLayerNames">Noms des couches téléchargeables
                </th>
                <th scope="col" i18n="@@downloadingModalTableColFileFormat">Format du fichier</th>
                <th scope="col" i18n="@@downloadingModalTableColMapProjection">Projection de la carte</th>
              </tr>
            </thead>
            <tbody>
              <!-- class="w-100 my-3 p-2 border" -->
              <tr *ngFor="let selectedLayer of selectedLayers">
                <td>{{ selectedLayer.layer.get('name') }}</td>
                <td>{{ selectedLayer.fileFormat }}</td>
                <td>{{ selectedLayer.mapProjection.label }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div id="mail-validation">
          <span i18n="@@downloadingModalEmailLabel">Adresse électronique : </span>
          <input type="text" class="form-control mb-3" [(ngModel)]="emailAddress" />
          <input type="hidden" class="form-control mb-3" [(ngModel)]="emailAddress" value="none@none.fr" />
          <label class="customcheck" i18n="@@downloadingModalDisplayTermsOfUseLabel"> Afficher les conditions
            d'utilisation
            <input type="checkbox" (click)="termsOfUse = !termsOfUse" [checked]="termsOfUse">
            <span class="checkmark"></span>
          </label>
          <div id="termsOfUse" *ngIf="termsOfUse" class="border">
            <div [innerHTML]="licenceHTML"></div>
          </div>
        </div>
      </div>

      <div class="text-right">
        <button *ngIf="page === 2" class="btn btn-secondary mx-1 px-3 py-2" (click)="page = page - 1;"
          i18n="@@downloadingModalPreviousPage">Précédent</button>
        <button *ngIf="page === 2" class="btn btn-secondary mx-1 px-3 py-2" (click)="validate()"
          [disabled]="!(termsOfUse)" i18n="@@downloadingModalValid">Valider</button>
        <button *ngIf="page === 1" [disabled]="!(selectedLayers && (selectedLayers.length !== 0))"
          class="btn btn-secondary mx-1 px-3 py-2" (click)="page = page + 1;"
          i18n="@@downloadingModalNextPage">Suivant</button>
        <button class="btn btn-secondary mx-1 px-3 py-2" (click)="activeModal.close();"
          i18n="@@downloadingModalCancelButton">{{ page === 3 ? 'Terminer' : 'Annuler' }}</button>
      </div>
    </div>
  </div>
</div>