#checking-layers-table, #resuming-layers-table {
    table {
        /* table-layout: fixed;
        width: 100%; */
        margin-bottom: 0 !important;
        tbody {
            position: relative;
            display: block;
            max-height: 300px;
            overflow-y: scroll;
            // scrollbar-width: none;
        }
        thead, tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }
        .bt-2 {
            border-top-width: 2px;
        }
        .bb-2 {
            border-bottom-width: 2px;
        }
        .little-td {
            width: 50px;
        }
        .table-header-checkbox {
            width: 50px;
        }
        .global-file-format, .w-120 {
            width: 120px;
        }
        .global-map-projection, .w-210 {
            width: 210px;
        }
        .checkmark.header {
            top: -20px;
        }
        .layer-name, .layergroup-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        select:disabled {
          opacity: 0.2;
        }
    }
}

#resuming-layers-table {
    table tbody {
        max-height: 200px;
    }
}

#mail-validation .form-control {
    display: inline-block !important;
    width: 50% !important;
}

#termsOfUse {
    max-height: 300px;
    overflow-y: scroll;
}