<!-- <alk-preset-zone-selector
  *ngFor="let zone of presetZones; index as i"
  [attr.id]="'presetZones_' + i"
  [presetZone]="zone">
</alk-preset-zone-selector> -->
<alk-preset-zone-first-selector [presetZone]="firstSelector" (firstSelection)="onSelection($event)">
</alk-preset-zone-first-selector>
<!-- <select class="custom-select p-1" [(ngModel)]="selection" (ngModelChange)="select()">
    <option [value]="'noPresetSelected'" hidden selected disabled i18n="@@presetAreaSelectorSelectParamPlaceholder" >Sélectionnez un paramètre</option>
    <option
      *ngFor="let zone of presetZonesList.features"
      [value]="zone">
      <span>{{ container.firstSelector.properties[presetZone.layerTextField] }}</span>
    </option>
  </select> -->
<div *ngIf="firstSelection">
  <alk-preset-zone-selector *ngFor="let listOfPresets of dependentLists" [presetZones]="listOfPresets"
    [firstSelection]="firstSelection"></alk-preset-zone-selector>
</div>