<div id="result-bottom-box" *ngIf="resultsOfInterrogation !== null && !closed">
  <div id="bottom-box-header" class="modal-header">
    <h5 class="modal-title flex-grow-1 ml-4" id="exampleModalLabel">
      <strong i18n="@@nbResultBottomBox">{resultsOfInterrogation.totalResults, plural, =0 {{{resultsOfInterrogation.totalResults}} résultat} =1 {{{resultsOfInterrogation.totalResults}} résultat} other {{{resultsOfInterrogation.totalResults}} résultats}}</strong>
    </h5>
    <button type="button" class="close rounded mr-2" (click)="reduceBottomBox()">
      <span aria-hidden="true"><i class="fa fars-reduire"></i></span>
    </button>
    <button type="button" class="close rounded mr-2" (click)="openModalBox()">
      <span aria-hidden="true"><i class="fa fars-reduire-bas"></i></span>
    </button>
    <button type="button" class="close rounded" (click)="closeBottomBox()">
      <span aria-hidden="true"><i class="fa fars-close"></i></span>
    </button>
  </div>
  <div id="bottom-box-body" >
    <alk-result-content></alk-result-content>
  </div>
</div>
