<div id="projection" class="map-footer-item dropdown" ngbDropdown placement="top-right">
  <a class="dropdown-toggle"  id="dropdownProj" ngbDropdownToggle>
    {{ selectedProjectionLabel }} <i class="fas fars-chevron-bas"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right scrollable" ngbDropdownMenu>
    <a *ngFor="let projection of projectionsList" class="dropdown-item" (click)="selectProjection($event, projection.key)" [class.active]="(projection.key === selectedProjectionKey)" >
      {{ projection.label }}
    </a>
  </div>
</div>
