<div *ngIf="!coreService.isApplicationInLiteMode" id="sidebar-closed-btn" class="sidebar-btn"
  [ngbCollapse]="!isCollapsed" [hidden]="!isCollapsed">
  <!-- <button i18n-title="@@layerLegendLiteOpenSidebarLegend" title="Ouvrir la légende" class="btn btn-collapse" (click)="openLegend()" [attr.aria-expanded]="!isCollapsed" aria-controls="sidebar"><i class="fas fars-chevron-droite fa-lg"></i></button> -->
  <button id="sidebar-couches" i18n-title="@@layerLegendManageLayer" title="Gestion des couches" aria-controls="sidebar"
    [class]="(mode === 'Couches') ? 'btn btn-collapse darker' : 'btn btn-collapse'"
    (click)="isCollapsed = !isCollapsed; changeMode('Couches'); verifyLayerGroupVisibility(rootLayerGroup, mapId)"><i
      class="fa fars-layer-group-solid fa-lg"></i></button>
  <button id="sidebar-legende" i18n-title="@@layerLegendShowLegends" title="Légende" aria-controls="sidebar"
    [class]="(mode === 'Légende') ? 'btn btn-collapse darker' : 'btn btn-collapse'"
    (click)="isCollapsed = !isCollapsed; changeMode('Légende'); verifyLayerGroupVisibility(rootLayerGroup, mapId)"><i
      class="fa fa-list fa-lg"></i></button>
  <alk-add-layer i18n-title="@@layerLegendLiteAddLayer" title="Ajouter une couche" *ngIf="tools && tools['AddLayer']">
    <alk-add-layer-modal #modal></alk-add-layer-modal>
  </alk-add-layer>
</div>

<div class="p-l-0 p-r-0" id="sidebar" [ngbCollapse]="isCollapsed">

  <div *ngIf="!coreService.isApplicationInLiteMode" id="sidebar-opened-btn" class="sidebar-btn">
    <!-- <button class="btn btn-collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="sidebar"><i class="fas fars-chevron-gauche fa-lg"></i></button> -->
    <button id="sidebar-couches" i18n-title="@@layerLegendManageLayer" title="Gestion des couches"
      aria-controls="sidebar" [class]="(mode === 'Couches') ? 'btn btn-collapse darker' : 'btn btn-collapse'"
      (click)="changeCollapse('Couches'); changeMode('Couches'); verifyLayerGroupVisibility(rootLayerGroup, mapId)"><i
        class="fa fars-layer-group-solid fa-lg"></i></button>
    <button id="sidebar-legende" i18n-title="@@layerLegendShowLegends" title="Légende" aria-controls="sidebar"
      [class]="(mode === 'Légende') ? 'btn btn-collapse darker' : 'btn btn-collapse'"
      (click)="changeCollapse('Légende'); changeMode('Légende'); verifyLayerGroupVisibility(rootLayerGroup, mapId)"><i
        class="fa fa-list fa-lg"></i></button>
    <alk-add-layer i18n-title="@@layerLegendAddLayer" title="Ajouter une couche" *ngIf="tools && tools['AddLayer']">
      <alk-add-layer-modal #modal></alk-add-layer-modal>
    </alk-add-layer>
  </div>

  <alk-layers-legend *ngIf="!isCollapsed"></alk-layers-legend>

</div>