<div class="exporter-pdf-personnaliser modal-content rounded-0">
  <div class="modal-header d-flex align-items-center p-4">
    <h5 class="modal-title flex-grow-1 ml-4" id="exampleModalLabel">
      <strong><span aria-hidden="true"></span><ng-container i18n="@@exportLegendModalHeader" >Personnalisation de la légende</ng-container></strong>
    </h5>
    <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close(selectedLayers)">
      <span aria-hidden="true"><i class="fa fars-close"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="exporter-pdf-personnaliser modal-body-container m-auto">
      <div id="export-pdf-checkbox" class="flex-grow-1 mx-3">

        <ng-container *ngIf="rootLayerGroup" [ngTemplateOutlet]="recursiveLegendCheckboxes" [ngTemplateOutletContext]="{layerGroup: rootLayerGroup.getLayers().getArray()}"></ng-container>
        <ng-template #recursiveLegendCheckboxes let-layerGroup="layerGroup">
          <div class="ml-3" *ngFor="let layer of layerGroup">
            <div *ngIf="layer.get('class') === 'LayerGroup'">
              <h5 class="my-3"> {{ layer.get('name') }} </h5>
              <ng-container [ngTemplateOutlet]="recursiveLegendCheckboxes" [ngTemplateOutletContext]="{layerGroup: layer.getLayers().getArray()}"></ng-container>
            </div>
            <label *ngIf="layer.get('class') !== 'LayerGroup'" class="customcheck">{{ layer.get('name') }}
              <input type="checkbox" (click)="toggleLayersSelection(layer)" [checked]="selectedLayers.includes(layer)">
              <span class="checkmark"></span>
            </label>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>
