<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="modalInsertText">
    <strong i18n="@@insertTextModalTitle">Associer du texte</strong>
  </h5>
  <button type="button" class="close rounded" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-body-container m-auto p-4">
    <form [formGroup]="insertForm" (ngSubmit)="closing('save')">
      <span class="align-self-start" i18n="@@insertTextModalFontLabel">Police</span>
      <div>
        <select class="form-control custom-select p-1" formControlName="font">
          <option
            *ngFor="let font of fonts; let i = index;"
            [selected]="this.insertForm.get('font').value === font || i === 0">{{ font }}</option>
        </select>
      </div>
      <div class="row my-3">
        <div class="col-6">
          <span class="align-self-start" i18n="@@insertTextModalFontSizeLabel">Taille</span>
          <div>
            <select class="form-control custom-select p-1" formControlName="size">
              <option
                *ngFor="let size of sizes; let i = index;"
                [selected]="this.insertForm.get('size').value === size.toString() || i === 0">{{ size }}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <span class="align-self-start" i18n="@@insertTextModalFontColorLabel">Couleur</span>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" [style.border-color]="color" [style.background]="color"></span>
            </div>
            <input
              type="text"
              name="iconCss"
              class="form-control"
              [value]="color"
              [(colorPicker)]="color"
              [cpOutputFormat]="'rgba'"
              formControlName="color">
          </div>
        </div>
      </div>
      <span class="align-self-start" i18n="@@insertTextModalTextLabel">Texte</span>
      <div>
        <textarea class="form-control" cols="15" rows="5" i18n-placeholder="@@insertTextModalTextPlaceholder" placeholder="Saisissez le contenu de l'annotation" formControlName="text"></textarea>
      </div>
      <div class="text-right my-4">
        <button class="btn btn-modal mr-2 py-2" type="submit" [disabled]="!insertForm.valid" i18n="@@insertTextModalSaveButton" >Enregistrer</button>
        <button class="btn btn-modal-grey ml-2 px-3 py-2" (click)="closing('cancel')" i18n="@@insertTextModalCancelButton" >Annuler</button>
      </div>
    </form>
  </div>
</div>
