<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="modalInsertText">
    <strong i18n="@@bufferModalTitle">Créer une zone tampon</strong>
  </h5>
  <button type="button" class="close rounded" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-body-container m-auto p-4">
    <form [formGroup]="bufferForm" (ngSubmit)="closing('save')">
      <span class="align-self-start" i18n="@@bufferModalNameInputLabel" >Nom</span>
      <input class="form-control p-1" i18n-placeholder="@@bufferModalNameInputPlaceholder" placeholder="Nom" type="text" formControlName="name"/>
      <div class="row my-3">
        <div class="col-6">
          <span class="align-self-start" i18n="@@bufferModalRadiusInputLabel" >Rayon</span>
          <div class="input-group">
            <input class="form-control p-1" i18n-placeholder="@@bufferModalRadiusInputPlaceholder" placeholder="Rayon" type="text" formControlName="radius"/>
            <div class="input-group-append">
              <span class="input-group-text" i18n="@@bufferModalRadiusUnitAddon" >mètres</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <span class="align-self-start" i18n="@@bufferModalAppearanceFieldset" >Apparence</span>
          <div class="row btn-group mr-2" role="group">
            <button type="button" class="col-9 btn border d-flex justify-content-center" disabled>
              <div
                *ngIf="polygonCanvas"
                [title]="polygonCanvas.settedStyle.pattern.name"
                style="width: 120px; height: 25px;"
                [style.background-color]="polygonCanvas.settedStyle.background"
                [style.background-image]="'url(' + polygonCanvas.settedStyle.pattern.pattern + ')'"></div>
            </button>
            <button type="button" class="col-3 btn border btn-grey btn-link" (click)="generateStyle()"><i class="fa fars-editer text-white"></i></button>
          </div>
        </div>
      </div>
      <div class="text-right my-4">
        <button class="btn btn-modal mr-2 py-2" type="submit" [disabled]="!bufferForm.valid" i18n="@@bufferModalSaveButton" >Enregistrer</button>
        <button class="btn btn-modal-grey ml-2 px-3 py-2" (click)="closing('cancel')" i18n="@@bufferModalCancelButton" >Annuler</button>
      </div>
    </form>
  </div>
</div>
