<div class="d-flex justify-content-center">
<div class="card " style="width: 90%">
    <div class="card-body " >
        <div [innerHTML]="cguContent"></div>
        <form [formGroup]="hideHelpContent" class=" d-flex justify-content-end">
            <label class="customcheck mt-2" i18n="@@helpingModalDoNotShowAnymoreCheckboxLabel" >Ne plus afficher au chargement
                <input formControlName="checkboxInput" #checkboxInput type="checkbox" >
                <span class="checkmark"></span>
            </label>
            <button type="submit"  class="btn btn-primary ml-1" (click)="validate()"> Accepter</button>
        </form>
        
        
    </div> 
</div>
</div>
