<div id="fiche-info-card" class="card" *ngIf="modalReady && currentSelectedFeature !== null">

  <div class="modal-header p-4 card-header d-flex align-items-center px-2">
    <h5 class="modal-title ml-4 flex-grow-1">Fusion d'objet</h5>
    <button *ngIf="layerEditionConfig && (layerEditionConfig.edition || layerEditionConfig.edition_modification)"
      type="button" (click)="editing = !editing;" class="close rounded mr-2 fiche-info-edit">
      <span aria-hidden="true">
        <i class="fa fars-editer"></i>
      </span>
    </button>
    <button type="button" (click)="closeModal(true)" class="close rounded fiche-info-dismiss" data-dismiss="popover">
      <span aria-hidden="true">
        <i class="fa fars-close"></i>
      </span>
    </button>
  </div>

  <div class="card-body modal-body m-4">

    <form (ngSubmit)="saveAndCloseModal()" #featureForm>
      <!-- #featureForm="ngForm" -->
      <table class="table table-sm table-hover" *ngIf="currentLayerResults">
        <tbody>
          <ng-container *ngFor="let layerQueryField of currentLayerResults.layerQueryFields">
            <tr class="border-bottom" *ngIf="layerQueryField.FieldName !== 'gid'">
              <td>{{ layerQueryField.FieldAlias }}</td>
              <td class="fiche-modify">
                <select class="form-control" name="merge-{{layerQueryField.FieldName}}"
                  [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]">
                  <option *ngFor="let data of featuresDatas[layerQueryField.FieldName]" [value]="data.value">
                    <span *ngIf="data.label">{{data.label}} : </span><span>{{ data.value }}</span>
                  </option>
                </select>
              </td>
            </tr>

          </ng-container>
        </tbody>
      </table>
      <div class="text-right" *ngIf="editing">
        <button type="submit" [disabled]="!featureForm.form.valid" class="btn btn-modal px-3 py-2 fiche-info-save">
          <i class="fa fars-sauvegarder"></i>
          <ng-container i18n="@@resultModalFicheSave">Sauvegarder</ng-container>
        </button>
      </div>
    </form>

  </div>
</div>
<alk-alert-confirm-prompt-modal [type]="'confirm'" i18n-title="@@resultModalFicheConfirmSaveTitle"
  [title]="'Sauvegarder'" i18n-description="@@resultModalFicheConfirmDescription"
  [description]="'Enregistrer les modifications ?'" [buttonValidationColor]="'primary'"
  i18n-buttonValidationText="@@resultModalFicheConfirmButtonValidationText" [buttonValidationText]="'Enregistrer'">
</alk-alert-confirm-prompt-modal>