<div id="layers-legend" class="d-flex flex-column h-100">
  <header class="sidebar-header" *ngIf="rootLayerGroup && (mode === 'Couches' || mode === 'Légende')">
    <form *ngIf="!coreService.isApplicationInLiteMode" class="sidebar-form p-2">
      <div class="form-group my-0 row">
        <label for="sidebarHeaderFormSearchInput" class="col-sm-2 ml-auto mr-3 col-form-label col-form-label-sm"
          i18n="@@layerLegendPanelHeaderData">Données</label>
        <div class="col-sm-8 mr-auto">
          <input type="text" class="form-control form-control-sm" id="sidebarHeaderFormSearchInput"
            (keyup)="filterLayer($event, layerFilter)" #layerFilter i18n-placeholder="@@layerLegendResearchFilterLayers"
            placeholder="Rechercher">
          <button *ngIf="!!filterValue" id="removeFilter" class="btn btn-link" type="button"
            (click)="layerFilter.value=''; filterLayer($event, layerFilter)">
            <span class="fa fa-fw fa-times"></span>
          </button>
        </div>
      </div>
    </form>
    <h3 id="sidebar-title" class="px-2 pt-3 pb-1 m-0">

      <div class="form-check" *ngIf="rootLayerGroup && mode === 'Couches'">
        <input *ngIf="!coreService.isApplicationInLiteMode" class="form-check-input" type="checkbox"
          [attr.id]="'baselayer_-'+0+'-_checkbox'" [attr.data-level]="0" [attr.data-idx]="0" [value]="true"
          (click)="toggleBaseLayerVisibility($event.target, rootLayerGroup, mapId)"
          [checked]="rootLayerGroup.get('visibleChecked')"
          [indeterminate]="!rootLayerGroup.get('allChildrenHaveSameVisibility')" />
        <label class="rootLayerGroup-check-label" [attr.for]="'baselayer_-'+0+'-_checkbox'">
          <i class="fa fars-layer-group-solid fa-sm pr-2"></i>
          <!-- Default checkbox -->
          <span i18n="@@layerLegendModeLayers">Couches</span>
        </label>
        <small *ngIf="!coreService.isApplicationInLiteMode" class="float-right"
          (click)="isLegendVisible = !isLegendVisible">
          <div *ngIf="isLegendVisible === false">
            <i class="fa fa-eye pr-2"></i>
            <span i18n="@@layerLegendShowLegendButton">Voir les légendes</span>
          </div>
          <div *ngIf="isLegendVisible === true">
            <i class="fa fa-eye-slash pr-2"></i>
            <span i18n="@@layerLegendHideLegendButton">Masquer les légendes</span>
          </div>
        </small>
      </div>
      <span *ngIf="mode === 'Légende'">
        <i class="fa fa-list fa-sm pr-2"></i>
        <ng-container i18n="@@layerLegendModeLegend">Légende</ng-container>
      </span>

    </h3>
  </header>


  <div id="tabs-container">
    <div *ngIf="mode === 'Information'" class="menu-panel panel flex-grow-1 m-2">
      <ng-container *ngTemplateOutlet="information"></ng-container>
    </div>

    <div *ngIf="mode === 'Tools'" class="menu-panel panel-tools panel flex-grow-1 m-2">
      <ng-container *ngTemplateOutlet="tools"></ng-container>
    </div>

    <div *ngIf="mode === 'Open'" class="menu-panel panel-tools panel flex-grow-1 m-2">
      <ng-container *ngTemplateOutlet="open"></ng-container>
    </div>

    <div *ngIf="mode === 'Share'" class="menu-panel panel-tools panel flex-grow-1 m-2">
      <ng-container *ngTemplateOutlet="share"></ng-container>
    </div>

    <div *ngIf="rootLayerGroup && (!!filterValue || mode === 'Légende')" class="list-group panel flex-grow-1">
      <ng-container *ngTemplateOutlet="treeLayerGroup"></ng-container>
    </div>

    <div *ngIf="rootLayerGroup && (!filterValue && mode === 'Couches')" class="list-group panel flex-grow-1"
      [dragula]="dragulaLayersGroup.name ? dragulaLayersGroup.name : 'BaseLayers_desktop'"
      [dragulaModel]="rootLayerGroup.getLayers().getArray()"
      (dragulaModelChange)="updateLayers($event, rootLayerGroup, mapId)">

      <ng-container *ngTemplateOutlet="treeLayerGroup"></ng-container>

    </div>
  </div>

  <ng-template #information>
    <div class="p-3">
      <div id="title-resume">
        <h4>{{ title }}</h4>
        <small>{{ resume }}</small>
        <div *ngIf="helpingContent">
          <h5 class="pt-3" i18n="@@layerLegendMapPresentationText">Texte de présentation de la carte</h5>
          <small [innerHTML]="helpingContent"></small>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #tools>
    <div *ngIf="toolsMenu && (toolsMenu.Localisation || toolsMenu.Geobookmark)">
      <h4 class="row justify-content-center text-white my-3">
        <div class="col-3 text-center p-0"><i class="fa fars-localiser fa-lg"></i></div>
        <span class="col-9 pl-0" i18n="@@layerLegendLocate"> Localiser </span>
      </h4>
      <div class="menu-panel">
        <div class="d-flex flex-column">
          <button type="button" class="btn btn-block btn-light p-2 m-0" (click)="openPresetZonesTool()">
            <span aria-hidden="true" i18n="@@layerLegendAccessPredefinedArea"> Accéder à une zone prédéfinie </span>
          </button>
          <div *ngIf="favoriteZones.length">
            <alk-action-header-dropdown>
              <span>
                <ng-container i18n="@@layerLegendMyFavoritesArea">Mes zones favorites</ng-container> ({{
                favoriteZones.length }})
              </span>
            </alk-action-header-dropdown>
          </div>
          <!-- Zones dropdown -->
          <ng-container *ngFor="let zone of favoriteZones; let i = index">
            <alk-action-item-dropdown [zone]="zone" *ngIf="favoriteZones.length"><span>{{ zone.title }}</span>
            </alk-action-item-dropdown>
          </ng-container>
          <!-- <div *ngFor="let zone of favoriteZones; let i = index">

          </div> -->
          <!-- Input d'ajout -->
          <div class="d-flex flex-row p-2">
            <div class="input-group m-auto">
              <input type="text" class="form-control" #favoriteZoneName type="text"
                i18n-placeholder="@@layerLegendPlaceholderFavoriteAreaName" placeholder="Nom de la zone favorite">
              <div class="input-group-append">
                <button class="btn btn-add btn-secondary align-self-end" (click)="addZone(favoriteZoneName.value)"><i
                    class="fars fars-ajouter"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="toolsMenu && toolsMenu.Measure">
      <h4 class="row justify-content-center text-white my-3">
        <div class="col-3 text-center p-0"><i class="fa fars-mesurer fa-lg"></i></div>
        <span class="col-9 pl-0" i18n="@@layerLegendMeasureMenu"> Mesurer </span>
      </h4>
      <div class="menu-panel">
        <div class="d-flex flex-column">
          <button type="button" class="btn btn-block btn-light p-2 m-0" (click)="openMeasuringTool('length')">
            <span aria-hidden="true"><i class="fa fars-line fa-md mr-2"></i>
              <ng-container i18n="@@layerLegendMeasureMenuDistance">Une distance</ng-container>
            </span>
          </button>
          <button type="button" class="btn btn-block btn-light p-2 m-0" (click)="openMeasuringTool('area')">
            <span aria-hidden="true"><i class="fa fars-polygon fa-md mr-2"></i>
              <ng-container i18n="@@layerLegendMeasureMenuSurface">Une surface</ng-container>
            </span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #open>
    <alk-opening-content-modal [screenMode]="'mobile'"></alk-opening-content-modal>
  </ng-template>

  <ng-template #share>
    <alk-sharing-content-modal [screenMode]="'mobile'"></alk-sharing-content-modal>
  </ng-template>

  <ng-template #treeLayerGroup>

    <ng-container *ngFor="let baseLayer of rootLayerGroup.getLayers().getArray(); index as lG ">
      <ng-container *ngIf="!!(baseLayer.getProdigeType() === 'LayerGroup')" [ngTemplateOutlet]="tLayerGroup"
        [ngTemplateOutletContext]="{layerGroup: baseLayer, idx: lG, level: 1, path: '-0-'+lG+'-', parent: 'sidebar'}">
      </ng-container>
      <ng-container
        *ngIf="!!( ['ImageLayer', 'TileLayer', 'VectorLayer', 'Cluster','VectorTileLayer' ].indexOf(baseLayer.getProdigeType()) !== -1 ) && !(baseLayer.get('baseLayer') === true) "
        [ngTemplateOutlet]="tBaseLayer"
        [ngTemplateOutletContext]="{baseLayer: baseLayer, idx: lG, level: 1, path: '-0-'+lG+'-', parent: 'sidebar', layerGroup: rootLayerGroup}">
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #tLayerGroup let-layerGroup="layerGroup" let-idx="idx" let-level="level" let-path="path"
    let-parent="parent">
    <div class="layergroupbox"
      *ngIf="layerGroup.get('filterVisibility') !== false && ( mode !== 'Légende' || !layerGroup.get('isEmpty') ) "
      (mouseenter)="layerGroup.set('dragHover', true);"
      (mouseleave)="layerGroup.set('dragHover', {read: null, static: true});">
      <!-- <a href="#menu-{{ level }}-{{ idx }}" class="list-group-item d-flex" data-toggle="collapse" [attr.data-parent]="'#'+parent" [attr.aria-expanded]="layerGroup.get('open')" (click)="layerGroup.set('open', !!layerGroup.get('open') )">
        <span class="flex-grow-1">{{ layerGroup.get('name') }}</span>
      </a> -->

      <div class="form-check" *ngIf="mode === 'Couches'">
        <input class="form-check-input" type="checkbox" [attr.id]="'baselayer_'+path+'_checkbox'" [value]="true"
          [attr.data-level]="level" [attr.data-idx]="idx"
          (click)="toggleBaseLayerVisibility($event.target, layerGroup, mapId)"
          [checked]="layerGroup.get('visibleChecked')"
          [indeterminate]="!layerGroup.get('allChildrenHaveSameVisibility')"
          [disabled]="layerGroup.get('disabled') ? layerGroup.get('disabled') : false" />
        <label class="form-check-label">
          <div class="list-group-item d-flex layergroupName"
            [attr.aria-expanded]="layerGroup.get('open') ? 'true' : 'false'" [attr.aria-controls]="'menu_'+path"
            (click)="layerGroup.set('open', !(!!layerGroup.get('open')) )">
            <span class="flex-grow-1" [title]="layerGroup.get('name')">{{ layerGroup.get('name') }}</span>
          </div>
        </label>
      </div>
      <span *ngIf="mode === 'Légende' && !layerGroup.get('isEmpty')" class="flex-grow-1 layergroupName"
        [title]="layerGroup.get('name')">{{ layerGroup.get('name') }}</span>

      <div *ngIf="!!filterValue || mode === 'Légende'" class="layergroupbox-content" [ngbCollapse]="false">
        <ng-container *ngTemplateOutlet="subTreeLayerGroup"></ng-container>
      </div>

      <div *ngIf="!filterValue && mode !== 'Légende'" class="layergroupbox-content"
        [ngbCollapse]="!layerGroup.get('open')" id="menu_{{ path }}"
        [class.dragHover]="dragging && !!layerGroup.get('dragHover')"
        [dragula]="dragulaLayersGroup.name ? dragulaLayersGroup.name : 'BaseLayers_desktop'"
        [dragulaModel]="layerGroup.getLayers().getArray()"
        (dragulaModelChange)="updateLayers($event, layerGroup, layerGroup.getLayers().getArray())">
        <ng-container *ngTemplateOutlet="subTreeLayerGroup"></ng-container>
      </div>

      <ng-template #subTreeLayerGroup>
        <ng-container *ngFor="let baseLayer of layerGroup.getLayers().getArray(); index as bL ">
          <ng-container *ngIf="!!(baseLayer.getProdigeType() === 'LayerGroup')" [ngTemplateOutlet]="tLayerGroup"
            [ngTemplateOutletContext]="{layerGroup: baseLayer, idx: bL, level: level+1, path: path+bL+'-', parent: 'menu_'+path}">
          </ng-container>
          <ng-container
            *ngIf="!!( ['ImageLayer', 'TileLayer', 'VectorLayer','Cluster', 'VectorTileLayer'].indexOf(baseLayer.getProdigeType()) !== -1 ) && ( mode === 'Légende' || !(baseLayer.get('baseLayer') === true))"
            [ngTemplateOutlet]="tBaseLayer"
            [ngTemplateOutletContext]="{baseLayer: baseLayer, idx: bL, level: level+1, path: path+bL+'-', parent: 'menu_'+path, layerGroup: layerGroup}">
          </ng-container>
          <div
            *ngIf="!!( ['ImageLayer', 'TileLayer', 'VectorLayer','Cluster', 'VectorTileLayer'].indexOf(baseLayer.getProdigeType()) !== -1 ) && ( mode !== 'Légende' && baseLayer.get('baseLayer') === true)"
            class="list-group-item showlegend d-flex invisible p-0 m-0" [attr.data-parent]="'#menu_'+path"></div>
        </ng-container>
      </ng-template>
    </div>
  </ng-template>

  <ng-template #tBaseLayer let-baseLayer="baseLayer" let-idx="idx" let-level="level" let-path="path" let-parent="parent"
    let-layerGroup="layerGroup" let-imageLegend="">
    <div *ngIf=" true ||
    (
      baseLayer.get('filterVisibility') !== false &&
      (
        mode !== 'Légende' ||
        (
          baseLayer.get('visibleAtExtent') &&
          baseLayer.get('visibleAtScale') &&
          baseLayer.get('visible') &&
          baseLayer.get('displayClass')
        )
      )
    ) ||
    (
      coreService.isApplicationInLiteMode && 
      (
        baseLayer.get('visibleAtScale') &&
        baseLayer.get('visibleAtExtent') &&
        baseLayer.get('displayClass')
      )
    )
    " class="list-group-item showlegend d-flex justify-content-between" [attr.data-parent]="'#'+ parent">

      <ng-container
        *ngIf="( isLegendVisible || mode === 'Légende' ) && baseLayer.get('legends') && baseLayer.get('legends').length; else tNoLegends;">
        <div class="w-100 d-flex">
          <ng-container
            *ngIf="baseLayer.get('legends') && baseLayer.get('legends').length == 1; then tOneClassOnly; else tMultiClass">
          </ng-container>
          <ng-template #tOneClassOnly>
            <!-- Label de la couche -->
            <div class="form-check legendItem" *ngIf="mode === 'Couches'">
              <input class="form-check-input" type="checkbox" [attr.id]="'baselayer_'+path+'_checkbox'" [value]="true"
                [attr.data-level]="level" [attr.data-idx]="idx"
                (click)="toggleBaseLayerVisibility($event.target, baseLayer, mapId)"
                [checked]="baseLayer.get('visibleChecked')" />
              <label class="form-check-label d-block" [attr.for]="'baselayer_'+path+'_checkbox'">
                <!-- Image légende placé avant le label pour les couches vecteurs -->
                <img *ngIf="isLegendVisible" class="legendddd legendImg" [src]="baseLayer.get('legends')[0].icon"
                  alt="{{ baseLayer.get('legends')[0].label }}" />
                <span class="flex-grow-1" [title]="baseLayer.get('legends')[0].label">
                  {{ baseLayer.get('legends')[0].label }}
                </span>
              </label>
              <div class="ml-2"
                *ngIf="(mode === 'Couches' && !isLegendVisible) || (isLegendVisible && baseLayer.get('legends') && baseLayer.get('legends').length == 1)">
                <ng-container *ngTemplateOutlet="legendDropdown">
                </ng-container>
              </div>
            </div>
            <div *ngIf="mode === 'Légende'" class="legendItem">
              <!-- Image légende placé avant le label pour les couches vecteurs -->
              <img class="legendddd legendImg" alt="{{ baseLayer.get('legends')[0].label }}"
                [src]="baseLayer.get('legends')[0].icon" />
              <!-- Label de la couche -->
              <span class="flex-grow-1" [title]="baseLayer.get('legends')[0].label">{{ baseLayer.get('legends')[0].label
                }}</span>
              <div class="ml-2"
                *ngIf="(isLegendVisible && baseLayer.get('legends') && baseLayer.get('legends').length == 1)">
                <ng-container *ngTemplateOutlet="legendDropdown">
                </ng-container>
              </div>
            </div>
          </ng-template>
          <ng-template #tMultiClass>
            <div class="form-check" *ngIf="mode === 'Couches'">
              <input class="form-check-input" type="checkbox" [attr.id]="'baselayer_'+path+'_checkbox'" [value]="true"
                [attr.data-level]="level" [attr.data-idx]="idx"
                (click)="toggleBaseLayerVisibility($event.target, baseLayer, mapId)"
                [checked]="baseLayer.get('visibleChecked')" />
              <label class="form-check-label d-flex mb-2" [attr.for]="'baselayer_'+path+'_checkbox'">
                <span class="flex-grow-1" [title]="baseLayer.get('name')">
                  {{ baseLayer.get('name') }}
                </span>
                <div *ngIf="isLegendVisible">
                  <div class="dropdown sidebar-dd-layer" [placement]="screenMode === 'desktop' ? 'top-left' : 'auto'"
                    ngbDropdown [container]="'body'">
                    <a class="pr-2" data-display="static" aria-haspopup="true" aria-expanded="baseLayer.get('open')"
                      ngbDropdownToggle>
                      <i class="fas fars-options-donnee"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownLayer" ngbDropdownMenu>
                      <form class="pb-0">
                        <div class="form-slider-container">
                          <label for="sliderOpacity" class="d-block" i18n="@@layerLegendLayerOpacity">Visibilité de la
                            donnée</label>
                          <!-- <mv-slider [value]="baseLayer.getOpacity()" [min]="0" [step]="0.05" [max]="1" tooltip="hide" (change)="changeVisibilityPercent($event)"></mv-slider> -->
                          <mv-slider [value]="baseLayer.getOpacity()" [min]="0" [step]="0.05" [max]="1" tooltip="hide"
                            (change)="changeOpacity(baseLayer, $event.newValue)"></mv-slider>
                          <span class="sliderScaleVisibility"
                            *ngIf="!baseLayer.get('isDrawLayer') && !baseLayer.get('isBuffer') && !baseLayer.get('visibleAtScale')">
                            <i>
                              <ng-container i18n="@@layerLegendLayerScaleVisibility">Visible à l'échelle</ng-container>:
                              {{ baseLayer.get('minscaledenominator') }}/{{ baseLayer.get('maxscaledenominator') }}
                            </i>
                          </span>
                        </div>
                      </form>
                      <a *ngIf="baseLayer.get('metadataUrl')" class="dropdown-item"
                        [href]="baseLayer.get('metadataUrl')" target="_blank" ngbDropdownItem>
                        <i class="fas fa-fw fars-fiche-info mr-2"></i>
                        <ng-container i18n="@@layerLegendAccessDataSheet">Accéder à la fiche de la donnée</ng-container>
                      </a>
                      <a *ngIf="baseLayer.get('LayerQuery') && baseLayer.get('LayerQuery').Fields && baseLayer.get('LayerQuery').Fields.length"
                        class="dropdown-item dropdown-no-href" (click)="loadLayerData(baseLayer, layerGroup)"
                        ngbDropdownItem>
                        <i class="fas fa-fw fars-tableau mr-2"></i>
                        <ng-container i18n="@@layerLegendAccessDataTable">Accéder au tableau de données</ng-container>
                      </a>
                      <a *ngIf="baseLayer.get('donwloadUrl')" class="dropdown-item"
                        [href]="baseLayer.get('donwloadUrl')" target="_blank" ngbDropdownItem>
                        <i class="fas fa-fw fars-exporter mr-2"></i>
                        <ng-container i18n="@@layerLegendDataDownload">Télécharger la donnée</ng-container>
                      </a>
                      <div
                        *ngIf="(baseLayer.get('LayerQuery') && baseLayer.get('LayerQuery').Fields && baseLayer.get('LayerQuery').Fields.length) || baseLayer.get('metadataUrl') || baseLayer.get('donwloadUrl')"
                        class="dropdown-divider"></div>
                      <a *ngIf="baseLayer.get('isBuffer') && screenMode === 'desktop'" class="dropdown-item"
                        (click)="selectFromBuffer(baseLayer, layerGroup)" ngbDropdownItem>
                        <i class="fars fars-polygon mr-2"></i>
                        <ng-container i18n="@@layerLegendSelectFromBufferArea">Sélection à partir d'une zone tampon
                        </ng-container>
                      </a>
                      <div *ngIf="baseLayer.get('isBuffer')" class="dropdown-divider"></div>
                      <a *ngIf="(baseLayer.get('class') === 'VectorLayer')" class="dropdown-item"
                        (click)="changeStyleLayer(baseLayer, layerGroup)" ngbDropdownItem>
                        <i class="fars fars-style mr-2"></i>
                        <ng-container i18n="@@layerLegendChangeLayerStyle">Changer le style de la couche</ng-container>
                      </a>
                      <a class="dropdown-item" ngbDropdownItem (click)="deleteLayer(baseLayer, layerGroup, mapId)">
                        <i class="fa fa-fw fa-times mr-2"></i>
                        <ng-container i18n="@@layerLegendRemoveLayer">Supprimer la couche</ng-container>
                      </a>
                    </div>
                  </div>
                </div>
              </label>
              <ng-container *ngFor="let legend of baseLayer.get('legends'); index as idxLegend">
                <!-- Label de la couche -->
                <div class="d-block legendItem" *ngIf="isLegendVisible">
                  <!-- Image légende placé avant le label pour les couches vecteurs -->
                  <img class="legendddd legendImg" [src]="legend.icon" alt="{{ legend.label }}" />
                  <span class="flex-grow-1" [title]="legend.label">
                    {{ legend.label }}
                  </span>
                </div>
                <div class="ml-2"
                  *ngIf="(mode === 'Couches' && !isLegendVisible) || (isLegendVisible && baseLayer.get('legends') && baseLayer.get('legends').length == 1)">
                  <ng-container *ngTemplateOutlet="legendDropdown">
                  </ng-container>
                </div>
              </ng-container>
            </div>
            <div *ngIf="mode === 'Légende'">
              <!-- Label de la couche -->
              <div class="flex-grow-1 mb-2">{{ baseLayer.get('name') }}</div>
              <ng-container *ngFor="let legend of baseLayer.get('legends'); index as idxLegend">
                <!-- Label de la couche -->
                <div class="d-flex legendItem pl-2 mt-1">
                  <!-- Image légende placé avant le label pour les couches vecteurs -->
                  <img class="legendddd legendImg" [src]="legend.icon" alt="{{ legend.label }}" />
                  <span class="flex-grow-1" [title]="legend.label">
                    {{ legend.label }}
                  </span>
                </div>
              </ng-container>
              <div class="ml-2"
                *ngIf="(isLegendVisible && baseLayer.get('legends') && baseLayer.get('legends').length == 1)">
                <ng-container *ngTemplateOutlet="legendDropdown">
                </ng-container>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-container>

      <ng-template #tNoLegends>
        <div class="form-check" *ngIf="mode === 'Couches'">
          <input class="form-check-input" type="checkbox" [attr.id]="'baselayer_'+path+'_checkbox'" [value]="true"
            [attr.data-level]="level" [attr.data-idx]="idx"
            (click)="toggleBaseLayerVisibility($event.target, baseLayer, mapId)"
            [checked]="baseLayer.get('visibleChecked')" />
          <!-- Label de la couche -->
          <label class="form-check-label" [attr.for]="'baselayer_' + path + '_checkbox'">
            <!-- Image légende placé avant le label pour les couches vecteurs -->
            <img *ngIf="isLegendVisible && baseLayer.get('imageDataUrl') && baseLayer.get('isPrefixLegendImg') "
              class="legendddd legendImg" [src]="baseLayer.get('imageDataUrl')" />
            <a *ngIf="!baseLayer.get('oneClassOnly') || baseLayer.get('imageDataUrl')" class="flex-grow-1"
              [title]="baseLayer.get('name')">
              {{ baseLayer.get('name') }}
            </a>
            <!-- Image légende pouvant remplacer le label ou venir dessous en fonction du type de légende -->
            <img *ngIf="isLegendVisible && baseLayer.get('imageDataUrl') && !baseLayer.get('isPrefixLegendImg')"
              class="d-block legenddd" [src]="baseLayer.get('imageDataUrl')" />
          </label>
        </div>

        <ng-container *ngIf="mode === 'Légende'">
          <div class="d-block w-100">
            <div>
              <!-- Image légende placé avant le label pour les couches vecteurs -->
              <img *ngIf="baseLayer.get('imageDataUrl') && baseLayer.get('isPrefixLegendImg') "
                class="legendddd legendImg" [src]="baseLayer.get('imageDataUrl')" />
              <!-- Label de la couche -->
              <div *ngIf="!baseLayer.get('oneClassOnly') || baseLayer.get('imageDataUrl')" class="flex-grow-1"
                [title]="baseLayer.get('name')">{{ baseLayer.get('name') }}</div>
            </div>
            <!-- Image légende pouvant remplacer le label ou venir dessous en fonction du type de légende -->
            <img *ngIf="baseLayer.get('imageDataUrl') && !baseLayer.get('isPrefixLegendImg')" class="d-block legenddd"
              [src]="baseLayer.get('imageDataUrl')" />
          </div>
        </ng-container>

        <div class="ml-2"
          *ngIf="(mode === 'Couches' && !isLegendVisible) || (isLegendVisible && baseLayer.get('legends') && baseLayer.get('legends').length == 1)">
          <ng-container *ngTemplateOutlet="legendDropdown">
          </ng-container>
        </div>
      </ng-template>

      <ng-template #legendDropdown>
        <div class="dropdown sidebar-dd-layer" [placement]="screenMode === 'desktop' ? 'top-left' : 'auto'" ngbDropdown
          [container]="'body'">
          <a class="pr-2" data-display="static" aria-haspopup="true" aria-expanded="baseLayer.get('open')"
            ngbDropdownToggle>
            <i class="fas fars-options-donnee"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownLayer" ngbDropdownMenu>
            <form class="pb-0">
              <div class="form-slider-container">
                <label for="sliderOpacity" class="d-block" i18n="@@layerLegendLayerOpacity">Visibilité de la
                  donnée</label>
                <!-- <mv-slider [value]="baseLayer.getOpacity()" [min]="0" [step]="0.05" [max]="1" tooltip="hide" (change)="changeVisibilityPercent($event)"></mv-slider> -->
                <mv-slider [value]="baseLayer.getOpacity()" [min]="0" [step]="0.05" [max]="1" tooltip="hide"
                  (change)="changeOpacity(baseLayer, $event.newValue)"></mv-slider>
                <span class="sliderScaleVisibility"
                  *ngIf="!baseLayer.get('isDrawLayer') && !baseLayer.get('isBuffer') && !baseLayer.get('visibleAtScale')">
                  <i>
                    <ng-container i18n="@@layerLegendLayerScaleVisibility">Visible à l'échelle</ng-container>: {{
                    baseLayer.get('minscaledenominator') }}/{{ baseLayer.get('maxscaledenominator') }}
                  </i>
                </span>
              </div>
            </form>
            <a *ngIf="baseLayer.get('metadataUrl')" class="dropdown-item" [href]="baseLayer.get('metadataUrl')"
              target="_blank" ngbDropdownItem>
              <i class="fas fa-fw fars-fiche-info mr-2"></i>
              <ng-container i18n="@@layerLegendAccessDataSheet">Accéder à la fiche de la donnée</ng-container>
            </a>
            <a *ngIf="baseLayer.get('LayerQuery') && baseLayer.get('LayerQuery').Fields && baseLayer.get('LayerQuery').Fields.length"
              class="dropdown-item dropdown-no-href" (click)="loadLayerData(baseLayer, layerGroup)" ngbDropdownItem>
              <i class="fas fa-fw fars-tableau mr-2"></i>
              <ng-container i18n="@@layerLegendAccessDataTable">Accéder au tableau de données</ng-container>
            </a>
            <a *ngIf="baseLayer.get('donwloadUrl')" class="dropdown-item" [href]="baseLayer.get('donwloadUrl')"
              target="_blank" ngbDropdownItem>
              <i class="fas fa-fw fars-exporter mr-2"></i>
              <ng-container i18n="@@layerLegendDataDownload">Télécharger la donnée</ng-container>
            </a>
            <div
              *ngIf="(baseLayer.get('LayerQuery') && baseLayer.get('LayerQuery').Fields && baseLayer.get('LayerQuery').Fields.length) || baseLayer.get('metadataUrl') || baseLayer.get('donwloadUrl')"
              class="dropdown-divider"></div>
            <a *ngIf="baseLayer.get('isBuffer') && screenMode === 'desktop'" class="dropdown-item"
              (click)="selectFromBuffer(baseLayer, layerGroup)" ngbDropdownItem>
              <i class="fars fars-polygon mr-2"></i>
              <ng-container i18n="@@layerLegendSelectFromBufferArea">Sélection à partir d'une zone tampon</ng-container>
            </a>
            <div *ngIf="baseLayer.get('isBuffer')" class="dropdown-divider"></div>
            <a *ngIf="(baseLayer.get('class') === 'VectorLayer')" class="dropdown-item"
              (click)="changeStyleLayer(baseLayer, layerGroup)" ngbDropdownItem>
              <i class="fars fars-style mr-2"></i>
              <ng-container i18n="@@layerLegendChangeLayerStyle">Changer le style de la couche</ng-container>
            </a>
            <a class="dropdown-item" ngbDropdownItem (click)="deleteLayer(baseLayer, layerGroup, mapId)">
              <i class="fa fa-fw fa-times mr-2"></i>
              <ng-container i18n="@@layerLegendRemoveLayer">Supprimer la couche</ng-container>
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>

<alk-alert-confirm-prompt-modal [type]="'confirm'" i18n-title="@@layerLegendRemoveLayerConfirm"
  [title]="'Supprimer la couche'" i18n-description="@@layerLegendRemoveLayerConfirmDescription"
  [description]="'Êtes-vous certain de vouloir supprimer cette couche ? \nIl ne sera pas possible d\'annuler cette action.'"
  [buttonValidationColor]="'danger'" i18n-buttonValidationText="@@layerLegendRemoveLayerConfirmButtonValidationText"
  [buttonValidationText]="'Supprimer'"></alk-alert-confirm-prompt-modal>