@media (max-width: 991px) {
  #tabs-container {
    height: calc(100% - 56.5px);
    overflow-y: auto;
    .list-group {
      height: calc(100% - 56.5px);
    }
  }
}

@media (min-width: 992px) {
  #tabs-container {
    height: 100%;
    overflow-y: auto;
    .list-group {
      height: 100%;
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

#removeFilter {
  position: absolute;
  top: 0;
  color: #717171;
  right: 16px;
  padding: 2px 0px;
}

header {
  color: #fff;
  @media (max-width: 991px) {
    width: 100%;
  }
  @media (min-width: 992px) {
    width: calc(100% - 24px);
  }
  form label {
    font-size: 0.9rem;
  }

  #sidebar-title {
    background-color: #f1f1f1;
    font-size: 1.1rem;
    small {
      color: #9a9a9a;
      cursor: pointer;
      display: inline-block;
      padding-top: 0.2rem;
      font-size: 75%;
    }
  }
}
.menu-panel {
  background-color: white !important;
  button:not(.btn-add) {
    text-align: start;
    background-color: white !important;
  }
}
.panel-tools {
  background-color: transparent !important;
}
.list-group {
  overflow-x: hidden;
  padding-top: 3px;
  background-color: #fff;
  @media (max-width: 991px) {
    width: 100%;
  }
  @media (min-width: 992px) {
    width: calc(100% - 24px);
  }
  overflow-y: auto;
  display: block;
  padding-left: 0;
  margin-bottom: 0;
  .layergroupbox {
    padding-left: 8px;
    & > .form-check > .form-check-input {
      margin-top: 1rem;
    }
  }
  .layergroupbox-content {
    padding-left: 5px;
  }
  .layergroupName {
    font-weight: bold;
    padding-left: 0px !important;
  }
  .list-group-item {
    border-radius: 0;
    background-color: #fff;
    border: none;
    /* white-space: nowrap; */
    padding: 0.65rem 0.35rem 0.65rem 0.55rem;
    font-size: 0.9rem;
    .dropup .dropdown-toggle::after {
      display: none !important;
    }
    .legendImg {
      float: left;
      margin-right: 7px;
      max-height: 20px;
      max-width: 30px;
    }
    .hidelegend {
      display: none;
    }
    .legend {
      height: 25px;
      width: 45px;
      margin-right: 9px;
    }
    .layer {
      height: 25px;
      width: 25px;
      margin-right: 9px;
    }
    .form-check {
      width: 100%;
      margin-right: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .form-check-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      label {
        max-width: 100%;
        overflow: visible;
        // width: 0;
        // white-space: nowrap;
      }
    }
    .sidebar-dd-layer.dropdown {
      position: absolute;
      right: 0;
      a.dropdown-toggle.dropdown-toggle {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        border-radius: 100%;
      }
    }
    .legendItem {
      clear: both;
      display: flex;
      width: 95% !important;
      span {
        display: flex;
      }
    }
  }
  .list-group-item[aria-expanded="true"]::before,
  .list-group-item[aria-expanded="false"]::before {
    font-family: "font-ars";
    display: inline;
    text-align: left;
    padding-right: 10px;
    font-weight: bold;
    text-align: center;
  }
  .list-group-item[aria-expanded="false"]::before {
    content: "\e912";
  }
  .list-group-item[aria-expanded="true"]::before {
    content: "\e922";
  }
  /* Level 1 */
  .collapse.dragHover {
    min-height: 50px;
    padding: 5px 0;
    background-color: #f1f1f1;
    border: 1px dashed #9a9a9a;
  }
  a.collapse {
    padding-left: 20px;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .collapse .list-group-item,
  .collapsing .list-group-item {
    // padding-left: 20px;
    // font-size: 0.8rem;
    // font-weight: bold;
  }
  /* level 2*/
  .collapse > .collapse .list-group-item,
  .collapse > .collapsing .list-group-item {
    // padding-left: 20px; /*30px;*/
    font-size: 0.8rem;
    font-weight: normal;
  }
  /* level 3*/
  .collapse > .collapse > .collapse .list-group-item {
    padding-left: 30px; /*40px;*/
    font-size: 0.8rem;
    font-weight: normal;
  }
}
.list-group > .layergroupbox {
  // background-color: #f1f1f1;
  // font-size: 0.9rem;
  // font-weight: bold;
}
