<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <strong>
      <ng-container *ngIf="mode === 'buffers'; then thenBuffersTemplate; else elseNotBuffersTemplate"></ng-container>
      <ng-template #thenBuffersTemplate i18n="@@interrogatingBufferModalModalTitleIfBuffersMode">
        Sélection à partir d'une zone tampon
      </ng-template>
      <ng-template #elseNotBuffersTemplate i18n="@@interrogatingBufferModalModalTitleIfNotBuffersMode">
        Sélectionner à partir des résultats
      </ng-template>
    </strong>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body my-3">
  <div class="modal-body-container m-auto">
    <h5><strong i18n="@@interrogatingBufferModalSelectionSettings">Paramètres de sélection</strong></h5>
    <div class="d-flex justify-content-between">
      <select class="custom-select m-2 p-1" [(ngModel)]="selectedLayer">
        <option [value]="'noPresetSelected'" hidden selected disabled
          i18n="@@interrogatingBufferModalSelectLayerPlaceholder">Sélectionnez une couche</option>
        <option *ngFor="let layer of layers" [value]="layer">
          <span>{{ layer.get('name') }}</span>
        </option>
      </select>
      <select class="custom-select m-2 p-1" [(ngModel)]="selectedOption">
        <option [value]="'noPresetSelected'" hidden selected disabled
          i18n="@@interrogatingBufferModalSelectTypeOfTreatmentPlaceholder">Sélectionnez un type de traitement</option>
        <option [value]="'Within'" i18n="@@interrogatingBufferModalSelectTypeOfTreatmentInclusionOption">Inclusion
        </option>
        <option [value]="'Intersects'" i18n="@@interrogatingBufferModalSelectTypeOfTreatmentIntersectionOption">
          Intersection</option>
        <option *ngIf="mode === 'interrogation'" [value]="'Dwithin'"
          i18n="@@interrogatingBufferModalSelectTypeOfTreatmentRemoteFromOption">À distance de</option>
      </select>
      <input *ngIf="selectedOption === 'Dwithin'" [(ngModel)]="distance" class="form-control m-2 p-1 w-25"
        type="number">
    </div>
    <div class="text-right mt-4">
      <button class="btn btn-secondary mx-1 px-3 py-2" (click)="interrogate()"
        [disabled]="selectedLayer === 'noPresetSelected' || selectedOption === 'noPresetSelected'"
        i18n="@@interrogatingBufferModalExamineButton">
        Interroger
      </button>
      <button class="btn btn-secondary mx-1 px-3 py-2" (click)="activeModal.close();"
        i18n="@@interrogatingBufferModalCloseButton">
        Fermer
      </button>
    </div>
  </div>
</div>