<div id="fiche-info-card" class="card" *ngIf="modalReady && currentSelectedFeature !== null">

  <div class="modal-header p-4 card-header d-flex align-items-center px-2">
    <h5 class="modal-title ml-4 flex-grow-1">{{ currentLayerResults.layerName }}</h5>
    <button *ngIf="layerEditionConfig && (layerEditionConfig.edition || layerEditionConfig.edition_modification)"
      type="button" (click)="editing = !editing;" class="close rounded mr-2 fiche-info-edit">
      <span aria-hidden="true">
        <i class="fa fars-editer"></i>
      </span>
    </button>
    <button type="button" (click)="closeModal()" [disabled]="isSearchingForShortPath"
      class="close rounded fiche-info-dismiss" data-dismiss="popover">
      <span aria-hidden="true">
        <i class="fa fars-close"></i>
      </span>
    </button>
  </div>

  <div class="card-body modal-body m-4">
    <p *ngIf="editing">{{layerEditionConfig.helpText}}</p>
    <form (ngSubmit)="saveAndCloseModal()" #featureForm="ngForm">
      <table class="table table-sm table-hover">
        <tbody>
          <ng-container *ngFor="let layerQueryField of currentLayerResults.layerQueryFields">
            <ng-container *ngIf="!layerQueryField.structure && !layerQueryField.FieldQuery">
              <tr class="border-bottom">
                <td>{{ layerQueryField }}</td>
                <td *ngIf="!editing" class="fiche-modified" [innerText]="currentSelectedFeature[ layerQueryField ]">
                </td>
                <td *ngIf="editing" class="fiche-modify">
                  <input type="text" class="form-control" [(ngModel)]="currentSelectedFeature[ layerQueryField ]"
                    [name]="currentSelectedFeature[ layerQueryField ]" [ngModelOptions]="{standalone: true}" />
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="layerQueryField.FieldQuery">
              <tr class="border-bottom">
                <td *ngIf="!layerQueryField.structure">{{ layerQueryField.FieldAlias }}</td>
                <td *ngIf="layerQueryField.structure">{{ layerQueryField.FieldAlias +
                  (layerQueryField.structure.is_nullable ? '' : (editing === false ? '' : ' *')) }}</td>
                <ng-container *ngIf="!layerQueryField.structure && layerQueryField.FieldType"
                  [ngSwitch]="layerQueryField.FieldType">

                  <ng-container *ngSwitchCase="'TXT'">
                    <td *ngIf="!editing || layerQueryField.FieldName === 'gid'" class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ]"></td>
                    <td *ngIf="editing && layerQueryField.FieldName !== 'gid'" class="fiche-modify">
                      <input type="text" class="form-control"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [name]="layerQueryField.FieldName" />
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'URL'">
                    <td *ngIf="!editing" class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ]"></td>
                    <td *ngIf="editing" class="fiche-modify">
                      <a [href]="getLayerQueryField(currentLayerResults.layer, currentSelectedFeature, layerQueryField)"
                        target="_blank">
                        {{ currentSelectedFeature[ layerQueryField.FieldName ] }}</a>
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'IMG'">
                    <td *ngIf="!editing" class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ]"></td>
                    <td *ngIf="editing" class="fiche-modify">
                      <img class="image"
                        [src]="getLayerQueryField(currentLayerResults.layer, currentSelectedFeature, layerQueryField)">
                      <!-- <a [href]="getLayerQueryField(currentLayerResults.layer, currentSelectedFeature, layerQueryField)" target="_blank">
                        {{ currentSelectedFeature[ layerQueryField.FieldName ]  }}  <i class="fa fa-external-link"></i></a> -->
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'HTML'">
                    <td *ngIf="!editing" class="fiche-modified"
                      [innerHTML]="currentSelectedFeature[ layerQueryField.FieldName ]"></td>
                    <td *ngIf="editing" class="fiche-modify">
                      <input type="text" class="form-control"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [name]="layerQueryField.FieldName" />
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <td *ngIf="!editing" class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ]"></td>
                    <td *ngIf="editing" class="fiche-modify">
                      <input type="text" class="form-control"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [name]="currentSelectedFeature[ layerQueryField.FieldName ]" />
                    </td>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="layerQueryField.structure" [ngSwitch]="layerQueryField.structure.data_type">

                  <ng-container *ngSwitchCase="'character varying'">
                    <td *ngIf="!editing && (layerQueryField.FieldType != 'URL' && layerQueryField.FieldType != 'IMG')"
                      class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ] ? currentSelectedFeature[ layerQueryField.FieldName ] : layerQueryField.structure.column_default">
                    </td>
                    <td *ngIf="!editing && (layerQueryField.FieldType === 'URL' || layerQueryField.FieldType === 'IMG')"
                      class="fiche-modified">
                      <a [href]="getLayerQueryField(currentLayerResults.layer, currentSelectedFeature, layerQueryField)"
                        target="_blank">
                        {{ currentSelectedFeature[ layerQueryField.FieldName ] ? currentSelectedFeature[
                        layerQueryField.FieldName ] : layerQueryField.structure.column_default }}</a>
                    </td>
                    <td *ngIf="editing" class="fiche-modify">
                      <input type="text" class="form-control"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [name]="layerQueryField.FieldName"
                        [maxlength]="layerQueryField.structure.character_maximum_length"
                        [required]="!layerQueryField.structure.is_nullable" />
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'text'">
                    <td
                      *ngIf="!editing && layerQueryField.structure.domain_name && (layerQueryField.structure.domain_name === 'image')"
                      class="fiche-modify">
                      <img class="image"
                        [src]="getLayerQueryField(currentLayerResults.layer, currentSelectedFeature, layerQueryField)">
                    </td>
                    <td
                      *ngIf="!editing && (!layerQueryField.structure.domain_name || (layerQueryField.structure.domain_name !== 'image'))"
                      class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ] ? currentSelectedFeature[ layerQueryField.FieldName ] : layerQueryField.structure.column_name">
                    </td>
                    <td *ngIf="editing && !layerQueryField.structure.domain_name" class="fiche-modify">
                      <textarea class="form-control" class="col-9 px-0 form-control" cols="15" rows="3"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [required]="!layerQueryField.structure.is_nullable"
                        [name]="layerQueryField.FieldName"></textarea>
                    </td>
                    <td
                      *ngIf="editing && layerQueryField.structure.domain_name && (layerQueryField.structure.domain_name === 'image')"
                      class="fiche-modify">
                      <label class="custom-file-upload btn btn-modal px-3 py-2 mb-0 mr-2">
                        <input (change)="setImage($event, currentSelectedFeature, layerQueryField.FieldName)"
                          type="file" accept=".jpeg, .jpg, .png" [required]="!layerQueryField.structure.is_nullable" />
                        <ng-container i18n="@@resultModalFicheLoadFile">Charger un fichier...</ng-container>
                      </label>
                      <span>{{ currentSelectedFeature[ layerQueryField.FieldName + '_fileName' ] ?
                        currentSelectedFeature[ layerQueryField.FieldName + '_fileName' ] : '' }}</span>
                    </td>

                    <td
                      *ngIf="editing && layerQueryField.structure.domain_name && (layerQueryField.structure.domain_name === 'email')"
                      class="fiche-modify">
                      <input type="text" class="form-control"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [name]="layerQueryField.FieldName"
                        [maxlength]="layerQueryField.structure.character_maximum_length"
                        [required]="!layerQueryField.structure.is_nullable" [pattern]="regex.email" />
                    </td>
                    <td
                      *ngIf="editing && layerQueryField.structure.domain_name && (layerQueryField.structure.domain_name === 'phone_number')"
                      class="fiche-modify">
                      <input type="text" class="form-control"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [name]="layerQueryField.FieldName"
                        [maxlength]="layerQueryField.structure.character_maximum_length"
                        [required]="!layerQueryField.structure.is_nullable" [pattern]="regex.phone_number" />
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'integer'">
                    <td *ngIf="!editing" class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ] ? currentSelectedFeature[ layerQueryField.FieldName ] : layerQueryField.structure.column_name">
                    </td>
                    <td *ngIf="editing" class="fiche-modify">
                      <input type="number" class="form-control"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [maxlength]="layerQueryField.structure.character_maximum_length"
                        [required]="!layerQueryField.structure.is_nullable"
                        [disabled]="layerQueryField.FieldAlias === 'gid'" [name]="layerQueryField.FieldName" />
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'boolean'">
                    <td *ngIf="!editing" class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ] ? currentSelectedFeature[ layerQueryField.FieldName ] : layerQueryField.structure.column_name">
                    </td>
                    <td *ngIf="editing" class="fiche-modify">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [name]="layerQueryField.FieldName"
                          [id]="layerQueryField.FieldName + '_true'" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]" [value]="true">
                        <label class="form-check-label" [for]="layerQueryField.FieldName + '_true'"
                          i18n="@@resultModalFicheChoiceYes">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [name]="layerQueryField.FieldName"
                          [id]="layerQueryField.FieldName + '_false'" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]" [value]="false">
                        <label class="form-check-label" [for]="layerQueryField.FieldName + '_false'"
                          i18n="@@resultModalFicheChoiceNo">Non</label>
                      </div>
                      <div *ngIf="layerQueryField.structure.is_nullable" class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [name]="layerQueryField.FieldName"
                          [id]="layerQueryField.FieldName + '_null'" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]" [value]="null">
                        <label class="form-check-label" [for]="layerQueryField.FieldName + '_null'"
                          i18n="@@resultModalFicheChoiceUndefined">Non défini</label>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'date'">
                    <td *ngIf="!editing" class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ] ? currentSelectedFeature[ layerQueryField.FieldName ] : layerQueryField.structure.column_name">
                    </td>
                    <td *ngIf="editing" class="fiche-modify">
                      <input type="date" class="form-control"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [maxlength]="layerQueryField.structure.character_maximum_length"
                        [required]="!layerQueryField.structure.is_nullable" [name]="layerQueryField.FieldName" />
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'USER-DEFINED'">
                    <td *ngIf="!editing" class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ] ? currentSelectedFeature[ layerQueryField.FieldName ] : layerQueryField.structure.column_name">
                    </td>
                    <td *ngIf="editing && enum" class="fiche-modify">
                      <select class="form-control custom-select p-1"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [required]="!layerQueryField.structure.is_nullable" [name]="layerQueryField.FieldName">
                        <option [value]="'noPresetSelected'" hidden selected disabled
                          i18n="@@resultModalFicheSelectPlaceholder">Sélectionnez un ou plusieurs paramètres</option>
                        <option *ngFor="let item of getEnum(layerQueryField.structure.udt_name)" [value]="item">
                          <span>{{ item }}</span>
                        </option>
                      </select>
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'ARRAY'">
                    <td *ngIf="!editing" class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ] ? currentSelectedFeature[ layerQueryField.FieldName ] : layerQueryField.structure.column_name">
                    </td>
                    <td *ngIf="editing && enum" class="fiche-modify">
                      <ng-multiselect-dropdown i18n-placeholder="@@resultModalFicheSelectPlaceholderDropDown"
                        [placeholder]="'Sélectionnez un ou plusieurs paramètres'" class="form-control custom-select p-1"
                        [data]="getEnum(layerQueryField.structure.udt_name)"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]" [settings]="dropdownSettings"
                        [required]="!layerQueryField.structure.is_nullable" [name]="layerQueryField.FieldName">
                      </ng-multiselect-dropdown>
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <!-- 'double precision', 'numeric', 'smallint', 'real', 'bigint' -->

                    <td
                      *ngIf="!editing && currentSelectedFeature[ layerQueryField.FieldName ] && layerQueryField.FieldType === 'URL'"
                      class="fiche-modified">
                      <a [href]="getLayerQueryField(currentLayerResults.layer, currentSelectedFeature, layerQueryField)"
                        target="_blank"
                        [innerText]="currentSelectedFeature[ layerQueryField.FieldName ] ? currentSelectedFeature[ layerQueryField.FieldName ] : '' "></a>
                    </td>
                    <td
                      *ngIf="(!editing && layerQueryField.FieldType !== 'URL') || layerQueryField.FieldAlias === 'gid'"
                      class="fiche-modified"
                      [innerText]="currentSelectedFeature[ layerQueryField.FieldName ] ? currentSelectedFeature[ layerQueryField.FieldName ] : layerQueryField.structure.column_default">
                    </td>
                    <td *ngIf="editing && layerQueryField.FieldAlias !== 'gid'" class="fiche-modify">
                      <input type="number" class="form-control"
                        [(ngModel)]="currentSelectedFeature[ layerQueryField.FieldName ]"
                        [maxlength]="layerQueryField.structure.character_maximum_length"
                        [required]="!layerQueryField.structure.is_nullable" [name]="layerQueryField.FieldName" />
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>


      <div class="text-right mt-5">
        <button type="button" (click)="checkForShortPath()" class="btn btn-modal px-3 py-2"
          [disabled]="isSearchingForShortPath">
          <span aria-hidden="true">
            <i *ngIf="!isSearchingForShortPath" class="fa fa-map-marker mr-2"></i>
            <div *ngIf="isSearchingForShortPath" class="spinner-border"></div>
            Rechercher un poste source
          </span>
        </button>
        <button type="submit" *ngIf="editing" [disabled]="!featureForm.form.valid"
          class="btn btn-modal px-3 py-2 fiche-info-save">
          <i class="fa fars-sauvegarder"></i>
          <ng-container i18n="@@resultModalFicheSave">Sauvegarder</ng-container>
        </button>
      </div>
    </form>

  </div>
</div>

<div #distanceTooltip class="tooltip tooltip-measure"></div>

<div #copyToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body" i18n="@@editingModalSaveFailed">
    Aucun poste source à moins de 100km de ce point.
  </div>
</div>

<alk-alert-confirm-prompt-modal [type]="'confirm'" i18n-title="@@resultModalFicheConfirmSaveTitle"
  [title]="'Sauvegarder'" i18n-description="@@resultModalFicheConfirmDescription"
  [description]="'Enregistrer les modifications ?'" [buttonValidationColor]="'primary'"
  i18n-buttonValidationText="@@resultModalFicheConfirmButtonValidationText" [buttonValidationText]="'Enregistrer'">
</alk-alert-confirm-prompt-modal>