input[type="text"] {
  text-overflow: ellipsis;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.customcheck {
  .checkmark {
    margin-top: -5px !important;
  }
}

.card-body {
  max-height: 550px;
  overflow-y: scroll;
}

.image {
  max-height: 200px;
}

.spinner-border {
  margin-right: 10px !important;
  width: 0.85rem !important;
  height: 0.85rem !important;
  border-width: 0.1em !important;
}

.toast {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -70px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(167, 30, 23, 0.4);
  color: rgb(167, 30, 23);
}
