<div class="modal-header p-4">
    <h5 class="modal-title ml-4" id="modalInsertText">
      <strong i18n="@@styleDrawsModalTitle" >Modifier le style général</strong>
    </h5>
    <button type="button" class="close rounded" (click)="activeModal.close();">
      <span aria-hidden="true"><i class="fa fars-close"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body-container m-auto p-4">
      <form [formGroup]="styleForm">
      <!-- <form [formGroup]="styleForm" (ngSubmit)="closing('save')"> -->
        <div class="row my-3">
          <div class="col-3 d-flex justify-content-center align-items-center">
            <span i18n="@@styleDrawsModalPunctualStyleLabel">Ponctuel</span>
          </div>
          <div class="col-9">
            <div class="row btn-group mr-2" role="group">
              <button type="button" class="col-10 btn border" disabled>
                <i *ngIf="pointImage.icon" [style.color]="pointImage.color" [class]="'fa ' + pointImage.icon"></i>
              </button>
              <button type="button" class="col-2 btn border btn-grey btn-link" (click)="generateStyle('Point')"><i class="fa fars-editer text-white"></i></button>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-3 d-flex justify-content-center align-items-center">
            <span i18n="@@styleDrawsModalLinearStyleLabel">Linéaire</span>
          </div>
          <div class="col-9">
            <div class="row btn-group mr-2" role="group">
              <button type="button" class="col-10 btn border d-flex justify-content-center" disabled>
                <div
                  *ngIf="lineStringCanvas"
                  [title]="lineStringCanvas.settedStyle.pattern.name"
                  style="width: 120px; height: 25px;"
                  [style.background-color]="lineStringCanvas.settedStyle.background"
                  [style.background-image]="'url(' + lineStringCanvas.settedStyle.pattern.pattern + ')'"></div>
                <!-- <i *ngIf="lineStringImage.icon" [style.color]="lineStringImage.color" [class]="'fa ' + lineStringImage.icon"></i> -->
              </button>
              <button type="button" class="col-2 btn border btn-grey btn-link" (click)="generateStyle('LineString')"><i class="fa fars-editer text-white"></i></button>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-3 d-flex justify-content-center align-items-center">
            <span i18n="@@styleDrawsModalSurfacingStyleLabel">Surfacique</span>
          </div>
          <div class="col-9">
            <div class="row btn-group mr-2" role="group">
                <button type="button" class="col-10 btn border d-flex justify-content-center" disabled>
                  <div
                    *ngIf="polygonCanvas"
                    [title]="polygonCanvas.settedStyle.pattern.name"
                    style="width: 120px; height: 25px;"
                    [style.background-color]="polygonCanvas.settedStyle.background"
                    [style.background-image]="'url(' + polygonCanvas.settedStyle.pattern.pattern + ')'"></div>
                <!-- <i *ngIf="polygonImage.icon" [style.color]="polygonImage.color" [class]="'fa ' + polygonImage.icon"></i> -->
              </button>
              <button type="button" class="col-2 btn border btn-grey btn-link" (click)="generateStyle('Polygon')"><i class="fa fars-editer text-white"></i></button>
            </div>
          </div>
        </div>
        <div class="text-right my-4">
          <button class="btn btn-modal mr-2 py-2" (click)="closing()" i18n="@@styleDrawsModalCloseButton">Fermer</button>
          <!-- <button class="btn btn-modal mr-2 py-2" type="submit" [disabled]="!styleForm.valid">Enregistrer</button>
          <button class="btn btn-modal-grey ml-2 px-3 py-2" (click)="closing()">Annuler</button> -->
        </div>
      </form>
    </div>
  </div>
