<button type="button" (click)="openInterrogation()" class="btn btn-block btn-light border p-1 m-0">
  <i class="fas fars-interroger"></i>
</button>
<span [hidden]="true" #interrogationModalToolName i18n="@@interrogationModalToolName">Information ponctuelle</span>
