#sidebar-research {
  position: absolute;
  margin-left: 10px;
  top: 10px;
  right: 10px;
  max-width: 354px;
  height: auto;
  z-index: 1;
}

.sidebar-closed-research {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#map-search-reduce button {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 0;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  padding: 0px 5px;
  color: #fff;
  font-size: 0.7rem;
  min-height: 42px;
}

#search-icon {
  @media (max-width: 991px) {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
  }
}

form {
  width: 100%;
  padding: 0 !important;
  .form-control {
    font-size: 1rem;
  }
  .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .form-control::-webkit-input-placeholder {
    font-size: 0.95rem;
    opacity: 1;
  }
  .form-control::-moz-placeholder {
    font-size: 0.95rem;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder {
    font-size: 0.95rem;
    opacity: 1;
  }
  .form-control::placeholder {
    font-size: 0.95rem;
    opacity: 1;
  }
  .btn .fars-center-geoloc {
    vertical-align: middle;
  }
}
form:focus-within .input-group {
  box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);
}
form .form-control:focus,
form:focus-within .input-group-text,
form:focus-within button {
  background-color: white !important;
}
.input-group-lg .input-group-append .btn,
.input-group-lg .input-group-prepend .input-group-text {
  font-size: 1rem !important;
}

#map-search-result {
  .list-group {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);
    font-size: 0.8rem;
    padding: 0;
  }
  .list-group.scrollable {
    max-height: 50vh;
    overflow-y: auto;
  }
  .dropdown-item {
    border-top: none;
  }
}
