<nav class="nav navbar-expand-lg">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown m-1" *ngFor="let item of navItems" ngbDropdown placement="bottom">
      <a class="nav-link"  id="dropdownLinkedProject" (click)="isCollapsed = !isCollapsed" ngbDropdownToggle>
        {{ item.title }}
        <i class="fas fars-chevron-bas text-secondary"></i>
      </a>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a class="dropdown-item" *ngFor="let link of item.links[0].relatedLinks" [href]="link.href" target="_blank">{{ link.title }}</a>
      </div>
    </li>
  </ul>
</nav>