
<div class="unauthorized-container p-5">

  <div class="container d-flex justify-content-center align-items-center">

      <div class="text-center">
        <p><strong i18n="page 403|@@unauthorizedToLoadContext">Vous n'êtes pas autorisé à visualiser cette carte</strong></p>
      </div>

      <!-- <p *ngIf="currentUrl">
        <a [href]="currentUrl" >{{ currentUrl }}</a>
      </p> -->

    </div>

</div>
