<div id="map-result-btn">
  <button *ngIf="searching" type="button" class="btn btn-link" disabled>
    <div class="spinner-border mb-2" role="status">
      <div class="sr-only" i18n="@@resultButtonSrOnly">Interrogation en cours...</div>
    </div>
    <ng-container i18n="@@resultButtonPendingLabel"><div>Interrogation en cours...</div></ng-container>
  </button>
  <button *ngIf="!searching" type="button" class="btn btn-link">
    <ng-container i18n="@@resultButtonShowResultsLabel"><div>Résultats de l'interrogation</div></ng-container>
    <i class="fa fars-agrandir-button"></i>
  </button>
</div>
