<ng-container *ngIf="visibleCoordinates">
  <div id="coordinates" class="map-footer-item">
    <span><i class="fa fa-mouse-pointer mr-1"></i>{{ visibleCoordinates.join(', ') }}</span>
  </div>
</ng-container>
