#interrogation-table {
  th,
  td {
    white-space: nowrap;
    padding-bottom: 3px;
    a {
      padding: 1px;
    }
  }
}

#interrogation-table tbody,
#interrogation-table thead {
  .customcheck {
    display: flex;
    align-self: center;
    justify-content: center;
    // padding: 0;
    padding: 10px;
    margin: 0;
    align-items: center;
    input[type="checkbox"] {
      left: 0;
    }
  }
  .checkmark {
    left: initial;
  }
}

.row,
.row > div,
.row div .list-group {
  height: 100%;
}
.row {
  /* #layers-list {
        overflow-y: scroll;
    } */
  #interrogation-nav {
    .navbar-nav .nav-link {
      cursor: default;
      font-size: 0.65rem;
      font-weight: bold;
      text-transform: capitalize;
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;
      color: white !important;
      opacity: 0.5;
    }
    .nav-link.enabled {
      cursor: pointer !important;
      opacity: 1 !important;
      color: white !important;
    }
    .dropdown-toggle::after {
      display: none;
    }
  }
  #interrogation-nav a:not(.dropdown-item) {
    color: #fff;
  }
  #interrogation-table {
    height: calc(100% - 54px);

    table {
      tbody {
        td[type="button"]:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
  .list-group,
  #interrogation-table {
    overflow-y: scroll;
  }
  .list-group-item.active {
    background-color: #f1f1f1;
    border-color: rgba(0, 0, 0, 0.125);
  }
  .list-group-item:hover {
    background-color: #f1f1f1;
    border-color: rgba(0, 0, 0, 0.125);
  }
}

.pagination .custom-select.page-link {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}

.pagination.unite .custom-select.page-link {
  padding-right: 15px !important;
}

.pagination.dizaine .custom-select.page-link {
  padding-right: 25px !important;
}