<div *ngIf="interrogatingService.resultOfInterrogation" class="row no-gutters" id="interrogation">
  <div *ngIf="!isOneLayer" id="layers-list" class="col-3">
    <div class="h-100 border-right list-group list-group-flush">
      <ng-container *ngFor="let layerResults of interrogatingService.resultOfInterrogation.layersResults">
        <a class="list-group-item list-group-item-action"
          [class.active]="layerResults === interrogatingService.currentLayerResults"
          (click)="selectLayerResults(layerResults)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><strong>{{ layerResults.layerName }}</strong></h5>
          </div>
          <small i18n="@@resultContentNbResults">{layerResults.nbResults, plural, =0 {0 résultat} =1 {1 résultat} other
            {{{layerResults.nbResults}} résultats}}</small>
        </a>
      </ng-container>
    </div>
  </div>
  <div [class]="{'col-9': !isOneLayer, 'col-12': isOneLayer}" id="interrogation-result">
    <div id="interrogation-nav" [class]="{'justify-content-end': !isOneLayer, 'justify-content-between': isOneLayer}"
      class="d-flex p-3 bg-white border-bottom">
      <nav class="nav nav-modal navbar-expand-lg">
        <ul class="navbar-nav mr-auto">

          <li id="interrogation-n-results" class="nav-item dropdown"
            *ngIf="isOneLayer &&interrogatingService.resultOfInterrogation.layersResults[0]">
            <span class="h-100 d-flex align-items-center" i18n="@@resultContentNbResultsByLayer">
              {interrogatingService.resultOfInterrogation.layersResults[0].nbResults, plural, =0 {0 résultat} =1 {1
              résultat} other {{{interrogatingService.resultOfInterrogation.layersResults[0].nbResults}} résultats}}
            </span>
          </li>

          <li class="nav-item dropdown"
            *ngIf="isView && !interrogatingService.currentLayerResults.isExternalLayer || interrogatingService.currentLayerResults.hasFeature">
            <a class="h-100 d-flex align-items-center nav-link"
              [class.enabled]="interrogatingService.selectedDataFeatures.length" (click)="centerOnSelectedFeatures()">
              <i class="fas fa-2x mr-2 fars-cibler"></i><span i18n="@@resultContentSeeOnMap">Voir sur la carte</span>
            </a>
          </li>
          <li class="nav-item dropdown"
            *ngIf="isZone && !interrogatingService.currentLayerResults.isExternalLayer || interrogatingService.currentLayerResults.hasFeature">
            <a class="h-100 d-flex align-items-center nav-link"
              [class.enabled]="interrogatingService.selectedDataFeatures.length" (click)="createBuffer()">
              <i class="fas fa-2x mr-2 fars-buffer"></i><span i18n="@@resultContentCreateBufferArea">Créer une zone
                tampon</span>
            </a>
          </li>
          <li class="nav-item dropdown"
            *ngIf="spatialQuery && (['POSTGIS', 'VECTOR'].includes(interrogatingService.currentLayerResults.layer.get('layerType')) || interrogatingService.currentLayerResults.layer.get('class') === 'VectorLayer') && (!interrogatingService.currentLayerResults.isExternalLayer || interrogatingService.currentLayerResults.hasFeature)">
            <a class="h-100 d-flex align-items-center nav-link"
              [class.enabled]="(interrogatingService.selectedDataFeatures.length && (layerGroup && layerGroup.getLayersArray().length !== 0))"
              (click)="openSelectingModal()">
              <i class="fa fa-2x mr-2 fa-mouse-pointer"></i><span i18n="@@resultContentSelect">Sélectionner</span>
            </a>
          </li>
          <li *ngIf="isMail && mailingTool && mailingTool.active" class="nav-item dropdown">
            <a class="h-100 d-flex align-items-center nav-link enabled" (click)="sendMail()">
              <i class="fas fa-2x mr-2 fars-envelope"></i><span i18n="@@resultContentSendMail">Publiposter</span>
            </a>
          </li>
          <li *ngIf="isExport" class="nav-item dropdown">
            <a class="h-100 d-flex align-items-center nav-link enabled dropdown-toggle" id="dropdowModalExport"
              (click)="isCollapsed = !isCollapsed">
              <i class="fas fa-2x mr-2 fars-exporter"></i><span i18n="@@resultContentExportDropdown">Exporter</span><i
                class="fas fa-2x ml-3 fars-chevron-bas"></i>
            </a>
            <div class="dropdown-menu" [ngbCollapse]="isCollapsed">
              <a class="dropdown-item" (click)="export('xls')" i18n="@@resultContentExportInXls">Exporter au format
                xls</a>
              <a class="dropdown-item" (click)="export('csv')" i18n="@@resultContentExportInCsv">Exporter au format
                csv</a>
              <a *ngIf="environment.enabledExportShp" class="dropdown-item" (click)="export('shp')"
                i18n="@@resultContentExportInShp">Exporter au format shp</a>
            </div>
          </li>

        </ul>
      </nav>
    </div>

    <ng-template #pagination>
      <nav *ngIf="interrogatingService.maxPage > 1" class="mt-2">
        <ul class="pagination justify-content-center my-1" [class.unite]="interrogatingService.resultPage < 9"
          [class.dizaine]="interrogatingService.resultPage > 9">
          <li class="page-item" [class.disabled]="interrogatingService.resultPage == 1">
            <button class="page-link" (click)="changePageResult(1)" tabindex="-1"
              [disabled]="interrogatingService.resultPage == 1">
              <i class="fa fa-fw fa-fast-backward"></i>
            </button>
          </li>
          <li class="page-item" [class.disabled]="interrogatingService.resultPage == 1">
            <button class="page-link" (click)="changePageResult(interrogatingService.resultPage - 1);" tabindex="-1"
              [disabled]="interrogatingService.resultPage == 1">
              <i class="fa fa-fw fa-backward"></i>
            </button>
          </li>

          <li *ngIf="!interrogatingService.paginationRange.includes(1)" class="page-item">
            <a class="page-link" (click)="changePageResult(1)" [innerText]="1"></a>
          </li>
          <li
            *ngIf="!interrogatingService.paginationRange.includes(2) && interrogatingService.paginationRange.includes(3)"
            class="page-item">
            <a class="page-link" (click)="changePageResult(2)" [innerText]="2"></a>
          </li>
          <li
            *ngIf="!interrogatingService.paginationRange.includes(2) && !interrogatingService.paginationRange.includes(3)"
            class="page-item disabled">
            <span class="page-link">&hellip;</span>
          </li>

          <ng-container *ngFor="let numPage of interrogatingService.paginationRange">
            <li *ngIf="numPage === interrogatingService.resultPage" class="page-item active">
              <!-- <span class="page-link">
                {{ numPage }} <span class="sr-only">(current)</span>
              </span> -->
              <select class="custom-select page-link" (change)="changePageResult($event.target.value)">
                <option *ngFor="let pageIdx of interrogatingService.completePageRange" [value]="pageIdx"
                  [selected]="interrogatingService.resultPage === pageIdx" [innerText]="pageIdx"></option>
              </select>
            </li>
            <li *ngIf="numPage !== interrogatingService.resultPage" class="page-item">
              <a class="page-link" (click)="changePageResult(numPage);" [innerText]="numPage"></a>
            </li>
          </ng-container>

          <li
            *ngIf="!interrogatingService.paginationRange.includes(interrogatingService.maxPage-1) && !interrogatingService.paginationRange.includes(interrogatingService.maxPage-2)"
            class="page-item disabled">
            <span class="page-link">&hellip;</span>
          </li>
          <li
            *ngIf="!interrogatingService.paginationRange.includes(interrogatingService.maxPage) && interrogatingService.paginationRange.includes(interrogatingService.maxPage-2)"
            class="page-item">
            <a class="page-link" (click)="changePageResult(interrogatingService.maxPage-1);"
              [innerText]="interrogatingService.maxPage-1"></a>
          </li>
          <li *ngIf="!interrogatingService.paginationRange.includes(interrogatingService.maxPage)" class="page-item">
            <a class="page-link" (click)="changePageResult(interrogatingService.maxPage);"
              [innerText]="interrogatingService.maxPage"></a>
          </li>

          <li class="page-item" [class.disabled]="interrogatingService.resultPage == interrogatingService.maxPage">
            <button class="page-link" (click)="changePageResult(interrogatingService.resultPage + 1);"
              [disabled]="interrogatingService.resultPage == interrogatingService.maxPage">
              <i class="fa fa-fw fa-forward"></i>
            </button>
          </li>
          <li class="page-item" [class.disabled]="interrogatingService.resultPage == interrogatingService.maxPage">
            <button class="page-link" (click)="changePageResult(interrogatingService.maxPage);"
              [disabled]="interrogatingService.resultPage == interrogatingService.maxPage">
              <i class="fa fa-fw fa-fast-forward"></i>
            </button>
          </li>
        </ul>
      </nav>
    </ng-template>

    <div *ngIf="interrogatingService.currentLayerResults" id="interrogation-table">

      <div class="input-group w-50 ml-auto mb-3" [class.w-25]="!interrogatingService.searchTxt"
        [class.w-50]="interrogatingService.searchTxt">
        <div class="input-group-append" *ngIf="interrogatingService.searchTxt">
          <span class="input-group-text" i18n="@@resultContentResearchNbResult">
            {interrogatingService.sortedOrFilteredData.length, plural, =0 {Aucun résultat} =1 {Un résultat trouvé} other
            {{{interrogatingService.sortedOrFilteredData.length}} résultats trouvés}}
            <!-- <span [ngPlural]="interrogatingService.sortedOrFilteredData.length">
              <ng-template ngPluralCase="=0">Aucun résultat</ng-template>
              <ng-template ngPluralCase="=1">Un résultat trouvé</ng-template>
              <ng-template ngPluralCase="other">{{ interrogatingService.sortedOrFilteredData.length }} résultats trouvés</ng-template>
            </span> -->
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Rechercher" [ngModel]="interrogatingService.searchTxt"
          (ngModelChange)="searchText($event)" />
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-fw"
              [class]="{'fa-spinner fa-pulse': interrogatingService.searching, 'fa-check-square': !interrogatingService.searching && interrogatingService.searchTxt, 'fa-square': !interrogatingService.searching && !interrogatingService.searchTxt}">
            </i>
          </span>
        </div>
      </div>

      <table class="table table-sm table-bordered m-0">
        <thead>
          <!-- <tr>
              <th *ngFor="let key of tableHead" scope="col" class="text-center">{{ key }}</th>
            </tr> -->
          <tr>
            <th scope="col" class="text-center py-0 px-2">
              <span>
                <label class="customcheck">
                  <input type="checkbox" (click)="toggleAll();"
                    [checked]="interrogatingService.sortedOrFilteredData.length === interrogatingService.selectedDataFeatures.length">
                  <span class="checkmark"></span>
                </label>
              </span>
            </th>

            <th scope="col" class="text-center py-0 px-2"
              *ngIf="!interrogatingService.currentLayerResults.isExternalLayer || interrogatingService.currentLayerResults.hasFeature">
              <i class="fa fa-fw fa-zoom"></i>
            </th>

            <th scope="col" class="text-center py-0 px-2"
              *ngIf="isInfo && !interrogatingService.currentLayerResults.isExternalLayer"><i
                class="fa fa-fw fa-circle-info"></i></th>

            <ng-container *ngFor="let layerQueryField of interrogatingService.currentLayerResults.layerQueryFields">
              <ng-container *ngIf="layerQueryField.FieldSorting">
                <th scope="col" class="text-center py-0 px-2">
                  <button class="btn btn-block btn-light btn-sm btn-link rounded-0 p-0"
                    (click)="sortOn(layerQueryField)"
                    [disabled]="['TXT', 'Date'].indexOf(layerQueryField.FieldType) === -1 ">
                    {{ layerQueryField.FieldAlias }} <span
                      *ngIf="['TXT', 'Date'].indexOf(layerQueryField.FieldType) !== -1 && interrogatingService.resultSort[layerQueryField.FieldName]"
                      class=" ml-auto fa fa-fw"
                      [class.fa-arrow-down]="interrogatingService.resultSort[layerQueryField.FieldName] === 'ASC'"
                      [class.fa-arrow-up]="interrogatingService.resultSort[layerQueryField.FieldName] === 'DESC'"></span>
                  </button>
                </th>
              </ng-container>
            </ng-container>


            <th scope="col" class="text-center py-0 px-2"
              *ngIf="(isEditable || isDeletable) &&!interrogatingService.currentLayerResults.isExternalLayer"></th>

          </tr>
          <!-- <tr>
              <th *ngFor="let key of layerResults. " scope="col" class="text-center">{{ key }}</th>
            </tr> -->
        </thead>
        <tbody>
          <tr
            *ngFor="let dataFeature of interrogatingService.sortedOrFilteredData  | slice: (interrogatingService.resultPage-1) * interrogatingService.nbElemsByPage : (interrogatingService.resultPage * interrogatingService.nbElemsByPage)   ;">
            <th scope="row" class="text-center">
              <span>
                <label class="customcheck">
                  <input type="checkbox" (click)="toggleDataFeatureSelection(dataFeature)"
                    [checked]="interrogatingService.selectedDataFeatures.includes(dataFeature)">
                  <span class="checkmark"></span>
                </label>
              </span>
            </th>
            <th scope="row" class="text-center"
              *ngIf="!interrogatingService.currentLayerResults.isExternalLayer || interrogatingService.currentLayerResults.hasFeature">
              <button type="button" class="btn btn-link" (click)="centerOnFeature(dataFeature.feature)">
                <i class="fa fa-fw fars-cibler"></i>
              </button>
            </th>
            <th scope="row" class="text-center"
              *ngIf="isInfo && !interrogatingService.currentLayerResults.isExternalLayer">
              <button type="button" class="btn btn-link" (click)="displayFeatureInformations(dataFeature)">
                <i class="fa fa-fw fars-fiche-info"></i>
              </button>
            </th>
            <ng-container *ngFor="let layerQueryField of interrogatingService.currentLayerResults.layerQueryFields">
              <ng-container *ngIf="layerQueryField.FieldSorting">
                <td scope="row" class="text-center">
                  <ng-container [ngSwitch]="layerQueryField.FieldType">
                    <ng-container *ngSwitchCase="'TXT'">
                      <span
                        [innerText]="dataFeature[ layerQueryField.FieldName ] !== undefined && dataFeature[ layerQueryField.FieldName ] !== null ? dataFeature[ layerQueryField.FieldName ] : '' "></span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'URL'">
                      <a [href]="getLayerQueryField(interrogatingService.currentLayerResults.layer, dataFeature, layerQueryField)"
                        target="_blank"
                        [innerText]="dataFeature[ layerQueryField.FieldName ] ? dataFeature[ layerQueryField.FieldName ] : '' "></a>
                    </ng-container>
                    <ng-container *ngSwitchCase="'IMG'">
                      <a [href]="getLayerQueryField(interrogatingService.currentLayerResults.layer, dataFeature, layerQueryField)"
                        target="_blank">
                        {{ dataFeature[ layerQueryField.FieldName ] ? dataFeature[ layerQueryField.FieldName ] : '' }}
                        <i class="fa fa-external-link"></i></a>
                    </ng-container>
                    <ng-container *ngSwitchCase="'HTML'">
                      <span [innerHTML]="dataFeature[ layerQueryField.FieldName ]"></span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <span
                        [innerText]="dataFeature[ layerQueryField.FieldName ] ? dataFeature[ layerQueryField.FieldName ] : '' "></span>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>
            <td scope="row" class="text-center"
              *ngIf="(isEditable || isDeletable || ( relations && relations.length>0 ) ) && !interrogatingService.currentLayerResults.isExternalLayer">
              <ng-container *ngFor="let relationItem of relations">
                <button id="relation-button" type="button" class="btn btn-link"
                  (click)="linkRelation(relationItem.id, dataFeature['gid'])">
                  <i class="fa fa-link"></i>
                  {{relationItem.name}}
                </button>
              </ng-container>
              <button *ngIf="isEditable" id="edit-button" type="button" class="btn btn-link"
                (click)="editDataFeatureSelection(dataFeature)">
                <i class="fa fa-fw fars-editer"></i>
              </button>
              <button *ngIf="isDeletable" id="delete-button" type="button" class="btn btn-link"
                (click)="deleteDataFeatureSelection(dataFeature)">
                <i class="fa fa-fw fars-supprimer"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-container *ngTemplateOutlet="pagination"></ng-container>

    </div>
  </div>
</div>