<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <strong i18n="@@ampSearchModalHeader">Recherche AMP</strong>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-body-container m-auto py-4">
    <div class="row">
      <ngb-accordion id="mpa-accordion" [closeOthers]="true" activeIds="selectCountry" class="col-6 border-right">
        <ngb-panel id="selectCountry">
          <ng-template ngbPanelTitle>
            <span><strong i18n="@@countryAmpSearchTitle">Pays *</strong></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <select [(ngModel)]="selectedCountries" (change)="selectCountries()" class="custom-select" multiple>
              <option [value]="'All'" selected>All</option>
              <option *ngFor="let country of countries" [value]="country">{{ country.title }}
              </option>
            </select>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="selectDesignation">
          <ng-template ngbPanelTitle>
            <span><strong i18n="@@designationAmpSearchTitle">Désignation *</strong></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <select [(ngModel)]="selectedDesignations" (change)="selectDesignations()" class="custom-select" multiple>
              <option [value]="'All'" selected>All</option>
              <option *ngFor="let designation of designations; let i = index" [value]="designation"> {{
                designation.title }}
              </option>
            </select>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="selectName">
          <ng-template ngbPanelTitle>
            <span><strong i18n="@@nameAmpSearchTitle">Nom *</strong></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <select [(ngModel)]="selectedNames" (change)="selectItems('selectedNames')" class="custom-select" multiple>
              <option [value]="'All'" selected>All</option>
              <option *ngFor="let name of names; let i = index" [value]="name">{{ name.title }}
              </option>
            </select>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="selectDesignationType">
          <ng-template ngbPanelTitle>
            <span><strong i18n="@@designationTypeAmpSearchTitle">Type de désignation *</strong></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <select [(ngModel)]="selectedDesignationTypes" (change)="selectItems('selectedDesignationTypes')"
              class="custom-select" multiple>
              <option [value]="'All'" selected>All</option>
              <option *ngFor="let designationType of designationTypes; let i = index" [value]="designationType"> {{
                designationType.title }}
              </option>
            </select>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="selectIucnCat">
          <ng-template ngbPanelTitle>
            <span><strong i18n="@@iucnCatAmpSearchTitle">Catégorie IUCN *</strong></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <select [(ngModel)]="selectedIucnCats" (change)="selectItems('selectedIucnCats')" class="custom-select"
              multiple>
              <option [value]="'All'" selected>All</option>
              <option *ngFor="let iucnCat of iucnCats; let i = index" [value]="iucnCat">{{ iucnCat.title }}
              </option>
            </select>
          </ng-template>
        </ngb-panel>
        <!-- <ngb-panel id="selectOfficialAims">
            <ng-template ngbPanelTitle>
              <span><strong i18n="@@officialAimsAmpSearchTitle">Objectifs officiels *</strong></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <select [(ngModel)]="selectedOfficialAims" (change)="selectItems('selectedOfficialAims')" class="custom-select" multiple>
                <option [value]="'All'" selected>All</option>
                <option
                  *ngFor="let officialAim of officialAims; let i = index"
                  [value]="officialAim">{{ officialAim.title }}
                </option>
              </select>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="selectActivities">
            <ng-template ngbPanelTitle>
              <span><strong i18n="@@activitiesAmpSearchTitle">Usages humains et activités menées dans le respect de la réglementation *</strong></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <select [(ngModel)]="selectedActivities" (change)="selectItems('selectedActivities')" class="custom-select" multiple>
                <option [value]="'All'" selected>All</option>
                <ng-container *ngFor="let activity of activities; let i = index">
                  <option *ngIf="!activity.activities" [value]="activity">{{ activity.title }} </option>
                  <optgroup *ngIf="activity.activities" [label]="activity.category">
                    <option
                      *ngFor="let act of activity.activities; let i = index"
                      [value]="act">{{ act.title }}
                    </option>
                  </optgroup>
                </ng-container>
              </select>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="selectMarineSpecies">
            <ng-template ngbPanelTitle>
              <span><strong i18n="@@marineSpeciesAmpSearchTitle">Espèces marines à statut protégé présentes *</strong></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <select [(ngModel)]="selectedMarineSpecies" (change)="selectItems('selectedMarineSpecies')" class="custom-select" multiple>
                <option [value]="'All'" selected>All</option>
                <option
                  *ngFor="let marineSpecie of marineSpecies; let i = index"
                  [value]="marineSpecie">{{ marineSpecie.title }}
                </option>
              </select>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="selectMarineHabitats">
            <ng-template ngbPanelTitle>
              <span><strong i18n="@@marineHabitatsAmpSearchTitle">Habitats marins protégés présents *</strong></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <select [(ngModel)]="selectedMarineHabitats" (change)="selectItems('selectedMarineHabitats')" class="custom-select" multiple>
                <option [value]="'All'" selected>All</option>
                <option
                  *ngFor="let marineHabitat of marineHabitats; let i = index"
                  [value]="marineHabitat">{{ marineHabitat.title }}
                </option>
              </select>
            </ng-template>
          </ngb-panel> -->
      </ngb-accordion>
      <div class="col-6">
        <small i18n="@@usingTipAmpSearchModal" class="text-primary">* Pour sélectionner plusieurs données dans les
          listes déroulantes, maintenez la touche "ctrl" enfoncée.</small>
        <div class="form-group my-5">
          <label i18n="@@statusYearAmpSearchLabel">Année d'attribution du statut</label>
          <input [(ngModel)]="statusYear" type="text" class="form-control">
        </div>
        <!--  <div class="form-group">
            <label i18n="@@managementPlanAmpSearchLabel">Plan de gestion</label>
            <select [(ngModel)]="selectedManagementPlan" class="form-control custom-select">
              <option [value]="'All'" selected>All</option>
              <option
                *ngFor="let key of objectKeys(managementPlans)"
                [value]="key">{{ managementPlans[key] }}
              </option>
            </select>
          </div> -->
        <div class="form-group mb-5">
          <label i18n="@@numberOfEmployeesAmpSearchLabel">Nombre de salariés permanents</label>
          <select [(ngModel)]="selectedNumberOfEmployees" class="form-control custom-select">
            <option [value]="'All'" selected>All</option>
            <option *ngFor="let key of objectKeys(numberOfEmployees)" [value]="key">{{ numberOfEmployees[key] }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label i18n="@@mpaStaffMemberAmpSearchLabel" class="d-block">Certains agents de l'AMP sont assermentés pour
            faire appliquer la réglementation de l'AMP</label>
          <div class="form-check form-check-inline mx-4">
            <input type="radio" class="form-check-input" name="mpaStaffMemberOptions" id="mpaStaffMemberYes"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="staffMember" [value]="1">
            <label i18n="@@yesLabel" class="form-check-label" for="mpaStaffMemberYes">Oui</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="mpaStaffMemberOptions" id="mpaStaffMemberNo"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="staffMember" [value]="0">
            <label i18n="@@noLabel" class="form-check-label" for="mpaStaffMemberNo">Non</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="mpaStaffMemberOptions" id="mpaStaffMemberNoDef"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="staffMember" [value]="-1">
            <label i18n="@@noLabel" class="form-check-label" for="mpaStaffMemberNoDef">Non défini</label>
          </div>
        </div>
        <!-- <div class="form-group">
            <label i18n="@@scubaDivingEquipmentAmpSearchLabel" class="d-block">Accès au matériel de plongée</label>
            <div class="form-check form-check-inline mx-4">
              <input type="radio" class="form-check-input" name="scubaDivingEquipmentOptions" id="scubaDivingEquipmentYes"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="scubaDivingEquipmentAccess" [value]="1">
              <label i18n="@@yesLabel" class="form-check-label" for="scubaDivingEquipmentYes">Oui</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="scubaDivingEquipmentOptions" id="scubaDivingEquipmentNo"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="scubaDivingEquipmentAccess" [value]="0">
              <label i18n="@@noLabel" class="form-check-label" for="scubaDivingEquipmentNo">Non</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="scubaDivingEquipmentOptions" id="scubaDivingEquipmentNoDef"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="scubaDivingEquipmentAccess" [value]="-1">
              <label i18n="@@noLabel" class="form-check-label" for="scubaDivingEquipmentNoDef">Non défini</label>
            </div>
          </div>
          <div class="form-group">
            <label i18n="@@visitorCenterAmpSearchLabel" class="d-block">Existence d'un centre d'accueil</label>
            <div class="form-check form-check-inline mx-4">
              <input type="radio" class="form-check-input" name="visitorCenterOptions" id="visitorCenterYes"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="visitorCenterExistance" [value]="1">
              <label i18n="@@yesLabel" class="form-check-label" for="visitorCenterYes">Oui</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="visitorCenterOptions" id="visitorCenterNo"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="visitorCenterExistance" [value]="0">
              <label i18n="@@noLabel" class="form-check-label" for="visitorCenterNo">Non</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="visitorCenterOptions" id="visitorCenterNoDef"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="visitorCenterExistance" [value]="-1">
              <label i18n="@@noLabel" class="form-check-label" for="visitorCenterNoDef">Non défini</label>
            </div>
          </div> -->
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-modal px-3 py-2" (click)="search()" [disabled]="rechercheEnCours">
        <div *ngIf="rechercheEnCours" class="spinner-border text-primary"></div>
        <ng-container i18n="@@searchMpaModalSearchButton">Rechercher</ng-container>
      </button>
    </div>
  </div>
</div>