<div class="d-flex flex-column">
  <header class="sidebar-header" *ngIf="rootLayerGroup && (mode === 'Couches' || mode === 'Légende')">
    <h4 class="px-2 m-0 my-1">
      <span *ngIf="showLegendTitle" >
        <ng-container i18n="@@layerLegendModeLegend">Légende</ng-container>
      </span>
    </h4>
  </header>
</div>
<div style="display: grid; grid-template-columns: auto auto" *ngIf="!moveMap">
  <ng-container *ngFor="let legend of legends | legendFilter;">
    <div class="d-flex legendItem pl-2 mt-1">
      <img class="legendFormImg" [src]="legend.icon" alt="{{ legend.label }}" />
      <span class="flex-grow-1">
              {{ legend.label }}
            </span>
    </div>
  </ng-container>
</div>


