<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="modalInsertText">
    <strong i18n="@@generateStyleDrawModalTitle">Modifier le style</strong>
  </h5>
  <button type="button" class="close rounded" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-body-container m-auto p-4">
    <form [formGroup]="styleForm" (ngSubmit)="isBufferCreating ? saveBufferNewStyle() : generateStyle(geometryType)">
      <div class="row my-3">
        <div class="col-12 mb-3">
          <span i18n="@@generateStyleDrawModalReason">Motif</span>
          <button id="button-icon" *ngIf="geometryType === 'Point'" type="button" class="btn border btn-lg ml-3"
            [ipIconPack]="['fa']" [ipFallbackIcon]="'fa fa-map-pin'"
            [iconPicker]="styleForm.get('form').value ? 'fa ' + styleForm.get('form').value : 'fa fa-map-pin'"
            [ipPosition]="'bottom'" [ipWidth]="'250px'" i18n-ipPlaceHolder="@@generateStyleDrawModalIconPickerButton"
            [ipPlaceHolder]="'Choisissez une icône'" (iconPickerSelect)="onIconPickerSelect($event)"><i
              [class]="styleForm.get('form').value" [style.color]="color"></i></button>
          <div *ngIf="geometryType !== 'Point'" class="pattern-container mt-3">
            <button type="button" *ngFor="let pattern of patterns; let i = index;"
              class="btn border btn-lg pattern-item p-1 m-1"
              [class.active]="selectedPattern && (selectedPattern.name === pattern.name)" [title]="pattern.name"
              [style.background-image]="'url(' + pattern.pattern + ')'" (click)="selectPattern(pattern)"></button>
          </div>
        </div>
        <div [class]="geometryType === 'Point' ? 'col-6' : 'col-4'">
          <span class="align-self-start" i18n="@@generateStyleDrawModalSizeLabel">Taille</span>
          <div>
            <select *ngIf="geometryType === 'Point'" class="form-control custom-select p-1" formControlName="size">
              <option *ngFor="let size of pointSizes; let i = index;"
                [selected]="this.styleForm.get('size').value === size.toString() || i === 0">{{ size }}</option>
            </select>
            <select *ngIf="geometryType !== 'Point'" class="form-control custom-select p-1" formControlName="size">
              <option *ngFor="let size of polygonSizes; let i = index;"
                [selected]="this.styleForm.get('size').value === size || i === 0">{{ size }}</option>
            </select>
          </div>
        </div>
        <div [class]="geometryType === 'Point' ? 'col-6' : 'col-4'">
          <span class="align-self-start" i18n="@@generateStyleDrawModalColorLabel">Couleur</span>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" [style.border-color]="color" [style.background]="color"></span>
            </div>
            <input type="text" class="form-control" [value]="color" [(colorPicker)]="color" [cpOutputFormat]="'rgba'"
              (colorPickerChange)="selectColor(color)" formControlName="color">
          </div>
        </div>
        <div *ngIf="geometryType !== 'Point'" class="col-4">
          <span class="align-self-start" i18n="@@generateStyleDrawModalBackgroundColorLabel">Couleur de fond</span>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" [style.border-color]="background" [style.background]="background"></span>
            </div>
            <input type="text" class="form-control" [value]="background" [(colorPicker)]="background"
              [cpOutputFormat]="'rgba'" formControlName="background">
          </div>
        </div>
        <div *ngIf="selectedPattern && geometryType !== 'Point'" class="col-12 mt-3">
          <span i18n="@@generateStyleDrawModalPreviewLabel"> Aperçu : </span>
          <button type="button" class="btn border btn-lg pattern-item p-1 m-1" [title]="selectedPattern.name"
            [style.background-image]="'url(' + selectedPattern.pattern + ')'"
            [style.background-color]="background"></button>
        </div>
      </div>
      <div class="text-right my-3">
        <button class="btn btn-modal mr-2 py-2" type="submit" [disabled]="!styleForm.valid"
          i18n="@@generateStyleDrawModalSaveButton">Enregistrer</button>
        <button class="btn btn-modal-grey ml-2 px-3 py-2" (click)="closing()"
          i18n="@@generateStyleDrawModalCancelButton">Annuler</button>
      </div>
    </form>
  </div>
</div>