textarea {
    resize: none;
}

.social-media .fab,
.social-media .fas {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* Add a hover effect if you want */
.social-media .fab:hover,
.social-media .fas:hover {
  opacity: 0.7;
}

/* Facebook */
.fars-facebook {
    background: #3B5998;
    color: white;
}
.fars-facebook:hover {
    opacity: 1;
    background: rgb(37, 56, 97);
    color: white;
}
  
/* Twitter */
.fars-twitter {
    background: #55ACEE;
    color: white;
} 
.fars-twitter:hover {
    opacity: 1;
    background: rgb(50, 102, 143);
    color: white;
} 
  
/* Mail */
.fars-envelope {
    background: rgb(158, 166, 172);
    color: white;
} 
.fars-envelope:hover {
    opacity: 1;
    background: rgb(95, 100, 104);
    color: white;
} 

.toast {
    position: absolute;
    margin-top: -195px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.toast.mobile {
    margin-top: 20px;
}