<div [class]="screenMode === 'mobile' ? 'row mx-1 p-2 bg-white' : 'row'">
  <div [class.col-8]="screenMode === 'desktop'" [class.pt-3]="screenMode === 'mobile'" class="d-flex flex-column align-items-center">
    <div class="input-group align-content-center">
      <input #websiteLink type="text" class="form-control" readonly [value]="currentUrl">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="copyLink(websiteLink);"><i class="fas fars-copier-fichier"></i></button>
      </div>
    </div>
    <div class="w-100 mt-4">
      Code HTML pour Intégrer cette carte dans un site web :
      <textarea rows="4" class="form-control pl-1 mt-3" readonly >&lt;iframe width="200" height="100" src="{{ currentUrl }}" frameborder="0" allowfullscreen="true"&gt;&lt;/iframe&gt;</textarea>
    </div>
  </div>
  <div [class]="screenMode === 'mobile' ? 'w-100 p-3 social-media d-flex align-items-center justify-content-between' : 'col-4 social-media d-flex flex-column align-items-center justify-content-between border-left'">
    <a class="fab fars-facebook text-white" (click)="facebookShare($event)"></a>
    <a class="fab fars-twitter text-white" (click)="twitterShare($event)"></a>
    <a i18n-href="@@sharingModalSendMailLink" href="mailto:?Subject=Carte partagée avec vous&body={{currentUrlEncoded}}" class="fas fars-envelope"></a>
  </div>
</div>

<div class="toast" [class.mobile]="screenMode === 'mobile'" [class.show]="showToast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body" i18n="@@sharingModalCopyToast">
      Le lien a bien été copié.
    </div>
  </div>