<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel"><strong i18n="@@addLayerModalModalTitle">Importer une
      couche</strong></h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close()">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-body-container m-auto">
    <div class="text-align" i18n="@@addLayerModalFileTypeInformation">
      <p>Vous pouvez intégrer des fichiers au format <b>geojson</b>.</p>
      <p>Les données (géométries et attributs) seront intégrées aux objets en cours d'édition. Elles ne seront
        sauvegardées qu'à<b> l'enregistrement</b> de la session d'édition.</p>

      <div class="alert alert-info">
        <small>Les règles suivantes doivent être respectées pour permettre l'import :</small>
        <ul>
          <li><small>La donnée importée doit être de même nature (point, ligne, polygone) que la donnée en cours
              d'édition.</small></li>
          <li><small>Les champs doivent être de même nom et type que la donnée en cours d'édition.</small></li>
          <li><small>Le système de projection doit être identique.</small></li>
        </ul>
        <small>Il est possible d'ajouter ou modifier des données en cours d'édition via l'import</small>
        <ul>
          <li><small>Une mise à jour est détectée si la clé (gid par défaut) correspond à l'identifiant d'un objet en
              cours d'édition.</small></li>
          <li><small>une valeur de clé nulle ou non existante correspondra à de l'ajout.</small></li>
        </ul>
      </div>
    </div>
    <button class="btn btn-light" i18n-title="@@editingModalButtonExportExemple"
      title="Exporter un modèle au format geojson" (click)="exportGeojsonExemple()">Télécharger un modèle
    </button>

    <form>
      <div class="form-group">
        <label for="fieldSelection">Champ clé pour les mises à jour</label>
        <select class="custom-select" [(ngModel)]="gidField" *ngIf="layerFields" name="fieldSelection">
          <option *ngFor="let field of layerFields" [value]="field.FieldName">
            <span>{{ field.FieldName }}</span>
          </option>
        </select>
      </div>
    </form>

    <form novalidate [formGroup]="formImport" class="form-group">

      <div class="input-group mt-4">
        <div class="custom-file">
          <input type="file" class="custom-file-input" [class.is-invalid]="loadingFailed" id="validatedCustomFile"
            (change)="onFileChange($event.target.files)" [accept]="acceptedFileTypes" multiple required>
          <label class="custom-file-label" for="validatedCustomFile"><span #labelImport></span></label>
        </div>
      </div>
      <div *ngIf="loadingFailed" class="mt-0 text-danger" i18n="@@addLayerModalInvalidFileFormat">
        <small>Format de fichier invalide ou ensemble de fichiers incomplet</small>
      </div>
    </form>
    <div class="text-right my-4">



      <button class="btn btn-modal mb-2 px-3" (click)="loadFile()" [disabled]="isLoading"
        i18n="@@addLayerModalUploadButton">
        <div *ngIf="isLoading" class="spinner-border"></div>
        Transférer
      </button>
    </div>
  </div>
</div>