<div #helpTooltip class="tooltip">
  <ng-container *ngIf="!isMeasuring" i18n="@@measuringToolsHelpTooltipMessageStart">
    Cliquez pour commencer à mesurer
  </ng-container>
  <ng-container *ngIf="isMeasuring && typeSelect === 'area'" i18n="@@measuringToolsHelpTooltipMessageAreaMeasuring">
    Cliquez pour continuer à mesurer la surface
  </ng-container>
  <ng-container *ngIf="isMeasuring && typeSelect == 'length'"
    i18n="@@measuringToolsHelpTooltipMessageDistanceMeasuring">
    Cliquez pour continuer à mesurer la distance
  </ng-container>
  <ng-container *ngIf="isMeasuring && typeSelect == 'altimetry'"
    i18n="@@measuringToolsHelpTooltipMessageDistanceMeasuring">
    Cliquez pour continuer à mesurer le profil altimétrique
  </ng-container>
  <ng-container *ngIf="isMeasuring">
    <br />
    <ng-container i18n="@@measuringToolsHelpTooltipMessageStopMeasuring">Double cliquez pour terminer la mesure
    </ng-container>
  </ng-container>
</div>

<div #measureTooltip class="tooltip tooltip-measure"></div>