<div class="modal-header p-4">
  <h5 class="modal-title ml-4">
    <strong i18n="@@locatingAddModalHeader" >Ajouter une zone favorite</strong>
  </h5>
  <button type="button" class="close rounded" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body p-4">
  <div class="modal-body-container m-auto">
    <form #addingForm (ngSubmit)="addZone(addingForm)">
      <div class="d-flex">
        <div class="flex-column flex-grow-1 form-group pb-0 mr-3 mb-2">
          <span class="align-self-start" i18n="@@locatingAddModalAreaNameLabel" >Nom de la zone</span>
          <input type="text" class="form-control mt-2" id="zoneName" i18n-placeholder="@@locatingAddModalAreaNamePlaceholder" placeholder="Nom">
        </div>
        <button type="submit" class="btn btn-secondary align-self-end h-50 mb-2" i18n="@@locatingAddModalAddAreaButton" >Ajouter la zone</button>
      </div>
    </form>
    <form [formGroup]="addFavoriteZone">
      <label class="customcheck mt-1">
        <ng-container i18n="@@locatingAddModalSaveCheckboxLabel" >Enregistrer</ng-container>
        <input formControlName="checkboxInput" #checkboxInput type="checkbox">
        <span class="checkmark"></span>
      </label>
    </form>
  </div>
</div>
