<div class="modal-header p-4">
  <span class="modal-title align-self-center ml-2" id="exampleModalLabel">
    <i class="fa fars-annoter mr-2"></i>
    <strong>{{ toolName }}</strong>
  </span>
  <div>
    <div class="list-group d-flex flex-row align-items-end">
      <div *ngIf="(tools && tools.Annotation.Snapping) && ['drawSymbol', 'drawCircle', 'drawLineString', 'drawPolygon'].includes(mapTool)"
        [class.selected]="annotatingSnapping" class="list-group-item p-1 m-0">
        <button i18n-title="@@annotatingModalActivateTieLayer" title="Activer la couche d'accroche" type="button" class="close my-auto p-0 mx-1" (click)="coreService.setAnnotatingSnapping(!annotatingSnapping)">
          <span aria-hidden="true"><i class="fa fars-polygon fa-md"></i></span>
        </button>
      </div>
      <div *ngIf="tools && tools.Annotation.Attribut && (tools.Annotation.AttributName.length > 0) && mapTool === 'editDraws'"
        [class.selected]="annotatingOption === 'modifyAttributes'" class="list-group-item p-1 m-0">
        <button i18n-title="@@annotatingModalChangeAttributes" title="Modifier les attributs" type="button" class="close my-auto p-0 mx-1" (click)="setType('modifyAttributes')">
          <!-- modale -->
          <span aria-hidden="true"><i class="fa fa-font fa-md"></i></span>
        </button>
      </div>
      <div *ngIf="tools && tools.Annotation.Modify && mapTool === 'editDraws'" [class.selected]="annotatingOption === 'modifyDraw'" class="list-group-item p-1 m-0">
        <button i18n-title="@@annotatingModalModify" title="Modifier" type="button" class="close my-auto p-0 mx-1" (click)="setType('modifyDraw')">
          <span aria-hidden="true"><i class="fa fars-editer fa-md"></i></span>
        </button>
      </div>
      <div *ngIf="tools && tools.Annotation.Move && mapTool === 'editDraws'" [class.selected]="annotatingOption === 'moveDraw'" class="list-group-item p-1 m-0">
        <button i18n-title="@@annotatingModalMove" title="Déplacer" type="button" class="close my-auto p-0 mx-1" (click)="setType('moveDraw')">
          <span aria-hidden="true"><i class="fa fars-deplacer fa-md"></i></span>
        </button>
      </div>
      <div *ngIf="tools && tools.Annotation.Modify && mapTool === 'editDraws'" [class.selected]="annotatingOption === 'removeDraw'" class="list-group-item p-1 m-0">
        <button i18n-title="@@annotatingModalRemove" title="Supprimer" type="button" class="close my-auto p-0 mx-1" (click)="setType('removeDraw')">
          <span aria-hidden="true"><i class="fa fars-supprimer fa-md"></i></span>
        </button>
      </div>
    </div>
  </div>
  <button i18n-title="@@annotatingModalClose" title="Fermer" type="button" class="close my-auto p-0 mr-2" data-dismiss="modal" aria-label="Close" (click)="coreService.setAnnotatingSnapping(false); activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
