
<div *ngIf="buttonIconClass === 'fa fars-profile'">
    <a class="btn btn-link nav-link text-secondary nav-user-profile"
    [href]="connexionUrl"><i title="Connexion" [class]="buttonIconClass"></i><span> {{ buttonLabel }} </span></a>
</div>
<div *ngIf="buttonIconClass === 'fa fars-deconnecter'">
    <strong>{{ buttonLabel }}</strong> 
    <a class="btn btn-link nav-link nav-user-deconnecter"
        [href]="connexionUrl"><i title="Déconnexion" [class]="buttonIconClass"></i></a>
</div>
