
.nav-link {
    font-size: 0.65rem;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.nav-user-profile, .nav-user-deconnecter  {
    opacity: 1;
    font-size: .9rem;
    .falk, .fa, .fas, .far {
        text-align: center !important;
        font-size: 1.2rem !important;
    }
}

@media (max-width: 991px) {
    span, strong {
        display: none !important;
    }
    a {
        padding: 0.375rem 0.75rem !important;
        i {
            margin: 0 !important;
        }
    }   
}
@media (min-width: 992px) {
    .nav-user-profile, .nav-user-deconnecter  {
        padding-left: 0;
        .falk, .fa, .fas, .far {
            float: left;
            margin-bottom: 0 !important;
        }
    }
    .nav-user-profile {
        padding: 0;
        .falk, .fa, .fas, .far {
            margin-right: 1rem;
        }
    }
    .nav-user-deconnecter {
        display: inline-block !important;
        cursor: initial;
        .falk, .fa, .fas, .far {
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }
    .nav-link {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .fars-deconnecter {
        opacity: 1;
        color: #bf0301;
        cursor: pointer;
        margin-bottom: 0 !important;
        font-size: .9rem !important;
    }
}