<div class="unauthorized-container p-5">

  <div class="container d-flex justify-content-center align-items-center">

    <div class="text-center">
      <p><strong i18n="page 401|@@unauthorizedMessage">Cette carte est à accès restreint, nous vous invitons à vous
          connecter pour la visualiser</strong></p>
      <!-- Connexion d'un utilisateur -->
      <div class="d-flex justify-content-center">
        <alk-connexion-button [redirectUrl]="redirectUrl" class="mt-3 p-2 border"></alk-connexion-button>
      </div>
    </div>

  </div>

</div>