<div class="modal-header p-4 ">
  <div class="row mt-0 mb-0 ml-auto mr-auto w-100"> 
    <div class="col-12 ">
      <div class="list-group d-flex flex-row m-auto flex-wrap justify-content-center" >
        <div class="list-group-item p-1 m-0" [class.selected]="editionMode.draw"
          [class.disabled-tool]="!(editionConfig.edition || editionConfig.edition_ajout)">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonAdd" title="Ajouter"
            [disabled]="!(editionConfig.edition || editionConfig.edition_ajout)"
            (click)="drawFeatures()">
            <span aria-hidden="true"><i class="fa fars-ajouter"></i></span>
          </button>
        </div>
        <div class="list-group-item p-1 m-0" [class.selected]="editionMode.select">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonSelect" title="Modifier les attributs" (click)="selectFeatures()">
            <span aria-hidden="true"><i class="fa fa-file-text"></i></span>
          </button>
        </div>
        <div class="list-group-item p-1 m-0" [class.selected]="editionMode.edit">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonModify" title="Modifier" (click)="editFeatures()">
            <span aria-hidden="true"><i class="fa fars-editer"></i></span>
          </button>
        </div>
        <div class="list-group-item p-1 m-0" [class.selected]="editionMode.translate">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonMove" title="Déplacer" (click)="translateFeatures()">
            <span aria-hidden="true"><i class="fa fars-deplacer"></i></span>
          </button>
        </div>
        <div class="list-group-item p-1 m-0" [class.disabled-tool]="nbSelectedFeatures == 0">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonRemove" title="Supprimer" [disabled]="nbSelectedFeatures == 0"
            (click)="deleteFeatures()">
            <span aria-hidden="true"><i class="fa fars-supprimer"></i></span>
          </button> 
        </div>
        <div class="list-group-item p-1 m-0 item-noborder" >
         
        </div>
        
        <div class="list-group-item p-1 m-0" [class.selected]="editionMode.multiSelect">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonSelect" title="Sélectionner (pour une sélection multiple, maintenir la touche shift enfoncée)" (click)="enabledMultiselect()">
            <span aria-hidden="true"><i class="fa fa-mouse-pointer" aria-hidden="true"></i></span>
          </button>
        </div>
        
        <div class="list-group-item p-1 m-0" [class.selected]="editionMode.hole"
          [class.disabled-tool]="layerType !== 'Polygon' && layerType !== 'MultiPolygon'">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonPit" title="Créer un trou"
            [disabled]="layerType !== 'Polygon' && layerType !== 'MultiPolygon'" (click)="createHole()">
            <span aria-hidden="true"><i class="fa fa-stop-circle"></i></span>
          </button>
        </div>

        <div class="list-group-item p-1 m-0" [class.selected]="editionMode.merge"  [class.disabled-tool]="nbSelectedFeatures < 2">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonMerge" title="Fusionner" [disabled]="nbSelectedFeatures < 2" 
                  (click)="mergeFeatures()">
            <span aria-hidden="true"><i class="fa fa-object-group "></i></span>
          </button>
        </div>
        <div class="list-group-item p-1 m-0" [class.selected]="editionMode.drawGeomToFeature" [class.disabled-tool]="nbSelectedFeatures < 1" *ngIf="editionConfig && (editionConfig.edition || editionConfig.edition_ajout || editionConfig.edition_modification)" >
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonMerge" title="ajout une partie à un objet"
                  (click)="enabledDrawGeomToFeature()">
            <span aria-hidden="true"><i class="fa fa-plus-circle"></i></span>
          </button>
        </div>
        <div class="list-group-item p-1 m-0" [class.selected]="editionMode.selectCut" [class.disabled-tool]="nbSelectedFeatures < 1" *ngIf="editionConfig && (editionConfig.edition || editionConfig.edition_ajout || editionConfig.edition_modification)">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonMerge" title="Suprimer une partie d'un mutli objet"
                  (click)="enabledSelectCut()">
            <span aria-hidden="true"><i class="fa fa-eraser"></i></span>
          </button>
        </div>
       <!-- <div class="list-group-item p-1 m-0">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonMerge" title="Importer des fichiers"
                  (click)="loadFile()" *ngIf="editionConfig && (editionConfig.edition || editionConfig.edition_ajout || editionConfig.edition_modification)">
            <span aria-hidden="true"><i class="fa fars-ouvrir"></i></span>
          </button>
        </div> -->

        <div class="list-group-item p-1 m-0" [class.disabled-tool]="nbSelectedFeatures == 0">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonCopy" title="Dupliquer" [disabled]="nbSelectedFeatures == 0"
            (click)="copyFeature()">
            <span aria-hidden="true"><i class="fa fa-copy"></i></span>
          </button>
        </div>
        <div class="list-group-item p-1 m-0"
          [class.disabled-tool]="nbSelectedFeatures == 0 || layerType === 'Point' || layerType === 'MultiPoint'">
          <button type="button" class="close my-auto p-0 mx-1" i18n-title="@@editingModalButtonCut" title="Découper"
            [disabled]="nbSelectedFeatures == 0 || layerType === 'Point' || layerType === 'MultiPoint'"
            (click)="splitFeature()">
            <span aria-hidden="true"><i class="fa fa-cut"></i></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mt-1">
      <button type="button" class="btn btn-sm btn-secondary ml-1 mr-1" (click)="cancel()" i18n="@@editingModalButtonCancel">Annuler</button>
      <button type="button" class="btn btn-sm btn-primary ml-1 mr-1" (click)="saveLayer()" [disabled]="isLoading" i18n="@@editingModalButtonValidation">
        <div *ngIf="isLoading" class="spinner-border"></div>
        Terminer l'édition
      </button>
    </div>
  </div>
</div>

<div *ngIf="isToastVisible" #copyToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body" i18n="@@editingModalSaveFailed">
    L'enregistrement des modifications a échoué
  </div>
</div>

<alk-alert-confirm-prompt-modal
  #cancelConfirm
  [type]="'confirm'"
  i18n-title="@@editingModalCancelConfirmTitle"
  [title]="'Êtes-vous sûr(e) d\'annuler les modifications en cours ?'"
  i18n-description="@@editingModalCancelConfirmDescription"
  [description]="'Ces modifications seront supprimées définitivement.'"
  [buttonValidationColor]="'warning'"
  i18n-buttonValidationText="@@editingModalCancelConfirmValidationTextButton"
  [buttonValidationText]="'Fermer sans enregistrer'">
</alk-alert-confirm-prompt-modal>

<alk-alert-confirm-prompt-modal
  #saveConfirm
  [type]="'confirm'"
  i18n-title="@@editingModalSaveConfirmTitle"
  [title]="'Êtes-vous sûr(e) de valider les modifications en cours ?'"
  i18n-description="@@editingModalSaveConfirmDescription"
  [description]="'Ces modifications seront définitives.'"
  [buttonValidationColor]="'danger'"
  i18n-buttonValidationText="@@editingModalSaveConfirmValidationTextButton"
  [buttonValidationText]="'Valider les modifications'">
</alk-alert-confirm-prompt-modal>

<alk-alert-confirm-prompt-modal
  #featureError
  [type]="'confirm'"
  i18n-title="@@editingModalCancelConfirmTitle"
  [title]="'Fichier non conforme'"
  i18n-description="@@editingModalCancelConfirmDescription"
  [description]="'Le fichier n\'a pu être importé : ' + msgError "
  [buttonValidationColor]="'warning'"
  i18n-buttonValidationText="@@editingModalCancelConfirmValidationTextButton"
  [buttonValidationText]="'Fermer'">
</alk-alert-confirm-prompt-modal>

<alk-alert-confirm-prompt-modal
  #featureDeleted
  [type]="'confirm'"
  i18n-title="@@editingModalCancelConfirmTitle"
  [title]="'Supression de feature'"
  i18n-description="@@editingModalCancelConfirmDescription"
  [description]="'Attention, vous supprimez la dernière partie d\'un objet, celui-ci sera supprimé'"
  [buttonValidationColor]="'danger'"
  i18n-buttonValidationText="@@editingModalSaveConfirmValidationTextButton"
  [buttonValidationText]="'Valider les modifications'">
</alk-alert-confirm-prompt-modal>

<alk-alert-confirm-prompt-modal
  #saveError
  [type]="'confirm'"
  i18n-title="@@editingModalCancelConfirmTitle"
  [title]="'Erreur pendant l\'enregistrement'"
  i18n-description="@@editingModalCancelConfirmDescription"
  [description]="msgError"
  [buttonValidationColor]="'warning'"
  i18n-buttonValidationText="@@editingModalCancelConfirmValidationTextButton"
  [buttonValidationText]="'Fermer'">
</alk-alert-confirm-prompt-modal>