.disabled-tool{
  opacity: 0.5 !important;
  pointer-events: none;
}
.item-noborder{
  border-top:none;
  border-bottom: none;
  background-color: #edf6ff!important;
}

/* .selected-tool{
  background-color: #40b96a !important;
}

.selected-tool {
  i:focus, span:focus, button:focus{
    outline: none !important;
  }
} */
