.toast {
    position: absolute;
    right: 0;
    width: 340px;
    top: 125%;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(167, 30, 23, 0.4);
    color: rgb(167, 30, 23);
}