<i class="fas fa-lg fars-center-geoloc"></i>
<ng-content></ng-content>
<div #copyToastGeoloc class="toast" role="alert" aria-live="assertive" hidden="true" aria-atomic="true">
    <div class="toast-body" i18n="@@editingModalSaveFailed">
        {{ toastContent }}
    </div>
</div>