alk-result-modal {
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  max-height: 100%;
  min-height: 100%;
}

button.close {
  opacity: 1;
}

button.close:hover {
  background-color: #f1f1f1;
}

.modal-body {
  height: 75vh;
}
