<ng-container *ngIf="resultsOfInterrogation !== null && !closed" >
  <div class="modal-header p-3">
    <h5 class="modal-title flex-grow-1 ml-4" id="exampleModalLabel">
      <!-- <strong>{{ resultsOfInterrogation.totalResults }} résultat(s)</strong> -->
      <strong i18n="@@resultModalHeaderNbResults">{resultsOfInterrogation.totalResults, plural, =0 {0 résultat} =1 {1 résultat} other {{{resultsOfInterrogation.totalResults}} résultats}}</strong>
    </h5>
    <button type="button" class="close rounded mr-2" data-reduce="button" (click)="reduceModalBox();" >
      <span aria-hidden="true"><i class="fa fars-reduire"></i></span>
    </button>
    <button type="button" class="close rounded mr-2" (click)="openBottomBox()" >
      <span aria-hidden="true"><i class="fa fars-reduire-bas"></i></span>
    </button>
    <button type="button" class="close rounded" data-dismiss="modal" (click)="closeModalBox();">
      <span aria-hidden="true"><i class="fa fars-close"></i></span>
    </button>
  </div>
  <div class="modal-body p-0">
    <alk-result-content [mailingTool]="mailingTool" [mapId]="mapId"></alk-result-content>
  </div>
</ng-container>
