<ng-template #defaultPlaceholder>
  <ng-container i18n="@@mapScaleDropdownDefaultPlaceholder">Choisissez une échelle</ng-container>
</ng-template>
<div id="scale" class="map-footer-item dropdown" ngbDropdown placement="top-right">
  <a class="dropdown-toggle"  id="dropdownScale" (click)="isCollapsed = !isCollapsed" ngbDropdownToggle>
    <ng-container *ngIf="selectedScale; then thenSelectedScale; else defaultPlaceholder"></ng-container><i class="fas fars-chevron-bas"></i>
    <ng-template #thenSelectedScale >
      {{ environment.isPrintMode ? 'Échelle : ' : '' }} {{ selectedScale.label }}
    </ng-template>
  </a>
  <div class="dropdown-menu dropdown-menu-right scrollable" ngbDropdownMenu>
    <span class="dropdown-item disabled" disabled ><ng-container *ngTemplateOutlet="defaultPlaceholder"></ng-container></span>
    <a *ngFor="let scaleOption of scaleOptions" class="dropdown-item"
      [class.active]="(scaleOption.resolution == selectedScale.resolution)"
      (click)="selectScale($event, scaleOption.resolution)"
    >
      <ng-container *ngIf="scaleOption.label !== null; then thenTemplate; else defaultPlaceholder"></ng-container>
      <ng-template #thenTemplate >
        {{ scaleOption.label }}
      </ng-template>
    </a>
  </div>
</div>
