<alk-attributes-draw *ngIf="typeSelect === 'modifyAttributes'" ></alk-attributes-draw>
<alk-modify-draw *ngIf="typeSelect === 'modifyDraw'" ></alk-modify-draw>
<alk-move-draw *ngIf="typeSelect === 'moveDraw'" ></alk-move-draw>
<alk-remove-draw *ngIf="typeSelect === 'removeDraw'" ></alk-remove-draw>