<div id="fiche-info-card" class="card" *ngIf="modalReady && possibleLayers !== null && possibleLayers.length > 0">

  <div class="modal-header d-flex align-items-center px-2">
    <h5 class="flex-grow-1" i18n="@@interrogatingGrantedRequestModalTitle">Requêtes attributaires</h5>
    <button type="button" (click)="closeModal()" class="btn btn-light rounded p-0 fiche-info-dismiss"
      data-dismiss="popover">
      <span aria-hidden="true">
        <i class="fa fars-close"></i>
      </span>
    </button>
  </div>

  <div class="modal-body p-0 mx-4 my-0">
    <form>
      <div class="form-group">
        <label i18n="@@interrogatingGrantedRequestModalLayerLabel">Couche</label>
        <select class="form-control form-control-sm" [(ngModel)]="request.selectedLayerId"
          (ngModelChange)="selectLayerId($event)" [ngModelOptions]="{standalone: true}"
          [disabled]="request.subRequest.length > 1">
          <option [value]="null" i18n="@@interrogatingGrantedRequestSelectLayerPlaceholder">Sélectionner une couche
          </option>
          <ng-container *ngFor="let possibleLayer of possibleLayers">
            <option [value]="possibleLayer.layerId" [innerText]="possibleLayer.layerName"></option>
          </ng-container>
        </select>
      </div>

      <div class="overflow-auto  p-2" style="max-height: 40vh;">
        <div class="row pl-1 mx-0" *ngIf="request.selectedLayerId !== null && false">
          <div class="btn-group col-auto ml-auto">
            <button type="button" class="btn btn-sm" (click)="addOrInsertRequest(undefined, undefined, -1)"
              i18n-ngbTooltip="@@interrogatingGrantedRequestAddNewRowRequest"
              ngbTooltip="Ajouter une nouvelle ligne de requête au début de la requête" [container]="'body'">
              <i class="fa fa-plus"></i>
            </button>
            <button *ngIf="false" type="button" class="btn btn-sm"
              (click)="addOrInsertSubRequest(undefined, undefined, -1)"
              i18n-ngbTooltip="@@interrogatingGrantedRequestAddNewSubGroupRequest"
              ngbTooltip="Ajouter un nouveau bloc de requête au début de la requête" [container]="'body'">
              <i class="fa fa-indent"></i>
            </button>
          </div>
        </div>
        <ng-container *ngFor="let requestOrOperatorOrSubRequest of request.subRequest; let requestIndex = index"
          [ngTemplateOutlet]="tGrantedRequestRequest"
          [ngTemplateOutletContext]="{parentRequest: request, requestOrOperatorOrSubRequest: requestOrOperatorOrSubRequest, requestIndex: requestIndex}">
        </ng-container>
      </div>

      <div class="form-group">
        <label for="grantedRequestExpression"
          i18n="@@interrogatingGrantedRequestExpressionTextareaLabel">Expression</label>
        <textarea class="form-control" id="grantedRequestExpression" rows="5" readonly="true"
          [(ngModel)]="request.compiledGrantedRequest" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="form-group row px-0">
        <div class="col-auto">
          <label for="limitNumberOfLines" class="customcheck">
            <input type="checkbox" [(ngModel)]="request.limitNumberOfLines" [ngModelOptions]="{standalone: true}"
              id="limitNumberOfLines">
            <span class="checkmark"></span>
            <ng-container i18n="@@interrogatingGrantedRequestToggleLimitOnResultCheckbox">Limiter le nombre de lignes à
            </ng-container>
          </label>
          <!-- <input class="form-check-input" type="checkbox" [(ngModel)]="request.limitNumberOfLines" [ngModelOptions]="{standalone: true}" id="limitNumberOfLines">
          <label class="form-check-label" for="limitNumberOfLines">Limiter le nombre de lignes à</label> -->
        </div>
        <input type="number" [disabled]="!request.limitNumberOfLines" class="form-control col-auto"
          [(ngModel)]="request.maxNumberOfLines" [ngModelOptions]="{standalone: true}" />
      </div>
    </form>
  </div>

  <ng-template #tGrantedRequestRequest let-parentRequest="parentRequest"
    let-requestOrOperatorOrSubRequest="requestOrOperatorOrSubRequest" let-requestIndex="requestIndex">

    <!-- Si l'élément de la boucles est un opérateur logique -->
    <ng-container *ngIf="isGrantedRequestLogicalOperators(requestOrOperatorOrSubRequest)">
      <div class="form-group pl-1 mx-0 my-2">
        <div class="btn-group">
          <button type="button" class="btn btn-sm" [class.btn-primary]="parentRequest.subRequest[requestIndex] === 'ET'"
            (click)="toggleLogicalOperator(requestIndex, parentRequest)"
            i18n="@@interrogatingGrantedRequestLogicalOperatorAnd">
            ET
          </button>
          <button type="button" class="btn btn-sm" [class.btn-primary]="parentRequest.subRequest[requestIndex] === 'OU'"
            (click)="toggleLogicalOperator(requestIndex, parentRequest)"
            i18n="@@interrogatingGrantedRequestLogicalOperatorOr">
            OU
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isGrantedRequestRequest(requestOrOperatorOrSubRequest)">
      <div class="d-flex pl-1 mx-0 col-auto">
        <div class="flex-fill">
          <select class="form-control form-control-sm"
            (change)="selectFieldId($event.target.value, requestOrOperatorOrSubRequest)">
            <option [value]="" selected [innerText]="'Champ'"></option>
            <ng-container *ngFor="let possibleField of possibleFields">
              <option [value]="possibleField.FieldName" [innerText]="possibleField.FieldAlias"></option>
            </ng-container>
          </select>
        </div>
        <div class="flex-fill">
          <select class="form-control form-control-sm"
            (change)="selectOperator(requestOrOperatorOrSubRequest, $event.target.value)">
            <option [value]="" selected [innerText]="'Opérateur'"></option>
            <ng-container *ngFor="let operator of operators">
              <option [value]="operator.operatorId">
                <ng-container [ngSwitch]="operator.operatorId">
                  <ng-container *ngSwitchCase="'COMMENCE PAR'"
                    i18n="@@interrogatingGrantedRequestOperatorLabel-BeginWith">
                    commence par
                  </ng-container>
                  <ng-container *ngSwitchCase="'NE CONTIENT PAS'"
                    i18n="@@interrogatingGrantedRequestOperatorLabel-DoesNotContain">
                    ne contient pas
                  </ng-container>
                  <ng-container *ngSwitchCase="'CONTIENT'" i18n="@@interrogatingGrantedRequestOperatorLabel-Contain">
                    contient
                  </ng-container>
                  <ng-container *ngSwitchCase="'='" i18n="@@interrogatingGrantedRequestOperatorLabel-Equal">
                    est égal (=)
                  </ng-container>
                  <ng-container *ngSwitchCase="'<>'" i18n="@@interrogatingGrantedRequestOperatorLabel-Different">
                    est différent (&lt;&gt;)
                  </ng-container>
                  <ng-container *ngSwitchCase="'>='"
                    i18n="@@interrogatingGrantedRequestOperatorLabel-GreaterThanOrEqual">
                    est supérieur ou égal (&gt;=)
                  </ng-container>
                  <ng-container *ngSwitchCase="'>'"
                    i18n="@@interrogatingGrantedRequestOperatorLabel-StrictlyGreaterThan">
                    est strictement supérieur (&gt;)
                  </ng-container>
                  <ng-container *ngSwitchCase="'<='" i18n="@@interrogatingGrantedRequestOperatorLabel-LessOrEqual">
                    est inférieur ou égal (&lt;=)
                  </ng-container>
                  <ng-container *ngSwitchCase="'<'" i18n="@@interrogatingGrantedRequestOperatorLabel-StrictlyLess">
                    est strictement inférieur (&lt;)
                  </ng-container>
                  <ng-container *ngSwitchDefault i18n="@@interrogatingGrantedRequestOperatorLabel-Default">
                    [#OPÉRATEUR#]
                  </ng-container>
                </ng-container>
              </option>
            </ng-container>
          </select>
        </div>
        <div class="flex-fill d-flex flex-nowrap align-items-center">
          <div class="input-group input-group-sm mb-0">
            <input type="text" class="form-control form-control-sm"
              [(ngModel)]="requestOrOperatorOrSubRequest.selectedValueId"
              (change)="selectValue(requestOrOperatorOrSubRequest, requestOrOperatorOrSubRequest.selectedValueId)"
              [ngbTypeahead]="searchValue" (selectItem)="selectItem($event, requestOrOperatorOrSubRequest)"
              [container]="'body'" [focusFirst]="false" (focus)="focus$.next(requestOrOperatorOrSubRequest)"
              (click)="focus$.next(requestOrOperatorOrSubRequest)" (blur)="blurSelection(requestOrOperatorOrSubRequest)"
              #ngbDistrict="ngbTypeahead" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"
                (click)="focus$.next(requestOrOperatorOrSubRequest)"
                [disabled]="requestOrOperatorOrSubRequest.searchingValues">
                <i class="fa fa-caret-down"
                  *ngIf="!(requestOrOperatorOrSubRequest.searchingValues || requestOrOperatorOrSubRequest.errorOnSearchingValues)"></i>
                <i class="fa fa-fw fa-pulse fa-spinner" *ngIf="requestOrOperatorOrSubRequest.searchingValues"
                  i18n-ngbTooltip="@@interrogatingGrantedRequestPendingRequest"
                  ngbTooltip="Récupération des valeurs possibles en cours" [container]="'body'"></i>
                <i class="fa fa-fw fa-bounce fa-warning text-danger"
                  *ngIf="requestOrOperatorOrSubRequest.errorOnSearchingValues"
                  i18n-ngbTooltip="@@interrogatingGrantedRequestErrorOnRequest"
                  ngbTooltip="Erreur lors de la récupération des valeurs" [container]="'body'"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="flex-fill ml-auto text-right">
          <div class="btn-group">
            <ng-container *ngIf="parentRequest && parentRequest.subRequest.length > 2">
              <button type="button" class="btn btn-sm"
                (click)="removeRequestFromSubRequest(requestOrOperatorOrSubRequest, parentRequest)"
                i18n-ngbTooltip="@@interrogatingGrantedRequestRemoveThisRow" ngbTooltip="Supprimer cette ligne"
                [container]="'body'">
                <i class="fa fa-trash"></i>
              </button>
            </ng-container>
            <button type="button" class="btn btn-sm" (click)="addOrInsertRequest(parentRequest, 'ET', requestIndex)"
              i18n-ngbTooltip="@@interrogatingGrantedRequestAppendNewRequestRow"
              ngbTooltip="Insérer une nouvelle ligne de requête sous cette ligne" [container]="'body'">
              <i class="fa fa-plus"></i>
            </button>
            <button *ngIf="false" type="button" class="btn btn-sm"
              (click)="addOrInsertSubRequest(parentRequest, 'ET', requestIndex)"
              i18n-ngbTooltip="@@interrogatingGrantedRequestAppendNewSubRequestGroup"
              ngbTooltip="Insérer un nouveau bloc de requête sous cette ligne" [container]="'body'">
              <i class="fa fa-indent"></i>
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Si l'élément de la boucle est une sous-requête -->
    <ng-container *ngIf="false && isGrantedRequestSubRequest(requestOrOperatorOrSubRequest)">
      <div class="pl-1">
        <div class="row mx-0">
          <div class="col-auto">
            <label class="form-check-label btn btn-link" ngbButtonLabel>
              <input type="checkbox" class="form-check-input" ngbButton
                (click)="toggleNegate(requestOrOperatorOrSubRequest)" [valueChecked]="true" [valueUnChecked]="false"
                [value]="requestOrOperatorOrSubRequest.isNegative" /> <del
                *ngIf="!requestOrOperatorOrSubRequest.isNegative"
                i18n="@@interrogatingGrantedRequestNegativeRowRequest1">Non</del><span
                *ngIf="requestOrOperatorOrSubRequest.isNegative"
                i18n="@@interrogatingGrantedRequestNegativeRowRequest2">Non</span>
            </label>
            <strong>(</strong>
          </div>
          <ng-container *ngIf="requestOrOperatorOrSubRequest.subRequest.length === 0 || true">
            <div class="btn-group col-auto ml-auto">
              <button type="button" class="btn btn-sm"
                (click)="addOrInsertRequest(requestOrOperatorOrSubRequest, 'ET', -1)"
                i18n-ngbTooltip="@@interrogatingGrantedRequestPrependNewRequestRow"
                ngbTooltip="Insérer une nouvelle ligne de requête au début de ce bloc" [container]="'body'">
                <i class="fa fa-plus"></i>
              </button>
              <button *ngIf="false" type="button" class="btn btn-sm"
                (click)="addOrInsertSubRequest(requestOrOperatorOrSubRequest, 'ET', -1)"
                i18n-ngbTooltip="@@interrogatingGrantedRequestPrependNewRequestGroup"
                ngbTooltip="Insérer un nouveau bloc de requête au début de ce bloc" [container]="'body'">
                <i class="fa fa-indent"></i>
              </button>
            </div>
          </ng-container>
        </div>
        <div>
          <ng-container *ngFor="let subRequest of requestOrOperatorOrSubRequest.subRequest; let subRequestIndex = index"
            [ngTemplateOutlet]="tGrantedRequestRequest"
            [ngTemplateOutletContext]="{parentRequest: requestOrOperatorOrSubRequest, requestOrOperatorOrSubRequest: subRequest, requestIndex: subRequestIndex}">
          </ng-container>
        </div>
        <div class="row mx-0">
          <div class="col-auto"><strong>)</strong></div>
          <div class="ml-auto col-auto">
            <div class="btn-group">
              <ng-container *ngIf="parentRequest && parentRequest.subRequest.length > 2">
                <button type="button" class="btn btn-sm"
                  (click)="removeRequestFromSubRequest(requestOrOperatorOrSubRequest, parentRequest)"
                  i18n-ngbTooltip="@@interrogatingGrantedRequestRemoveRequestGroup"
                  ngbTooltip="Supprimer ce bloc de requête" [container]="'body'">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-container>
              <button type="button" class="btn btn-sm" (click)="addOrInsertRequest(parentRequest, 'ET', requestIndex)"
                i18n-ngbTooltip="@@interrogatingGrantedRequestInsertNewRequestRowAfterGroup"
                ngbTooltip="Insérer une nouvelle ligne de requête sous ce bloc de requête" [container]="'body'">
                <i class="fa fa-plus"></i>
              </button>
              <button *ngIf="false" type="button" class="btn btn-sm"
                (click)="addOrInsertSubRequest(parentRequest, 'ET', requestIndex)"
                i18n-ngbTooltip="@@interrogatingGrantedRequestInsertNewRequestGroupAfterGroup"
                ngbTooltip="Insérer un nouveau bloc de requête sous ce bloc de requête" [container]="'body'">
                <i class="fa fa-indent"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <div class="modal-footer">
    <div class="text-right">
      <button type="button" [disabled]="request.isNotValid || request.requestSended" (click)="submitInterrogation()"
        class="btn btn-sm btn-modal mr-2 fiche-info-save"
        i18n-ngbTooltip="@@interrogatingGrantedRequestLaunchRequestButtonTooltip" ngbTooltip="Lancer la requête"
        [container]="'body'">
        <i class="fa fa-save"></i>
        <ng-container i18n="@@interrogatingGrantedRequestLaunchRequestButton">Interroger</ng-container>
      </button>
      <button type="button" (click)="reset()" class="btn btn-sm fiche-info-save"
        i18n-ngbTooltip="@@interrogatingGrantedRequestResetRequestButtonTooltip"
        ngbTooltip="Réinitialiser l'ensemble de la requête" [container]="'body'">
        <i class="fa fa-eraser"></i>
        <ng-container i18n="@@interrogatingGrantedRequestResetRequestButton">Réinitialiser</ng-container>
      </button>
    </div>
  </div>
</div>

<input type="hidden" #LogicalOperatorLabelAnd i18n-value="@@interrogatingGrantedRequestLogicalOperatorLabel-TS-And"
  value="ET" />
<input type="hidden" #LogicalOperatorLabelOr i18n-value="@@interrogatingGrantedRequestLogicalOperatorLabel-TS-Or"
  value="OU" />
<input type="hidden" #LogicalOperatorLabelNot i18n-value="@@interrogatingGrantedRequestLogicalOperatorLabel-TS-Not"
  value="NON" />

<input type="hidden" #QueryRowFieldPlaceholder i18n-value="@@interrogatingGrantedRequestQueryRowField-TS-Field"
  value="[#NOM_CHAMP#]" />
<input type="hidden" #QueryRowOperatorPlaceholder i18n-value="@@interrogatingGrantedRequestQueryRowField-TS-Operator"
  value="[#OPÉRATEUR#]" />
<input type="hidden" #QueryRowValuePlaceholder i18n-value="@@interrogatingGrantedRequestQueryRowField-TS-Value"
  value="[#VALEUR#]" />

<input type="hidden" #OperatorLabelBeginWith i18n-value="@@interrogatingGrantedRequestOperatorLabel-TS-BeginWith"
  value="commence par" />
<input type="hidden" #OperatorLabelDoesNotContain
  i18n-value="@@interrogatingGrantedRequestOperatorLabel-TS-DoesNotContain" value="ne contient pas" />
<input type="hidden" #OperatorLabelContain i18n-value="@@interrogatingGrantedRequestOperatorLabel-TS-Contain"
  value="contient" />
<input type="hidden" #OperatorLabelEqual i18n-value="@@interrogatingGrantedRequestOperatorLabel-TS-Equal"
  value="est égal (=)" />
<input type="hidden" #OperatorLabelDifferent i18n-value="@@interrogatingGrantedRequestOperatorLabel-TS-Different"
  value="est différent (&lt;&gt;)" />
<input type="hidden" #OperatorLabelGreaterThanOrEqual
  i18n-value="@@interrogatingGrantedRequestOperatorLabel-TS-GreaterThanOrEqual" value="est supérieur ou égal (&gt;=)" />
<input type="hidden" #OperatorLabelStrictlyGreaterThan
  i18n-value="@@interrogatingGrantedRequestOperatorLabel-TS-StrictlyGreaterThan"
  value="est strictement supérieur (&gt;)" />
<input type="hidden" #OperatorLabelLessOrEqual i18n-value="@@interrogatingGrantedRequestOperatorLabel-TS-LessOrEqual"
  value="est inférieur ou égal (&lt;=)" />
<input type="hidden" #OperatorLabelStrictlyLess i18n-value="@@interrogatingGrantedRequestOperatorLabel-TS-StrictlyLess"
  value="est strictement inférieur (&lt;)" />
<input type="hidden" #OperatorLabelDefault i18n-value="@@interrogatingGrantedRequestOperatorLabel-TS-Default"
  value="[#OPÉRATEUR#]" />