<div *ngIf="!isResearchClosed">
  <h5 class="m-2 mb-4"><strong i18n="@@chooseServerTitle">Choix du serveur {{ tabId | uppercase }}</strong></h5>
  <select class="custom-select px-3 my-3" [(ngModel)]="selection" (ngModelChange)="select($event)">
    <option [value]="'noPresetSelected'" hidden selected disabled i18n="@@chooseServerSelectPlaceholder">Sélectionnez un
      serveur {{ tabId | uppercase }}</option>
    <option *ngFor="let server of servers" [value]="server">
      <span>{{ server.NOM }}</span>
    </option>
  </select>
  <input #inputUrl [value]="selectedServerUrl ? selectedServerUrl : ''" (change)="selection = 'noPresetSelected'"
    type="text" class="form-control px-3 my-3" placeholder="URL du serveur" aria-describedby="basic-addon1" />
  <div class="alert alert-danger" role="alert" *ngIf="errorResponseType">
    <p class="mb-0" [ngSwitch]="errorResponseType">
      <ng-container *ngSwitchCase="'INVALID_FORMAT'" i18n="@@chooseServerErrorResponse-INVALID_FORMAT">
        Le format récupéré est invalide.
      </ng-container>
      <ng-container *ngSwitchCase="'INVALID_URL'" i18n="@@chooseServerErrorResponse-INVALID_URL">
        Il semblerait que l'url que vous avez insérée soit invalide. Veuillez utiliser une autre url.
      </ng-container>
      <ng-container *ngSwitchCase="'NOT_FOUND'" i18n="@@chooseServerErrorResponse-NOT_FOUND">
        Le serveur est injoignable ou ne répond pas correctement.
      </ng-container>
      <ng-container *ngSwitchCase="'UNAUTHORIZED'" i18n="@@chooseServerErrorResponse-UNAUTHORIZED">
        L'accès au serveur n'est pas autorisé.
      </ng-container>
      <ng-container *ngSwitchDefault>
        {{ errorResponse }}
      </ng-container>
    </p>
  </div>
  <div class="alert alert-info" role="alert" *ngIf="infoResponseType">
    <p class="mb-0"><i class="fas fars-fiche-info mr-2" aria-hidden="true"></i>
      <ng-container [ngSwitch]="infoResponseType">
        <ng-container *ngSwitchCase="'NO_COMPATIBLE_LAYER'" i18n="@@chooseServerInfoResponse-NO_COMPATIBLE_LAYER">
          Il n'y a pas de couche compatible avec la projection de la carte.
        </ng-container>
        <ng-container *ngSwitchCase="'INVALID_URL'" i18n="@@chooseServerInfoResponse-INVALID_URL">
          Il semblerait que l'url que vous avez insérée soit invalide. Veuillez utiliser une autre url.
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ infoResponse }}
        </ng-container>
      </ng-container>
    </p>
  </div>
  <div class="text-right my-4">
    <button class="btn btn-modal mb-2 px-3" (click)="searchForLayers(inputUrl.value); isResearchClosed = true;"
      i18n="@@chooseServerLayerListButton">Lister les couches
    </button>
  </div>
</div>

<div *ngIf="treeView" (click)="isResearchClosed = !isResearchClosed;" class="mb-3">
  <button *ngIf="isResearchClosed" type="button" class="btn btn-block btn-light border p-1 m-0 mt-3">
    <i class="fas fars-chevron-bas"></i>
  </button>
  <button *ngIf="!isResearchClosed" type="button" class="btn btn-block btn-light border p-1 m-0 mt-3">
    <i class="fas fars-chevron-haut"></i>
  </button>
</div>

<div #layersList *ngIf="isResearchClosed && !errorResponse" class="mb-3">
  <h5 class="m-2 mb-4"><strong i18n="@@chooseServerLayerListTitle">Liste des couches</strong></h5>
  <div *ngIf="!treeView" class="d-flex justify-content-center">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only" i18n="@@chooseServerLoading">Chargement...</span>
    </div>
  </div>
  <div *ngIf="treeView">
    <ngx-treeview [config]="config" [items]="treeView" [itemTemplate]="itemTemplate"
      (selectedChange)="onSelectedChange($event)">
    </ngx-treeview>
    <div class="text-right">
      <div *ngIf="formats" class="d-inline-block w-25 dropdown dropup mx-3 my-3 py-1 px-3">
        <select class="custom-select p-1" [(ngModel)]="selectedFormat">
          <option *ngFor="let format of formats" [value]="format">
            <span>{{ format }}</span>
          </option>
        </select>
      </div>
      <div class="d-inline-block my-4">
        <button class="btn btn-modal mb-2 px-3" (click)="addLayers()" i18n="@@chooseServerAddLayersButton">Ajouter les
          couches</button>
      </div>
    </div>
  </div>
</div>

<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
  let-onCheckedChange="onCheckedChange">
  <div class="form-inline row-item">
    <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fas"
      [class.fars-chevron-droite]="item.collapsed" [class.fars-chevron-bas]="!item.collapsed"></i>
    <div class="form-check w-100 justify-content-start pl-2">
      <label *ngIf="item.children" class="form-check-label">{{item.text}}</label>
      <label *ngIf="!item.children" class="form-check-label customcheck w-100 d-flex justify-content-between pl-4"
        [title]="item.value.format ? item.value.format : ''">
        {{item.text}}
        <input type="checkbox" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange()" [disabled]="item.disabled"
          [indeterminate]="item.indeterminate">
        <span class="checkmark"></span>
      </label>
      <a target="_blank" [href]="item.value.metadata">
        <label *ngIf="item.value.metadata" class="form-check-label align-middle ml-2">
          <i class="fas fars-fiche-info" aria-hidden="true" i18n-title="chooseServerInfoSheetLabel"
            title="Visualiser la métadonnée associée"></i>
        </label>
      </a>
    </div>
  </div>
</ng-template>