<div class="modal-header p-4">
  <h5 *ngIf="isEditingSessionSaved" i18n="@@preEditingModalTitleExistingSavedSession">Reprendre l'édition en cours</h5>
  <h5 *ngIf="!isEditingSessionSaved" i18n="@@preEditingModalTitleNewSession">Démarrer une session d'édition</h5>
  <button type="button" class="close my-auto p-0 mr-2" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body d-flex justify-content-center">
  <div class="modal-body-container m-auto p-4 row">
    <div *ngIf="isEditingSessionSaved" class="col-8 offset-2">
      <div class="text-center">
        <h4 class="text-primary" i18n="@@preEditingModalExistingSavedSessionMessage1">Vous avez une session d'édition en
          cours.</h4>
        <br>
        <h5 i18n="@@preEditingModalExistingSavedSessionMessage2">Souhaitez-vous poursuivre sur cette session ?</h5>
        <span i18n="@@preEditingModalExistingSavedSessionMessage3">Il sera impossible de récupérer cette session si vous
          en démarrez une nouvelle</span>
      </div>
      <div class="text-right pt-4">
        <button class="btn btn-primary mr-1 ml-1" type="button" [disabled]="isLoading" (click)="startEdition()"
          i18n="@@preEditingModalRestoreButton">
          <div *ngIf="isLoading" class="spinner-border"></div>
          Reprendre
        </button>
        <button class="btn btn-secondary mr-1 ml-1" type="button" (click)="isEditingSessionSaved = false"
          i18n="@@preEditingModalRestartButton">Démarrer une nouvelle session</button>
      </div>
    </div>
    <div *ngIf="!isEditingSessionSaved" class="col-8 offset-2">
      <div class="row">
        <div class="col-6">
          <label for="selectLayer" i18n="@@preEditingModalEditedLayerLabel">Couche éditée</label>
        </div>
        <div class="col-6">
          <select class="form-control custom-select p-1" [(ngModel)]="selectedEditableLayer">
            <option [value]="'noPresetSelected'" hidden selected disabled
              i18n="@@preEditingModalEditedLayerSelectPlaceholder">Sélectionnez une couche</option>
            <option *ngFor="let layer of editableLayers" [value]="layer">
              <span>{{ layer.get('name') }}</span>
            </option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <label for="selectSnapLayer" i18n="@@preEditingModalSnappedLayerLabel">Couche d'accroche</label>
        </div>
        <div class="col-6">
          <select class="form-control custom-select p-1" [(ngModel)]="selectedSnappingLayer">
            <option [value]="'noPresetSelected'" hidden selected disabled
              i18n="@@preEditingModalSnappedLayerSelectPlaceholder">Sélectionnez une couche</option>
            <option *ngFor="let layer of snappingLayers" [value]="layer">
              <span>{{ layer.get('name') }}</span>
            </option>
          </select>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-6">
          <label for="snapTolerance" i18n="@@preEditingModalSnapToleranceLabel">Tolérance d'accrochage</label>
        </div>
        <div class="col-6">
          <input class="form-control" type="number" min="0" max="10" value="10" name="snapTolerance" #snapTolerance>
        </div>
      </div>
      <div class="text-right pt-4">
        <button class="btn btn-primary mr-1 ml-1" [disabled]="selectedEditableLayer === 'noPresetSelected' || isLoading"
          type="button" (click)="startEdition()" i18n="@@preEditingModalValidationButton">
          <div *ngIf="isLoading" class="spinner-border"></div>
          Valider
        </button>
        <button class="btn btn-secondary mr-1 ml-1" type="button" (click)="activeModal.close();"
          i18n="@@preEditingModalCancelButton">Annuler</button>
      </div>
    </div>
  </div>
</div>