
<div *ngIf="!isCollapsed" id="overlay" (click)="isCollapsed = !isCollapsed"></div>

<div *ngIf="!coreService.isApplicationInLiteMode" id="sidebar-closed-btn" class="sidebar-btn" [ngbCollapse]="!isCollapsed">
  <button class="btn btn-collapse" (click)="openMenu()" [attr.aria-expanded]="!isCollapsed" aria-controls="sidebar"><i class="fa fa-bars text-primary fa-lg"></i></button>
</div>

<div id="sidebar" [ngbCollapse]="isCollapsed">

  <div *ngIf="!coreService.isApplicationInLiteMode" id="sidebar-opened-btn" class="d-flex justify-content-between">
    <div id="first-menu" class="flex-grow-1" [class.darker]="mode === 'Information'">
      <button i18n-title="@@layerLegendMobileInformationModeSwitch" title="Information" data-toggle="collapse" class="btn btn-collapse m-auto" (click)="changeMode('Information'); verifyLayerGroupVisibility(rootLayerGroup, mapId)"><i class="fa fa-info fa-lg"></i></button>
    </div>
    <div class="flex-grow-1" [class.darker]="mode === 'Tools'">
      <button i18n-title="@@layerLegendMobileToolsModeSwitch" title="Outils" data-toggle="collapse" class="btn btn-collapse m-auto" (click)="changeMode('Tools'); verifyLayerGroupVisibility(rootLayerGroup, mapId)"><i class="fa fa-wrench fa-lg"></i></button>
    </div>
    <div *ngIf="layout && layout.Legend" class="flex-grow-1" [class.darker]="mode === 'Couches'">
      <button i18n-title="@@layerLegendMobileLayersModeSwitch" title="Ajout de couches" data-toggle="collapse" class="btn btn-collapse m-auto" (click)="changeMode('Couches'); verifyLayerGroupVisibility(rootLayerGroup, mapId)"><i class="fa fars-layer-group-solid fa-lg"></i></button>
    </div>
    <div *ngIf="layout && layout.Legend" class="flex-grow-1" [class.darker]="mode === 'Légende'">
      <button i18n-title="@@layerLegendMobileLegendModeSwitch" title="Légende" data-toggle="collapse" class="btn btn-collapse m-auto" (click)="changeMode('Légende'); verifyLayerGroupVisibility(rootLayerGroup, mapId)"><i class="fa fa-list fa-lg"></i></button>
    </div>
    <div class="flex-grow-1" [class.darker]="mode === 'Open'">
      <button i18n-title="@@layerLegendMobileOpenModeSwitch" title="Ouvrir" data-toggle="collapse" class="btn btn-collapse m-auto" (click)="changeMode('Open'); verifyLayerGroupVisibility(rootLayerGroup, mapId)"><i class="fa fars-ouvrir fa-lg"></i></button>
    </div>
    <div class="flex-grow-1" [class.darker]="mode === 'Share'">
      <button i18n-title="@@layerLegendMobileShareModeSwitch" title="Partager" data-toggle="collapse" class="btn btn-collapse m-auto" (click)="changeMode('Share'); verifyLayerGroupVisibility(rootLayerGroup, mapId)"><i class="fa fars-partager fa-lg"></i></button>
    </div>
    <alk-connexion-button class="flex-grow-1"></alk-connexion-button>
    <div class="flex-grow-1"><button class="btn btn-collapse m-auto" (click)="openMenu()" [attr.aria-expanded]="!isCollapsed" aria-controls="sidebar"><i class="fa fa-bars fa-lg"></i></button></div>
  </div>

  <alk-layers-legend [screenMode]="'mobile'" (emitter)="emittedCollapsed($event)"></alk-layers-legend>

</div>
