button {
  cursor: pointer;
}

.sliderScaleVisibility {
  display: block !important;
}

/* #sidebar-closed-btn,
#sidebar-opened-btn,
#sidebar-opened-btn div {
  height: 42px;
} */

#sidebar-closed-btn,
#sidebar-opened-btn alk-connexion-button,
#sidebar-opened-btn div {
  padding-top: 10px;
}

#sidebar-opened-btn div button {
  max-height: 46.5px;
}

#sidebar,
#sidebar-closed-btn {
  // padding-left: 20px;
  padding-right: 20px;
  button:not(.darker){
    background-color: transparent !important;
  }
  button:not(.btn-link){
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 0;
  }
}

#sidebar {
  height: 100vh;
  max-width : 360px;
}

/* #sidebar-closed-btn {
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 1;
  z-index: 1;
} */

/* #sidebar-opened-btn {
  position: absolute;
  right: 0px;
  left: auto;
  z-index: 1;
} */

.dropdown.sidebar-dd-layer {
  .dropdown-toggle {
    cursor: pointer;
  }
  .dropdown-toggle::after {
    display: none;
  }
}
