<li class="nav-item" [class]="{'separator': buttonId === 'SavingButton', 'dropdown': dropdown}" ngbDropdown
  [container]="'body'" display="dynamic" [placement]="dropdownPosition">

  <button *ngIf="!dropdown && buttonId !== 'connexionButton'" class="btn btn-link nav-link px-3 button-placement">
    <i [class]="buttonIconClass"></i> {{ buttonLabel }}
  </button>

  <button *ngIf="dropdown && buttonId !== 'connexionButton'" class="btn btn-link nav-link px-3 button-placement"
    data-display="static" ngbDropdownToggle>
    <i [class]="buttonIconClass"></i> {{ buttonLabel }}
  </button>

  <div *ngIf="isDropdown()" [attr.id]="buttonId + '-div'" class="dropdown-menu" ngbDropdownMenu>
    <ng-content></ng-content>
  </div>

</li>