li {
    .button-placement {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin: auto;
    }
    .nav-link {
        font-size: 0.65rem;
        font-weight: bold;
        text-transform: capitalize;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
    }

    .nav-link:not(.nav-user) .falk, 
    .nav-link:not(.nav-user) .fa, 
    .nav-link:not(.nav-user) .fas, 
    .nav-link:not(.nav-user) .far  {
        display: block;
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }
}

li.nav-item.separator {
    margin-left: 1.5rem;
    border-left: 1px solid #ccc;
    padding-left: 1.5rem;
}

.dropdown-toggle::after {
    display: none;
}