<div class="modal-header p-4">
  <h5 class="modal-title ml-4" id="exampleModalLabel">
    <strong i18n="@@interrogatingMailingModalHeader">Publipostage</strong>
  </h5>
  <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>
<div class="modal-body d-flex justify-content-center">
  <div class="modal-body-container">
    <div id="modal-body-presentation">
      <!-- <form id="contact-form" method="post" action="contact.php" role="form"> -->
      <form id="contact-form" [formGroup]="mailingForm">
        <div class="row">
          <div class="col-12 form-group row">
            <label class="col-3 col-form-label" i18n="@@interrogatingMailingModalSelectedLayer">Couche
              sélectionnée</label>
            <div class="col-9 px-0">
              <input type="text" readonly class="form-control-plaintext" id="selectedLayer"
                formControlName="selectedLayer" [value]="currentLayerResults.layerName">
            </div>
          </div>
          <div class="col-12 pr-0 form-group row">
            <label class="col-3 col-form-label" i18n="@@interrogatingMailingModalRecipientFieldsetLabel">Champs
              destinataire</label>
            <div class="col-9 pr-0 row">
              <div class="col-6 form-group row">
                <label class="col-3 px-0 col-form-label" for="toField">
                  <ng-container i18n="@@interrogatingMailingModalRecipientNameLabel">Nom</ng-container>*:
                </label>
                <select class="col-9 form-control custom-select p-1" formControlName="toField">
                  <option [value]="'noPresetSelected'" hidden selected disabled
                    i18n="@@interrogatingMailingModalSelectRecipientNamePlaceholder">Sélectionnez un paramètre</option>
                  <option *ngFor="let name of toNames; let i = index;">{{ name }}</option>
                </select>
              </div>
              <div class="col-6 pr-0 form-group row">
                <label class="col-3 px-0 col-form-label" for="toMail">
                  <ng-container i18n="@@interrogatingMailingModalRecipientMailLabel">Courriel</ng-container>*
                </label>
                <select class="col-9 form-control custom-select p-1" formControlName="toMail">
                  <option [value]="'noPresetSelected'" hidden selected disabled
                    i18n="@@interrogatingMailingModalSelectRecipientMailPlaceholder">Sélectionnez un paramètre</option>
                  <option *ngFor="let mail of toMails; let i = index;">{{ mail }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 pr-0 form-group row">
            <label class="col-3 col-form-label">
              <ng-container i18n="@@interrogatingMailingModalSenderFieldsetLabel">Expéditeur</ng-container>:
            </label>
            <div class="col-9 pr-0 row">
              <div class="col-6 form-group row">
                <label class="col-3 px-0 col-form-label" for="fromField">
                  <ng-container i18n="@@interrogatingMailingModalSenderNameLabel">Nom</ng-container>*
                </label>
                <input class="col-9 form-control" id="fromField" formControlName="fromField" type="text"
                  name="fromField" required="required">
              </div>
              <div class="col-6 pr-0 form-group row">
                <label class="col-3 px-0 col-form-label" for="fromMail">
                  <ng-container i18n="@@interrogatingMailingModalSenderMailLabel">Courriel</ng-container>*
                </label>
                <input class="col-9 form-control" id="fromMail" formControlName="fromMail" type="text" name="fromMail"
                  required="required">
              </div>
            </div>
          </div>
          <div *ngIf="mailingTool && mailingTool.manageModel" class="col-12 form-group row">
            <label class="col-3 col-form-label">
              <ng-container i18n="interrogatingMailingModalSavedTemplates">Modèle enregistré</ng-container>
            </label>
            <select [class.col-6]="isModelManage" [class.col-9]="!isModelManage"
              class="col-6 form-control custom-select p-1" [(ngModel)]="selectedModelId" id="savedModel"
              formControlName="savedModel" (ngModelChange)="selectModel($event)"
              [attr.disabled]="!savedModels.length ? '' : null">
              <option [value]="'noPresetSelected'" [selected]="selectedModel === 'noPresetSelected'"
                i18n="interrogatingMailingModalSelectSavedTemplatesPlaceholder">
                Sélectionnez un modèle
              </option>
              <option [value]="model.pk_modele_id" *ngFor="let model of savedModels; let i = index;">{{
                model.modele_name }}</option>
            </select>
            <div *ngIf="mailingTool && mailingTool.manageModel" class="col-3 pr-0">
              <button class="btn btn-modal w-100 px-3" (click)="deleteModel()"
                i18n="interrogatingMailingModalRemoveSelectedSavedTemplateButton">Supprimer</button>
            </div>
          </div>
          <div class="col-12 form-group row">
            <label class="col-3 col-form-label">
              <ng-container i18n="interrogatingMailingModalMailSubjectLabel">Objet</ng-container>*
            </label>
            <input class="col-9 form-control" id="mailingObject" formControlName="mailingObject" type="text"
              name="mailingObject" i18n-placeholder="interrogatingMailingModalMailSubjectPlaceholder"
              placeholder="Objet" required="required">
          </div>
          <div class="col-12 form-group row">
            <label class="col-3 col-form-label">
              <ng-container i18n="interrogatingMailingModalMailMessageLabel">Message</ng-container>*
            </label>
            <div class="col-9 px-0">
              <angular-editor [placeholder]="editorPlaceholder" [config]="editorConfig"
                formControlName="mailingMessage">
              </angular-editor>
            </div>
          </div>
          <div class="col-12 form-group row">
            <label class="col-3 col-form-label" i18n="interrogatingMailingModalAvailableMailingFieldsLabel">Champs de
              publipostage disponibles</label>
            <textarea class="col-9 px-0 form-control" cols="15" rows="3" formControlName="mailingFields"
              readonly></textarea>
          </div>
          <div *ngIf="mailingTool && mailingTool.manageModel" class="col-12 form-group row">
            <label class="col-3 col-form-label">
              <ng-container
                *ngIf="selectedModelId === 'noPresetSelected'; then thenTemplateNoPresetSelected; else elseTemplateSelected">
              </ng-container>
              <ng-template #thenTemplateNoPresetSelected i18n="interrogatingMailingModalCreateMailingTemplateLabel">
                Créer un modèle
              </ng-template>
              <ng-template #elseTemplateSelected i18n="interrogatingMailingModalUpdateMailingTemplateLabel">
                Mettre à jour le modèle
              </ng-template>
            </label>
            <label class="col-1 m-auto px-0 customcheck">
              <input #checkboxInput formControlName="checkbox" type="checkbox" name="checkbox">
              <span class="checkmark"></span>
            </label>
            <span *ngIf="!mailingForm.get('checkbox').value" class="col-8"></span>
            <input *ngIf="mailingForm.get('checkbox').value" class="col-6 form-control" id="modelName"
              formControlName="modelName" type="text" name="modelName"
              i18n-placeholder="interrogatingMailingModalMailingTemplateNamePlaceholder" placeholder="Nom du modèle">
            <div *ngIf="mailingForm.get('checkbox').value" class="col-2 pr-0">
              <button class="btn btn-modal w-100 px-3" (click)="updateModel()"
                [disabled]="!mailingForm.get('mailingObject').value || !mailingForm.get('mailingMessage').value || !mailingForm.get('modelName').value">
                <ng-container
                  *ngIf="selectedModelId === 'noPresetSelected'; then thenTemplateNoPresetSelectedButton; else elseTemplateSelectedButton">
                </ng-container>
                <ng-template #thenTemplateNoPresetSelectedButton
                  i18n="interrogatingMailingModalCreateMailingTemplateButton">
                  Sauvegarder
                </ng-template>
                <ng-template #elseTemplateSelectedButton i18n="interrogatingMailingModalUpdateMailingTemplateButton">
                  Mettre à jour
                </ng-template>
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="text-right my-4">
        <button class="btn btn-modal mx-1 px-3 py-2" (click)="sendMail('test', mailingForm, currentLayerResults)"
          i18n="@@interrogatingMailingModalTestButton">
          Tester
        </button>
        <button class="btn btn-modal mx-1 px-3 py-2" (click)="sendMail('send', mailingForm, currentLayerResults)"
          i18n="@@interrogatingMailingModalSendButton">
          Envoyer
        </button>
        <button class="btn btn-modal mx-1 px-3 py-2" (click)="activeModal.close();"
          i18n="@@interrogatingMailingModalCloseButton">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Traduction du placeholder de la config de ckeditor -->
<input type="hidden" #editorConfigPlaceholder i18n-value="@@interrogatingMailingModalMailMessagePlaceholder"
  value="Tapez votre texte ici..." />

<!-- Toast succes envoi de mail -->
<div class="toast" [class.show]="showToastSendSuccess" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body" i18n="@@interrogatingMailingModalMailingSendSuccessToast">
    Le mail a bien été envoyé.
  </div>
</div>
<!-- Toast erreur envoi de mail -->
<div class="toast" [class.show]="showToastSendError" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body" i18n="@@interrogatingMailingModalMailingSendErrorToast">
    Une erreur est survenue lors de l'envoi de mail.
  </div>
</div>
<!-- Toast succes test envoi de mail -->
<div class="toast" [class.show]="showToastTestSuccess" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body" i18n="@@interrogatingMailingModalMailingTestSuccessToast">
    Le test d'envoi de mail est un succès.
  </div>
</div>
<!-- Toast erreur test envoi de mail -->
<div class="toast" [class.show]="showToastTestError" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body" i18n="@@interrogatingMailingModalMailingTestErrorToast">
    Le test d'envoi de mail a échoué.
  </div>
</div>

<alk-alert-confirm-prompt-modal [type]="'confirm'" i18n-title="@@interrogatingMailingModalRemoveTemplateConfirmTitle"
  [title]="'Supprimer'" i18n-description="@@interrogatingMailingModalRemoveTemplateConfirmDescription"
  [description]="'Êtes-vous certains de vouloir supprimer ce modèle ?'" [buttonValidationColor]="'danger'"
  i18n-buttonValidationText="@@interrogatingMailingModalRemoveTemplateConfirmButtonValidationText"
  [buttonValidationText]="'Supprimer'"></alk-alert-confirm-prompt-modal>