<div class="modal-header p-4">
  <span class="modal-title align-self-center ml-2" id="exampleModalLabel">
    <i class="fa fars-annoter mr-2"></i>
    <strong>{{ toolName }}</strong>
  </span>
  <button type="button" class="close my-auto p-0 mr-2" data-dismiss="modal" (click)="activeModal.close();">
    <span aria-hidden="true"><i class="fa fars-close"></i></span>
  </button>
</div>

<!-- <div #copyToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body">
    {{ toastResponse }}
  </div>
</div> -->
